Repository port-labs/ocean, pull requests merged in 2024-08, with the labels that each got.

#853 [Integration][Azure] Add _target='blank' attribute to spec links
  integrations/azure/.port/spec.yaml
  integrations/azure/CHANGELOG.md
  integrations/azure/pyproject.toml
Labels: size/XS

#852 [Integration][Wiz] Added _target='blank' attribute to spec links
  integrations/wiz/.port/spec.yaml
  integrations/wiz/CHANGELOG.md
  integrations/wiz/pyproject.toml
Labels: size/XS

#846 [Integration][SonarQube] - Make sonarqube metrics configurable
  integrations/sonarqube/.port/resources/port-app-config.yaml
  integrations/sonarqube/CHANGELOG.md
  integrations/sonarqube/client.py
  integrations/sonarqube/integration.py
  integrations/sonarqube/pyproject.toml
Labels: size/M

#869 [Integration][Dynatrace][Jira] Change url links in spec parameters to point to open a new tab instead of in the existing tab
  integrations/dynatrace/.port/spec.yaml
  integrations/dynatrace/CHANGELOG.md
  integrations/dynatrace/pyproject.toml
  integrations/jira/.port/spec.yaml
  integrations/jira/CHANGELOG.md
  integrations/jira/pyproject.toml
Labels: size/S

#872 [Integration][Azure DevOps, Launchdarkly, Terraform Cloud ] Add _target='blank' attribute to spec
  integrations/azure-devops/.port/spec.yaml
  integrations/azure-devops/CHANGELOG.md
  integrations/azure-devops/pyproject.toml
  integrations/launchdarkly/.port/spec.yaml
  integrations/launchdarkly/CHANGELOG.md
  integrations/launchdarkly/pyproject.toml
  integrations/terraform-cloud/.port/spec.yaml
  integrations/terraform-cloud/CHANGELOG.md
  integrations/terraform-cloud/pyproject.toml
Labels: size/S

#870 [Core] Fix unpacking issue in unregister raw function
  CHANGELOG.md
  port_ocean/core/integrations/mixins/sync_raw.py
  pyproject.toml
Labels: size/S

#858 [Integration][FireHydrant] Added _target='blank' attribute to spec links
  integrations/firehydrant/.port/spec.yaml
  integrations/firehydrant/CHANGELOG.md
  integrations/firehydrant/pyproject.toml
Labels: size/XS

#859 [Integration][OpsGenie] Added _target='blank' attribute to spec links
  integrations/opsgenie/.port/spec.yaml
  integrations/opsgenie/CHANGELOG.md
  integrations/opsgenie/pyproject.toml
Labels: size/XS

#860 [Integration][Linear] Added _target='blank' attribute to spec links
  integrations/linear/.port/spec.yaml
  integrations/linear/CHANGELOG.md
  integrations/linear/pyproject.toml
Labels: size/XS

#875 [Integration][Statuspage, AWS, GCP] Add _target='blank' attribute to spec links
  integrations/aws/.port/spec.yaml
  integrations/aws/CHANGELOG.md
  integrations/aws/pyproject.toml
  integrations/gcp/.port/spec.yaml
  integrations/gcp/CHANGELOG.md
  integrations/gcp/pyproject.toml
  integrations/statuspage/.port/spec.yaml
  integrations/statuspage/CHANGELOG.md
  integrations/statuspage/pyproject.toml
Labels: size/S

#862 [Integration][Snyk, PD, Argo, NewRelic, ServiceNow] Add target=blank to integrations
  integrations/argocd/.port/spec.yaml
  integrations/argocd/CHANGELOG.md
  integrations/argocd/pyproject.toml
  integrations/newrelic/.port/spec.yaml
  integrations/newrelic/CHANGELOG.md
  integrations/newrelic/pyproject.toml
  integrations/pagerduty/.port/spec.yaml
  integrations/pagerduty/CHANGELOG.md
  integrations/pagerduty/pyproject.toml
  integrations/servicenow/.port/spec.yaml
  integrations/servicenow/CHANGELOG.md
  integrations/servicenow/pyproject.toml
  integrations/snyk/.port/spec.yaml
  integrations/snyk/CHANGELOG.md
  integrations/snyk/pyproject.toml
  integrations/sonarqube/.port/spec.yaml
  integrations/sonarqube/CHANGELOG.md
  integrations/sonarqube/pyproject.toml
Labels: size/M

#851 [Integration][Datadog] Add _target='blank' attribute to spec links
  integrations/datadog/.port/spec.yaml
  integrations/datadog/CHANGELOG.md
  integrations/datadog/pyproject.toml
Labels: size/XS

#881 Port 8461 ocean integration config is not a valid dict
  CHANGELOG.md
  port_ocean/config/base.py
  port_ocean/config/settings.py
  port_ocean/ocean.py
  pyproject.toml
Labels: size/M

#883 Port 9632 ocean align integrations towncrier
  CHANGELOG.md
  integrations/argocd/CHANGELOG.md
  integrations/argocd/pyproject.toml
  integrations/aws/CHANGELOG.md
  integrations/aws/pyproject.toml
  integrations/azure-devops/CHANGELOG.md
  integrations/azure-devops/pyproject.toml
  integrations/azure-devops/sonar-project.properties
  integrations/azure/CHANGELOG.md
  integrations/datadog/.dockerignore
  integrations/datadog/CHANGELOG.md
  integrations/datadog/pyproject.toml
  integrations/datadog/sonar-project.properties
  integrations/dynatrace/CHANGELOG.md
  integrations/dynatrace/pyproject.toml
  integrations/firehydrant/CHANGELOG.md
  integrations/firehydrant/pyproject.toml
  integrations/gcp/.dockerignore
  integrations/gcp/CHANGELOG.md
  integrations/gcp/pyproject.toml
  integrations/gcp/sonar-project.properties
  integrations/gitlab/CHANGELOG.md
  integrations/jenkins/CHANGELOG.md
  integrations/jenkins/pyproject.toml
  integrations/jira/CHANGELOG.md
  integrations/jira/pyproject.toml
  integrations/kafka/CHANGELOG.md
  integrations/kafka/pyproject.toml
  integrations/kubecost/CHANGELOG.md
  integrations/kubecost/pyproject.toml
  integrations/launchdarkly/CHANGELOG.md
  integrations/launchdarkly/pyproject.toml
  integrations/linear/.dockerignore
  integrations/linear/CHANGELOG.md
  integrations/linear/pyproject.toml
  integrations/newrelic/CHANGELOG.md
  integrations/newrelic/pyproject.toml
  integrations/opencost/CHANGELOG.md
  integrations/opencost/pyproject.toml
  integrations/opsgenie/CHANGELOG.md
  integrations/opsgenie/pyproject.toml
  integrations/pagerduty/CHANGELOG.md
  integrations/pagerduty/pyproject.toml
  integrations/sentry/CHANGELOG.md
  integrations/sentry/pyproject.toml
  integrations/servicenow/CHANGELOG.md
  integrations/servicenow/pyproject.toml
  integrations/snyk/CHANGELOG.md
  integrations/snyk/pyproject.toml
  integrations/sonarqube/CHANGELOG.md
  integrations/sonarqube/pyproject.toml
  integrations/statuspage/CHANGELOG.md
  integrations/statuspage/pyproject.toml
  integrations/terraform-cloud/CHANGELOG.md
  integrations/terraform-cloud/pyproject.toml
  integrations/wiz/CHANGELOG.md
  integrations/wiz/pyproject.toml
  port_ocean/cli/cookiecutter/hooks/post_gen_project.py
  port_ocean/cli/cookiecutter/{{cookiecutter.integration_slug}}/pyproject.toml
  pyproject.toml
Labels: size/XXL

#887 [Framework] Not showing misleading error message if port state is empty
  CHANGELOG.md
  port_ocean/core/integrations/mixins/sync_raw.py
  pyproject.toml
Labels: size/XS

#886 [Integration][Pagerduty] Fix incident default mapping and blueprint
  integrations/pagerduty/.port/resources/blueprints.json
  integrations/pagerduty/.port/resources/port-app-config.yaml
  integrations/pagerduty/CHANGELOG.md
  integrations/pagerduty/pyproject.toml
Labels: size/XS

#868 PORT-9572 Update the default JQL provided by the JIRA integration
  integrations/jira/.port/resources/blueprints.json
  integrations/jira/.port/resources/port-app-config.yaml
  integrations/jira/CHANGELOG.md
  integrations/jira/pyproject.toml
Labels: size/S

#845 [AWS] Bug fix global resources not synced for all accounts
  integrations/aws/CHANGELOG.md
  integrations/aws/aws/aws_credentials.py
  integrations/aws/main.py
  integrations/aws/pyproject.toml
  integrations/aws/utils/aws.py
  integrations/aws/utils/resources.py
Labels: size/L

#889 [Integration][AWS] throw error if no permissions on region
  integrations/aws/CHANGELOG.md
  integrations/aws/main.py
  integrations/aws/pyproject.toml
  integrations/aws/utils/misc.py
Labels: size/S

#890 [Core] Fix resync issue when using `search identifier` in relation schema
  CHANGELOG.md
  poetry.lock
  port_ocean/clients/port/mixins/entities.py
  port_ocean/core/handlers/entities_state_applier/base.py
  port_ocean/core/handlers/entities_state_applier/port/applier.py
  port_ocean/core/integrations/mixins/sync.py
  port_ocean/core/integrations/mixins/sync_raw.py
  pyproject.toml
Labels: size/M

#895 [CI] Release spec for each version
  .github/workflows/release-integrations.yml
Labels: size/M

#896 [Core][Port-9473] Migrate to actions v2
  CHANGELOG.md
  port_ocean/clients/port/mixins/blueprints.py
  port_ocean/core/defaults/common.py
  port_ocean/core/defaults/initialize.py
  pyproject.toml
Labels: size/S

#897 [Gitlab][PORT-9473] Migrated gitlab to actions v2
  integrations/gitlab/.port/resources/actions.json
  integrations/gitlab/CHANGELOG.md
  integrations/gitlab/pyproject.toml
Labels: size/L

#898 [Integration][GCP] | Improved rate limit handling
  integrations/gcp/CHANGELOG.md
  integrations/gcp/gcp_core/search/iterators.py
  integrations/gcp/gcp_core/search/resource_searches.py
  integrations/gcp/gcp_core/search/utils.py
  integrations/gcp/pyproject.toml
Labels: size/M

#891 [Integration][GitLab] - Add support for file kind
  integrations/gitlab/CHANGELOG.md
  integrations/gitlab/gitlab_integration/core/async_fetcher.py
  integrations/gitlab/gitlab_integration/events/hooks/project_files.py
  integrations/gitlab/gitlab_integration/events/hooks/push.py
  integrations/gitlab/gitlab_integration/events/setup.py
  integrations/gitlab/gitlab_integration/git_integration.py
  integrations/gitlab/gitlab_integration/gitlab_service.py
  integrations/gitlab/gitlab_integration/ocean.py
  integrations/gitlab/gitlab_integration/utils.py
  integrations/gitlab/pyproject.toml
Labels: size/L

#901 [Integration][Kubecost] Kubecost integration fetch data error
  integrations/kubecost/CHANGELOG.md
  integrations/kubecost/main.py
  integrations/kubecost/pyproject.toml
Labels: size/XS

#871 Added description to configuration properties in spec.yaml (PORT-9538)
  integrations/gitlab/.port/spec.yaml
  integrations/gitlab/CHANGELOG.md
  integrations/gitlab/pyproject.toml
Labels: size/XS

#840 [Integration][New Relic] - Add support for service level
  integrations/newrelic/.port/resources/blueprints.json
  integrations/newrelic/.port/resources/port-app-config.yaml
  integrations/newrelic/.port/spec.yaml
  integrations/newrelic/CHANGELOG.md
  integrations/newrelic/newrelic_integration/core/entities.py
  integrations/newrelic/newrelic_integration/core/query_templates/service_levels.py
  integrations/newrelic/newrelic_integration/core/service_levels.py
  integrations/newrelic/newrelic_integration/core/utils.py
  integrations/newrelic/newrelic_integration/ocean.py
  integrations/newrelic/pyproject.toml
Labels: size/L

#910 Change PagerDuty created_at title to Created At
  integrations/pagerduty/.port/resources/blueprints.json
  integrations/pagerduty/CHANGELOG.md
  integrations/pagerduty/pyproject.toml
Labels: size/XS

#911 Create CODEOWNERS
  .github/CODEOWNERS
Labels: size/M

#913 [Gitlab] Fix still processing a file larger than the allowed size
  integrations/gitlab/CHANGELOG.md
  integrations/gitlab/gitlab_integration/gitlab_service.py
  integrations/gitlab/pyproject.toml
Labels: size/S

#915 Pydantic fail cli
  CHANGELOG.md
  port_ocean/config/settings.py
  pyproject.toml
Labels: size/XS

#867 [Integration][Datadog] Add metrics availabity data on service and hosts
  integrations/datadog/.port/resources/blueprints.json
  integrations/datadog/.port/resources/port-app-config.yaml
  integrations/datadog/.port/spec.yaml
  integrations/datadog/CHANGELOG.md
  integrations/datadog/client.py
  integrations/datadog/main.py
  integrations/datadog/overrides.py
  integrations/datadog/poetry.lock
  integrations/datadog/pyproject.toml
Labels: size/L

#917 [Gitlab] Fixed merge requests and issue resync methods to use an async method of listing root groups
  integrations/gitlab/CHANGELOG.md
  integrations/gitlab/gitlab_integration/gitlab_service.py
  integrations/gitlab/gitlab_integration/ocean.py
  integrations/gitlab/poetry.lock
  integrations/gitlab/pyproject.toml
Labels: size/M

#893 [ADO] Add work items to get issues, tasks, and epics
  integrations/azure-devops/.port/resources/blueprints.json
  integrations/azure-devops/.port/resources/port-app-config.yaml
  integrations/azure-devops/CHANGELOG.md
  integrations/azure-devops/azure_devops/client/azure_devops_client.py
  integrations/azure-devops/azure_devops/misc.py
  integrations/azure-devops/main.py
  integrations/azure-devops/pyproject.toml
Labels: size/L

#835 [Core] ocean core next resync
  CHANGELOG.md
  port_ocean/clients/port/client.py
  port_ocean/config/settings.py
  port_ocean/core/event_listener/base.py
  port_ocean/core/event_listener/http.py
  port_ocean/core/event_listener/kafka.py
  port_ocean/core/event_listener/once.py
  port_ocean/core/event_listener/polling.py
  port_ocean/core/handlers/resync_state_updater/__init__.py
  port_ocean/core/handlers/resync_state_updater/updater.py
  port_ocean/core/models.py
  port_ocean/core/utils.py
  port_ocean/ocean.py
  port_ocean/utils/misc.py
  port_ocean/utils/time.py
  pyproject.toml
Labels: size/L

#931 fix resync-state kafka listener bug
  CHANGELOG.md
  port_ocean/core/event_listener/kafka.py
Labels: size/XS

#880 [Integration][Octopus] Added integration with support for Spaces Project, Release, Deployments and Machines
  integrations/octopus/.gitignore
  integrations/octopus/.port/resources/.gitignore
  integrations/octopus/.port/resources/blueprints.json
  integrations/octopus/.port/resources/port-app-config.yaml
  integrations/octopus/.port/spec.yaml
  integrations/octopus/CHANGELOG.md
  integrations/octopus/Makefile
  integrations/octopus/README.md
  integrations/octopus/client.py
  integrations/octopus/debug.py
  integrations/octopus/main.py
  integrations/octopus/poetry.lock
  integrations/octopus/poetry.toml
  integrations/octopus/pyproject.toml
  integrations/octopus/sonar-project.properties
  integrations/octopus/tests/__init__.py
  integrations/octopus/tests/test_sample.py
Labels: size/XXL

#921 [GCP] Changed tf module for gcp integration
  integrations/gcp/.port/spec.yaml
  integrations/gcp/CHANGELOG.md
  integrations/gcp/pyproject.toml
Labels: size/S

#919 Update cookiecutter to integration standards
  Makefile
  poetry.lock
  port_ocean/cli/commands/new.py
  port_ocean/cli/cookiecutter/{{cookiecutter.integration_slug}}/.env.example
  port_ocean/cli/cookiecutter/{{cookiecutter.integration_slug}}/.port/resources/blueprints.json
  port_ocean/cli/cookiecutter/{{cookiecutter.integration_slug}}/.port/resources/port-app-config.yml
  port_ocean/cli/cookiecutter/{{cookiecutter.integration_slug}}/.port/spec.yaml
  port_ocean/cli/cookiecutter/{{cookiecutter.integration_slug}}/CHANGELOG.md
  port_ocean/cli/cookiecutter/{{cookiecutter.integration_slug}}/CONTRIBUTING.md
  port_ocean/cli/cookiecutter/{{cookiecutter.integration_slug}}/Makefile
  port_ocean/cli/cookiecutter/{{cookiecutter.integration_slug}}/changelog/.gitignore
  port_ocean/cli/cookiecutter/{{cookiecutter.integration_slug}}/main.py
  port_ocean/cli/cookiecutter/{{cookiecutter.integration_slug}}/pyproject.toml
  port_ocean/config/settings.py
  pyproject.toml
Labels: size/L

#943 [Framework] Refer to entity in upsert entity response
  .idea/watcherTasks.xml
  CHANGELOG.md
  port_ocean/clients/port/mixins/entities.py
  pyproject.toml
Labels: size/S

#950 [Framework] Remove entity key from upsert entity response
  CHANGELOG.md
  port_ocean/clients/port/mixins/entities.py
  pyproject.toml
Labels: size/XS

#954 [CI] Update pr templates
  .github/PULL_REQUEST_TEMPLATE.md
Labels: size/S

#955 [Integration][AWS] fix integration config class name
  integrations/aws/CHANGELOG.md
  integrations/aws/integration.py
  integrations/aws/pyproject.toml
Labels: size/XS

#952 [Integration][Sonarqube] - Fix sonarQube client has no attributes metrics
  integrations/sonarqube/CHANGELOG.md
  integrations/sonarqube/client.py
  integrations/sonarqube/main.py
  integrations/sonarqube/pyproject.toml
Labels: size/S

#949 [Integration][AWS] use the same event loop for all threads
  CHANGELOG.md
  port_ocean/ocean.py
  pyproject.toml
Labels: size/XS

#956 [Framework] Fix bug search relation error unhashable dict
  CHANGELOG.md
  port_ocean/clients/port/mixins/entities.py
  pyproject.toml
Labels: size/S

#963 Basic sync test support
  .github/workflows/test.yml
  Makefile
  poetry.lock
  port_ocean/tests/helpers/__init__.py
  pyproject.toml
Labels: size/L

#966 Bump core to 0.10.5
  CHANGELOG.md
  pyproject.toml
Labels: size/XS
