Repository port-labs/ocean, pull requests merged in 2024-12, with the labels that each got.

#1183 [Integration] Add support for syncing cloud resources from Datadog, Dynatrace, and New Relic
  integrations/datadog/.port/resources/blueprints.json
  integrations/datadog/.port/resources/port-app-config.yaml
  integrations/datadog/CHANGELOG.md
  integrations/datadog/pyproject.toml
  integrations/dynatrace/.port/resources/blueprints.json
  integrations/dynatrace/.port/resources/port-app-config.yaml
  integrations/dynatrace/CHANGELOG.md
  integrations/dynatrace/pyproject.toml
  integrations/newrelic/.port/resources/blueprints.json
  integrations/newrelic/.port/resources/port-app-config.yaml
  integrations/newrelic/CHANGELOG.md
  integrations/newrelic/pyproject.toml
Labels: size/L

#1195 [Core] Handle and log client timeouts
  CHANGELOG.md
  port_ocean/helpers/retry.py
  pyproject.toml
Labels: size/S

#1176 [Core] Performance measure framework
  .github/workflows/core-test.yml
  .github/workflows/perf-test.yml
  CHANGELOG.md
  integrations/_infra/Makefile
  integrations/fake-integration/.port/resources/blueprints.json
  integrations/fake-integration/.port/resources/port-app-config.yml
  integrations/fake-integration/.port/spec.yaml
  integrations/fake-integration/fake_org_data/fake_client.py
  integrations/fake-integration/fake_org_data/fake_router.py
  integrations/fake-integration/fake_org_data/generator.py
  integrations/fake-integration/fake_org_data/types.py
  integrations/fake-integration/main.py
  integrations/fake-integration/tests/test_sync.py
  pyproject.toml
  scripts/run-local-perf-test.sh
  scripts/run-local-smoke-test.sh
  scripts/run-smoke-test.sh
  scripts/smoke-test-base.sh
Labels: size/L

#1200 [Core] Added warning for personal credentials
  CHANGELOG.md
  port_ocean/clients/port/authentication.py
  port_ocean/tests/log/test_handlers.py
  pyproject.toml
Labels: size/S

#1201 [Core] Fix `bump-all.sh` to use `pip` for finding out ocean version
  scripts/bump-all.sh
Labels: size/XS

#1202 [Integration][Datadog] Remove `slo_history` from default templates
  integrations/datadog/.port/resources/blueprints.json
  integrations/datadog/.port/resources/port-app-config.yaml
  integrations/datadog/CHANGELOG.md
  integrations/datadog/examples/blueprints.json
  integrations/datadog/examples/mappings.yaml
  integrations/datadog/pyproject.toml
Labels: size/L

#1206 [CI] Add prefix to pr name created by integration bump pipeline
  .github/workflows/apply-release.yml
Labels: size/XS

#1207 [Core] Fix `apply-release.yml` to use `pip` for finding out ocean version
  .github/workflows/apply-release.yml
Labels: size/XS

#1209 [Core] Fix `apply-release.yml` and `bump-all.sh` to look on different…
  .github/workflows/apply-release.yml
  scripts/bump-all.sh
Labels: size/XS

#1193 [Integration][OpsGenie] Add support for users, teams and relations with existing resource
  integrations/opsgenie/.port/resources/blueprints.json
  integrations/opsgenie/.port/resources/port-app-config.yaml
  integrations/opsgenie/.port/spec.yaml
  integrations/opsgenie/CHANGELOG.md
  integrations/opsgenie/client.py
  integrations/opsgenie/integration.py
  integrations/opsgenie/main.py
  integrations/opsgenie/pyproject.toml
  integrations/opsgenie/utils.py
Labels: size/L

#1203 [Integration][Jira] Use bearer token in case using Atlassian api gateway for OAuth
  integrations/jira/.port/spec.yaml
  integrations/jira/CHANGELOG.md
  integrations/jira/jira/client.py
  integrations/jira/pyproject.toml
Labels: size/S

#1196 [Integration][Jira] Enhance Jira Sync with Users, Mapping Issues To Users
  integrations/jira/.port/resources/blueprints.json
  integrations/jira/.port/resources/port-app-config.yaml
  integrations/jira/.port/spec.yaml
  integrations/jira/CHANGELOG.md
  integrations/jira/jira/client.py
  integrations/jira/main.py
  integrations/jira/pyproject.toml
Labels: size/L

#1213 [Core] Ocean perf test last rename typos
  integrations/fake-integration/fake_org_data/fake_client.py
Labels: size/XS

#1214 [Core] Add optional mock port api for perf tests
  .github/workflows/core-test.yml
  .github/workflows/perf-test.yml
  Makefile
  integrations/jira/.port/resources/port-app-config.yaml
  port_ocean/tests/helpers/fake_port_api.py
  scripts/run-local-perf-test.sh
Labels: size/L

#1118 [Integration][GCP] | Optionally convert resource fields to camelCase for non cloud asset apis
  integrations/gcp/CHANGELOG.md
  integrations/gcp/gcp_core/overrides.py
  integrations/gcp/gcp_core/utils.py
  integrations/gcp/pyproject.toml
  integrations/gcp/tests/gcp_core/search/test_resource_searches.py
Labels: size/L

#1220 [Integration][PagerDuty] - Improve on service analytics
  integrations/pagerduty/CHANGELOG.md
  integrations/pagerduty/clients/pagerduty.py
  integrations/pagerduty/main.py
  integrations/pagerduty/pyproject.toml
  integrations/pagerduty/tests/test_client.py
Labels: size/M

#1185 [Docs] Upgrade stream from 0.0.2 to 0.0.3
  docs/framework-guides/package-lock.json
  docs/framework-guides/package.json
Labels: size/S

#1184 [Docs] Upgrade redocusaurus from 2.0.0 to 2.1.2
  docs/framework-guides/package-lock.json
  docs/framework-guides/package.json
Labels: size/XXL

#1222 [Integration][ADO] - Add support for expanding work items
  integrations/azure-devops/.port/resources/port-app-config.yaml
  integrations/azure-devops/CHANGELOG.md
  integrations/azure-devops/azure_devops/client/azure_devops_client.py
  integrations/azure-devops/azure_devops/misc.py
  integrations/azure-devops/main.py
  integrations/azure-devops/pyproject.toml
  integrations/azure-devops/tests/azure_devops/client/test_azure_devops_client.py
Labels: size/M

#1228 [Core] Add `SaasOauth` runtime support
  CHANGELOG.md
  port_ocean/config/settings.py
  port_ocean/core/models.py
  port_ocean/ocean.py
  pyproject.toml
Labels: size/XS

#1224 [Integration][ADO] Fix Release Pagination Using Incorrect Parameter
  integrations/azure-devops/CHANGELOG.md
  integrations/azure-devops/azure_devops/client/azure_devops_client.py
  integrations/azure-devops/azure_devops/client/base_client.py
  integrations/azure-devops/pyproject.toml
  integrations/azure-devops/tests/azure_devops/client/test_azure_devops_client.py
Labels: size/S

#1237 [Core] Change `SaasOauth` to `SaasOauth2` runtime
  CHANGELOG.md
  port_ocean/core/models.py
  pyproject.toml
Labels: size/XS

#1239 [Core] Add handling for different installation types
  CHANGELOG.md
  port_ocean/core/models.py
  port_ocean/core/utils.py
  port_ocean/tests/core/test_utils.py
  pyproject.toml
Labels: size/M

#1245 [Integration][GitLab] Add project labels
  integrations/gitlab/CHANGELOG.md
  integrations/gitlab/gitlab_integration/gitlab_service.py
  integrations/gitlab/pyproject.toml
Labels: size/S

#1250 [Integration] [fake integration] Added webhooks to fake integration
  integrations/fake-integration/CHANGELOG.md
  integrations/fake-integration/fake_org_data/fake_client.py
  integrations/fake-integration/main.py
  integrations/fake-integration/pyproject.toml
Labels: size/S

#1229 [Integration][Sentry] - Add Users and Teams
  integrations/sentry/.port/resources/blueprints.json
  integrations/sentry/.port/resources/port-app-config.yaml
  integrations/sentry/.port/spec.yaml
  integrations/sentry/CHANGELOG.md
  integrations/sentry/clients/sentry.py
  integrations/sentry/integration.py
  integrations/sentry/main.py
  integrations/sentry/pyproject.toml
Labels: size/L

#1257 [Integration][GitLab] Make Project Labels Optional
  integrations/gitlab/.port/resources/blueprints.json
  integrations/gitlab/.port/resources/port-app-config.yaml
  integrations/gitlab/CHANGELOG.md
  integrations/gitlab/gitlab_integration/events/hooks/push.py
  integrations/gitlab/gitlab_integration/git_integration.py
  integrations/gitlab/gitlab_integration/gitlab_service.py
  integrations/gitlab/gitlab_integration/ocean.py
  integrations/gitlab/pyproject.toml
Labels: size/M

#1255 [Core] Extend ocean new cli command
  .vscode/launch.json
  CHANGELOG.md
  docs/framework-guides/docs/getting-started/getting-started.md
  port_ocean/cli/commands/new.py
  port_ocean/cli/cookiecutter/cookiecutter.json
  port_ocean/cli/cookiecutter/{{cookiecutter.integration_slug}}/.env.example
  port_ocean/debug_cli.py
  pyproject.toml
Labels: size/M

#1146 [Integration][SonarQube] Added support for querying projects via the GA API
  integrations/sonarqube/.port/resources/blueprints.json
  integrations/sonarqube/.port/resources/port-app-config.yaml
  integrations/sonarqube/.port/spec.yaml
  integrations/sonarqube/CHANGELOG.md
  integrations/sonarqube/client.py
  integrations/sonarqube/examples/blueprints.json
  integrations/sonarqube/examples/mappings.yaml
  integrations/sonarqube/examples/project.entity.json
  integrations/sonarqube/examples/project.response.json
  integrations/sonarqube/integration.py
  integrations/sonarqube/main.py
  integrations/sonarqube/pyproject.toml
  integrations/sonarqube/tests/conftest.py
  integrations/sonarqube/tests/fixtures.py
  integrations/sonarqube/tests/test_client.py
  integrations/sonarqube/tests/test_sample.py
  integrations/sonarqube/tests/test_sync.py
  integrations/sonarqube/utils.py
Labels: size/XXL

#1268 [Integration] [Sonarqube] Added __branches as exported data
  integrations/sonarqube/CHANGELOG.md
  integrations/sonarqube/client.py
  integrations/sonarqube/pyproject.toml
Labels: size/XS

#1241 [Core] Add retry for failed upserts and handle circular dependencies
  CHANGELOG.md
  integrations/sonarqube/examples/project.entity.json
  port_ocean/clients/port/mixins/entities.py
  port_ocean/context/event.py
  port_ocean/core/defaults/initialize.py
  port_ocean/core/handlers/entities_state_applier/port/applier.py
  port_ocean/core/handlers/entities_state_applier/port/order_by_entities_dependencies.py
  port_ocean/core/handlers/entity_processor/jq_entity_processor.py
  port_ocean/core/integrations/mixins/sync_raw.py
  port_ocean/core/integrations/mixins/utils.py
  port_ocean/core/models.py
  port_ocean/core/utils/entity_topological_sorter.py
  port_ocean/core/utils/utils.py
  port_ocean/run.py
  port_ocean/tests/core/handlers/mixins/test_sync_raw.py
  port_ocean/tests/core/test_utils.py
  port_ocean/tests/core/utils/test_entity_topological_sorter.py
  pyproject.toml
Labels: size/L

#1265 [Core] Added logs for JQ misconfigured mappings
  CHANGELOG.md
  port_ocean/core/handlers/entity_processor/jq_entity_processor.py
  port_ocean/core/integrations/mixins/sync_raw.py
  port_ocean/core/ocean_types.py
  port_ocean/tests/core/handlers/entity_processor/test_jq_entity_processor.py
  pyproject.toml
Labels: size/M

#1247 [Integration][GCP] Fixed issues preventing the proper processing of real-time events
  integrations/gcp/CHANGELOG.md
  integrations/gcp/gcp_core/overrides.py
  integrations/gcp/gcp_core/search/resource_searches.py
  integrations/gcp/gcp_core/utils.py
  integrations/gcp/main.py
  integrations/gcp/pyproject.toml
  integrations/gcp/tests/gcp_core/search/test_resource_searches.py
Labels: size/M

#1271 [Integration][Jira] set jira oauth integration to minimum of 2hr resync schedules
  integrations/gitlab/CHANGELOG.md
  integrations/gitlab/pyproject.toml
  integrations/jira/.port/spec.yaml
Labels: size/XS

#1274 [Integration][Pagerduty] Port 12076 pagerduty oauth support
  integrations/pagerduty/.port/spec.yaml
  integrations/pagerduty/CHANGELOG.md
  integrations/pagerduty/clients/pagerduty.py
  integrations/pagerduty/pyproject.toml
Labels: size/S

#1276 [Integration][PagerDuty] Port 12076 pagerduty OAuth support
  integrations/pagerduty/.port/spec.yaml
  integrations/pagerduty/CHANGELOG.md
  integrations/pagerduty/pyproject.toml
Labels: size/XS

#1256 [Integration][Datadog] Datadog Teams and Users
  integrations/datadog/.port/resources/blueprints.json
  integrations/datadog/.port/resources/port-app-config.yaml
  integrations/datadog/.port/spec.yaml
  integrations/datadog/CHANGELOG.md
  integrations/datadog/client.py
  integrations/datadog/main.py
  integrations/datadog/overrides.py
  integrations/datadog/pyproject.toml
  integrations/datadog/tests/test_client.py
Labels: size/L

#1279 [Core] Added None type for wrapper
  CHANGELOG.md
  port_ocean/context/ocean.py
  port_ocean/core/integrations/mixins/events.py
  pyproject.toml
Labels: size/XS

#1281 [Core] Fixed lint
  CHANGELOG.md
  port_ocean/context/ocean.py
  pyproject.toml
Labels: size/XS
