Repository port-labs/ocean, pull requests merged in 2024-06, with the labels that each got.

#680 feat: add aws deploymentMethodOverride
  integrations/aws/.port/spec.yaml
Labels: size/S

#679 fix(sonarqube) - Fix sonarqube trying to access selector from None on start
  integrations/sonarqube/CHANGELOG.md
  integrations/sonarqube/client.py
  integrations/sonarqube/integration.py
  integrations/sonarqube/pyproject.toml
Labels: size/M

#675 fix(core) - Fix idle integration on exception
  .github/workflows/release-integrations.yml
  CHANGELOG.md
  port_ocean/clients/port/mixins/entities.py
  port_ocean/core/defaults/initialize.py
  port_ocean/core/handlers/__init__.py
  port_ocean/core/handlers/entity_processor/base.py
  port_ocean/core/handlers/entity_processor/jq_entity_processor.py
  port_ocean/core/integrations/mixins/sync_raw.py
  port_ocean/core/models.py
  port_ocean/core/ocean_types.py
  port_ocean/core/utils.py
  port_ocean/utils/queue_utils.py
  pyproject.toml
Labels: size/L

#684 ci: divide steps
  .github/workflows/lint.yml
Labels: size/XS

#685 Fix gather exception handling
  CHANGELOG.md
  port_ocean/core/utils.py
  pyproject.toml
Labels: size/XS

#682 linter matrix
  .github/workflows/lint.yml
  Makefile
Labels: size/M

#688 [Integrations][Azure][GCP][ServiceNow] Fix default `Service` icon to `Microservice`
  docs/framework-guides/docs/develop-an-integration/integration-spec-and-default-resources.md
  integrations/azure/.port/resources/blueprints.json
  integrations/azure/.port/spec.yaml
  integrations/azure/CHANGELOG.md
  integrations/azure/pyproject.toml
  integrations/gcp/.port/resources/blueprints.json
  integrations/gcp/.port/spec.yaml
  integrations/gcp/CHANGELOG.md
  integrations/gcp/pyproject.toml
  integrations/servicenow/.port/resources/blueprints.json
  integrations/servicenow/CHANGELOG.md
  integrations/servicenow/pyproject.toml
Labels: size/M

#683 feat: add vs-code launch json and env example files for debugging
  .gitignore
  .vscode/launch.json
  integrations/argocd/.env.example
  integrations/aws/.env.example
  integrations/azure-devops/.env.example
  integrations/gcp/.env.example
  integrations/gitlab/.env.example
Labels: size/M

#689 Fixed an issue causing integrations with no configuration to fail dur…
  CHANGELOG.md
  port_ocean/config/settings.py
  pyproject.toml
Labels: size/XS

#694 Fixed incorrect pydantic validation over the integration settings
  CHANGELOG.md
  port_ocean/config/settings.py
  pyproject.toml
Labels: size/S

#700 [Framework] Always initialize port default mappings in case where no other mapping is configured
  CHANGELOG.md
  port_ocean/clients/port/mixins/integrations.py
  port_ocean/core/defaults/initialize.py
  port_ocean/core/integrations/base.py
  port_ocean/run.py
  pyproject.toml
Labels: size/M

#706 QOL improvement to the core
  .python-version
  CHANGELOG.md
  poetry.lock
  pyproject.toml
Labels: size/M

#702 [Integration][AWS] Add batch resource syncing for ACM certificates and AMI images
  integrations/aws/CHANGELOG.md
  integrations/aws/main.py
  integrations/aws/utils/misc.py
  integrations/aws/utils/resources.py
Labels: size/M

#710 feat: Add config file to AWS integration
  integrations/aws/sonar-project.properties
Labels: size/XS

#711 fix: bump version
  integrations/aws/CHANGELOG.md
  integrations/aws/pyproject.toml
Labels: size/XS

#709 [Framework] Fixed unpacking error in register_raw
  CHANGELOG.md
  port_ocean/core/integrations/mixins/sync_raw.py
  pyproject.toml
Labels: size/XS

#713 PORT-8656 | Enforce Unique ID across environment and feature flag
  integrations/launchdarkly/.port/resources/port-app-config.yaml
  integrations/launchdarkly/CHANGELOG.md
  integrations/launchdarkly/client.py
  integrations/launchdarkly/main.py
  integrations/launchdarkly/pyproject.toml
Labels: size/M

#687 PORT-8491 Add search relation capabilities
  .idea/watcherTasks.xml
  CHANGELOG.md
  port_ocean/core/handlers/entity_processor/jq_entity_processor.py
  port_ocean/core/handlers/port_app_config/models.py
  pyproject.toml
Labels: size/S

#714 PORT 8673 aws integration add describe resources to config
  integrations/aws/CHANGELOG.md
  integrations/aws/integration.py
  integrations/aws/poetry.lock
  integrations/aws/pyproject.toml
  integrations/aws/utils/overrides.py
  integrations/aws/utils/resources.py
Labels: size/L

#716 fix: file format
  port_ocean/core/handlers/entity_processor/jq_entity_processor.py
Labels: size/XS

#696 [Integration][ArgoCD][AWS][Azure][GCP][Kafka][OpenCost] Added saas.enabled=false attribute in spec.yaml
  integrations/argocd/.port/spec.yaml
  integrations/argocd/CHANGELOG.md
  integrations/argocd/pyproject.toml
  integrations/aws/.port/spec.yaml
  integrations/aws/CHANGELOG.md
  integrations/aws/pyproject.toml
  integrations/azure/.port/spec.yaml
  integrations/azure/CHANGELOG.md
  integrations/azure/pyproject.toml
  integrations/gcp/.port/spec.yaml
  integrations/gcp/CHANGELOG.md
  integrations/gcp/pyproject.toml
  integrations/kafka/.port/spec.yaml
  integrations/kafka/CHANGELOG.md
  integrations/kafka/pyproject.toml
  integrations/opencost/.port/spec.yaml
  integrations/opencost/CHANGELOG.md
  integrations/opencost/pyproject.toml
Labels: size/M

#717 feat: run all single describe in parallel
  integrations/aws/CHANGELOG.md
  integrations/aws/pyproject.toml
  integrations/aws/utils/resources.py
Labels: size/S

#718 PORT 8694 aws integration custom aws kinds backwards compatibility
  integrations/aws/CHANGELOG.md
  integrations/aws/main.py
  integrations/aws/pyproject.toml
  integrations/aws/utils/misc.py
  integrations/aws/utils/resources.py
Labels: size/M

#722 [AWS Integration] aws credentials overflow
  integrations/aws/CHANGELOG.md
  integrations/aws/aws/session_manager.py
  integrations/aws/pyproject.toml
Labels: size/XS

#725 Fix changelog date search relation
  CHANGELOG.md
Labels: size/XS

#697 [Framework] Port 8572 ocean startup when saas
  CHANGELOG.md
  port_ocean/cli/commands/sail.py
  port_ocean/config/settings.py
  port_ocean/core/models.py
  port_ocean/core/utils.py
  port_ocean/exceptions/core.py
  port_ocean/run.py
  pyproject.toml
Labels: size/M

#728 [Framework] Safely get changelogDestination key instead of accessing it directly
  CHANGELOG.md
  port_ocean/core/defaults/initialize.py
  pyproject.toml
Labels: size/XS

#735 Combined PR
  .github/workflows/release-integrations.yml
  docs/framework-guides/package-lock.json
  poetry.lock
  pyproject.toml
Labels: size/M

#737 Create SECURITY.md
  SECURITY.md
Labels: size/XS

#736 [PORT-8788] [AWS] [GCP] add requirements for deployment methods
  integrations/aws/.port/spec.yaml
  integrations/aws/CHANGELOG.md
  integrations/aws/pyproject.toml
  integrations/gcp/.port/spec.yaml
  integrations/gcp/CHANGELOG.md
  integrations/gcp/main.py
  integrations/gcp/pyproject.toml
Labels: size/M

#634 [Integration][SonarQube] - Add Sonar Quality Gate Status
  integrations/sonarqube/.port/resources/blueprints.json
  integrations/sonarqube/.port/resources/port-app-config.yaml
  integrations/sonarqube/CHANGELOG.md
  integrations/sonarqube/pyproject.toml
Labels: size/S

#742 PORT-7618 | Dynatrace Ocean Integration with Invalid Entity Fields
  integrations/dynatrace/.port/resources/port-app-config.yaml
  integrations/dynatrace/CHANGELOG.md
  integrations/dynatrace/client.py
  integrations/dynatrace/integration.py
  integrations/dynatrace/pyproject.toml
Labels: size/M

#676 [Integration][Synk] Update Snyk Integration with Improved Default Blueprints
  integrations/snyk/.port/resources/blueprints.json
  integrations/snyk/.port/resources/port-app-config.yaml
  integrations/snyk/CHANGELOG.md
  integrations/snyk/pyproject.toml
  integrations/snyk/snyk/client.py
Labels: size/M

#699 [Integration][PagerDuty] Show also secondaries on call on PagerDuty Service
  integrations/pagerduty/.port/resources/blueprints.json
  integrations/pagerduty/.port/resources/port-app-config.yaml
  integrations/pagerduty/CHANGELOG.md
  integrations/pagerduty/pyproject.toml
Labels: size/S
