Repository port-labs/ocean, pull requests merged in 2024-05, with the labels that each got.

#601 [Framework] Allowing parent event context override
  CHANGELOG.md
  port_ocean/context/event.py
  pyproject.toml
Labels: size/XS

#603 [Framework] Fix parent event context override copy typo
  CHANGELOG.md
  port_ocean/context/event.py
  pyproject.toml
Labels: size/XS

#606 fixed sanity check with non json response
  integrations/sonarqube/CHANGELOG.md
  integrations/sonarqube/client.py
  integrations/sonarqube/pyproject.toml
Labels: size/XS

#608 [Integration][Gitlab] add missing try catch blocks
  integrations/gitlab/CHANGELOG.md
  integrations/gitlab/gitlab_integration/ocean.py
  integrations/gitlab/pyproject.toml
Labels: size/S

#605 [Integration][GCP] [PORT-7095] add terraform support
  .github/workflows/release-integrations.yml
  integrations/gcp/.port/spec.yaml
  integrations/gcp/CHANGELOG.md
  integrations/gcp/README.md
  integrations/gcp/gcp_core/search/resource_searches.py
  integrations/gcp/pyproject.toml
Labels: size/M

#573 Revise default issue blueprint and mapping
  integrations/wiz/.port/resources/blueprints.json
  integrations/wiz/.port/resources/port-app-config.yaml
  integrations/wiz/CHANGELOG.md
  integrations/wiz/poetry.lock
Labels: size/M

#612 [Integration][ArgoCD] - Update argocd k8s image
  integrations/argocd/.port/resources/blueprints.json
  integrations/argocd/.port/resources/port-app-config.yaml
  integrations/argocd/CHANGELOG.md
  integrations/argocd/pyproject.toml
Labels: size/M

#615 [Integrations] [Azure Devops] Fixed remote url error
  integrations/azure-devops/.port/resources/port-app-config.yaml
  integrations/azure-devops/CHANGELOG.md
  integrations/azure-devops/pyproject.toml
Labels: size/XS

#616 Fixed spaces in identifiers
  integrations/azure-devops/.port/resources/port-app-config.yaml
  integrations/azure-devops/CHANGELOG.md
  integrations/azure-devops/pyproject.toml
Labels: size/XS

#620 Combined PR
  integrations/opsgenie/poetry.lock
  integrations/wiz/poetry.lock
  poetry.lock
  pyproject.toml
Labels: size/M

#623 Update spec.yaml
  integrations/jenkins/.port/spec.yaml
Labels: size/XS

#528 [Framework] Port 7567 bug ocean integration is being terminated due to OOM
  CHANGELOG.md
  port_ocean/core/handlers/entity_processor/jq_entity_processor.py
  port_ocean/core/utils.py
  port_ocean/utils/queue_utils.py
  pyproject.toml
Labels: framework, size/M

#625 added link to queue usage discussion in queue processor util
  port_ocean/core/utils.py
  port_ocean/utils/queue_utils.py
Labels: size/XS

#626 [Integration][PagerDuty] - Add priority and description to incident
  integrations/pagerduty/.port/resources/blueprints.json
  integrations/pagerduty/.port/resources/port-app-config.yaml
  integrations/pagerduty/CHANGELOG.md
  integrations/pagerduty/pyproject.toml
Labels: size/M

#627 [integration][KubeCost] - Fix Kubecost 404 error
  integrations/kubecost/.port/resources/port-app-config.yaml
  integrations/kubecost/CHANGELOG.md
  integrations/kubecost/client.py
  integrations/kubecost/main.py
  integrations/kubecost/pyproject.toml
Labels: size/XS

#629 [Integration][ADO] Fix default relation mapping from service to project
  integrations/azure-devops/.port/resources/port-app-config.yaml
  integrations/azure-devops/CHANGELOG.md
  integrations/azure-devops/pyproject.toml
Labels: size/XS

#631 [Integration][Kubecost] - Support backwards compatibility
  integrations/kubecost/.port/spec.yaml
  integrations/kubecost/CHANGELOG.md
  integrations/kubecost/client.py
  integrations/kubecost/main.py
  integrations/kubecost/pyproject.toml
Labels: size/S

#628 [Framework] Caching port app config
  CHANGELOG.md
  port_ocean/config/settings.py
  port_ocean/core/handlers/port_app_config/base.py
  port_ocean/core/integrations/mixins/sync_raw.py
  pyproject.toml
Labels: size/M

#558 [Integration][SonarQube] - Add filters to Projects and Issues
  integrations/sonarqube/.port/resources/port-app-config.yaml
  integrations/sonarqube/CHANGELOG.md
  integrations/sonarqube/client.py
  integrations/sonarqube/integration.py
  integrations/sonarqube/main.py
  integrations/sonarqube/poetry.lock
  integrations/sonarqube/pyproject.toml
Labels: size/L

#637 [Integration][PagerDuty] - Add Escalation Level
  integrations/pagerduty/.port/resources/blueprints.json
  integrations/pagerduty/.port/resources/port-app-config.yaml
  integrations/pagerduty/CHANGELOG.md
  integrations/pagerduty/pyproject.toml
Labels: size/XS

#635 [Integration][ArgoCD] - Updated Image Icon
  integrations/argocd/.port/resources/blueprints.json
  integrations/argocd/CHANGELOG.md
  integrations/argocd/pyproject.toml
Labels: size/XS

#632 Changed release workflow to also push each specific integration's manifest
  .github/workflows/release-integrations.yml
Labels: size/S

#638 PORT-8157 Ocean Linear integration
  integrations/linear/.dockerignore
  integrations/linear/.gitignore
  integrations/linear/.port/resources/.gitignore
  integrations/linear/.port/resources/blueprints.json
  integrations/linear/.port/resources/port-app-config.yaml
  integrations/linear/.port/spec.yaml
  integrations/linear/CHANGELOG.md
  integrations/linear/Makefile
  integrations/linear/README.md
  integrations/linear/changelog/.gitignore
  integrations/linear/config.yaml
  integrations/linear/debug.py
  integrations/linear/linear/__init__.py
  integrations/linear/linear/client.py
  integrations/linear/linear/queries.py
  integrations/linear/main.py
  integrations/linear/poetry.lock
  integrations/linear/poetry.toml
  integrations/linear/pyproject.toml
  integrations/linear/sonar-project.properties
  integrations/linear/tests/__init__.py
Labels: size/XXL

#646 [Integrations][GCP] Fix single resource fetching
  integrations/gcp/CHANGELOG.md
  integrations/gcp/gcp_core/search/resource_searches.py
  integrations/gcp/pyproject.toml
Labels: size/S

#647 [PORT-8114] [GCP] Changed TF variables names for readability
  integrations/gcp/.port/spec.yaml
  integrations/gcp/CHANGELOG.md
  integrations/gcp/pyproject.toml
Labels: size/XS

#650 [Integration][PagerDuty] - Export User Emails
  integrations/pagerduty/.port/resources/blueprints.json
  integrations/pagerduty/.port/resources/port-app-config.yaml
  integrations/pagerduty/CHANGELOG.md
  integrations/pagerduty/clients/pagerduty.py
  integrations/pagerduty/main.py
  integrations/pagerduty/pyproject.toml
Labels: size/M

#651 fix(Port 8334): ocean integration wont shut down without forcing it
  changelog/1.bugfix.md
  changelog/1.improvement.md
  changelog/2.bugfix.md
  port_ocean/core/event_listener/base.py
  port_ocean/core/event_listener/polling.py
  port_ocean/ocean.py
  port_ocean/utils/signal.py
Labels: size/S

#648 [PORT-8328] [GCP] Changed fetching to be of latest resource version
  integrations/gcp/.port/resources/blueprints.json
  integrations/gcp/.port/resources/port-app-config.yaml
  integrations/gcp/CHANGELOG.md
  integrations/gcp/gcp_core/feed_event.py
  integrations/gcp/gcp_core/search/resource_searches.py
  integrations/gcp/gcp_core/utils.py
  integrations/gcp/main.py
  integrations/gcp/poetry.lock
  integrations/gcp/pyproject.toml
Labels: size/L

#640 [Framework] Add ingestion of kind examples to port
  CHANGELOG.md
  port_ocean/clients/port/mixins/integrations.py
  port_ocean/config/settings.py
  port_ocean/core/handlers/entity_processor/base.py
  port_ocean/core/handlers/entity_processor/jq_entity_processor.py
  port_ocean/core/integrations/mixins/sync_raw.py
  port_ocean/log/sensetive.py
Labels: size/M

#657 bump ocean version in toml
  pyproject.toml
Labels: size/XS

#659 Combined PR
  poetry.lock
  pyproject.toml
Labels: size/M

#590 [Integrations][Opencost] Add Cloud cost to OpenCost exporter
  integrations/opencost/.port/resources/blueprints.json
  integrations/opencost/.port/resources/port-app-config.yaml
  integrations/opencost/.port/spec.yaml
  integrations/opencost/CHANGELOG.md
  integrations/opencost/client.py
  integrations/opencost/integration.py
  integrations/opencost/main.py
  integrations/opencost/pyproject.toml
Labels: size/L

#375 [Integration] Datadog Ocean integration
  integrations/datadog/.dockerignore
  integrations/datadog/.gitignore
  integrations/datadog/.port/resources/.gitignore
  integrations/datadog/.port/resources/blueprints.json
  integrations/datadog/.port/resources/port-app-config.yaml
  integrations/datadog/.port/spec.yaml
  integrations/datadog/CHANGELOG.md
  integrations/datadog/Dockerfile
  integrations/datadog/Makefile
  integrations/datadog/README.md
  integrations/datadog/changelog/.gitignore
  integrations/datadog/client.py
  integrations/datadog/debug.py
  integrations/datadog/main.py
  integrations/datadog/poetry.lock
  integrations/datadog/poetry.toml
  integrations/datadog/pyproject.toml
  integrations/datadog/tests/__init__.py
Labels: integration, tests, size/XXL

#661 [Integration][Datadog] Remove dockerfile
  integrations/datadog/CHANGELOG.md
  integrations/datadog/Dockerfile
Labels: size/XS

#663 PORT-8407 Update container base image from slim-buster to slim-bookworm
  integrations/_infra/Dockerfile
Labels: size/XS

#662 Upgrade AWS version to be not hardcoded to 5 explictly
  deployment/terraform/aws/ecs/providers.tf
Labels: size/XS

#555 [Integration][AWS] Add new integration
  integrations/aws/.gitignore
  integrations/aws/.port/resources/.gitignore
  integrations/aws/.port/resources/blueprints.json
  integrations/aws/.port/resources/port-app-config.yml
  integrations/aws/.port/spec.yaml
  integrations/aws/CHANGELOG.md
  integrations/aws/Makefile
  integrations/aws/README.md
  integrations/aws/aws/__init__.py
  integrations/aws/aws/aws_credentials.py
  integrations/aws/aws/session_manager.py
  integrations/aws/changelog/.gitignore
  integrations/aws/debug.py
  integrations/aws/main.py
  integrations/aws/poetry.lock
  integrations/aws/poetry.toml
  integrations/aws/pyproject.toml
  integrations/aws/tests/__init__.py
  integrations/aws/utils/__init__.py
  integrations/aws/utils/aws.py
  integrations/aws/utils/misc.py
  integrations/aws/utils/resources.py
  poetry.lock
Labels: size/XXL

#665 PORT-8407 Update the base image of the dockerfile used in the Ocean integration scaffolder
  CHANGELOG.md
  port_ocean/cli/cookiecutter/{{cookiecutter.integration_slug}}/Dockerfile
  pyproject.toml
Labels: size/XS

#670 PORT-8285 | Jira - Export users emails
  integrations/jira/.port/resources/port-app-config.yaml
Labels: size/XS
