Repository port-labs/ocean, pull requests merged in 2024-11, with the labels that each got.

#1113 [Docs] Fix Ocean Denial of service in http-proxy-middleware in docs #434
  docs/framework-guides/.gitignore
  docs/framework-guides/package-lock.json
  integrations/azure-devops/.port/resources/blueprints.json
  integrations/azure-devops/examples/example-mappings.yaml
Labels: size/L

#1099 [Integration] [AWS] | Added support to choose specific regions to query resources from
  integrations/aws/.port/spec.yaml
  integrations/aws/CHANGELOG.md
  integrations/aws/main.py
  integrations/aws/pyproject.toml
  integrations/aws/tests/utils/test_misc.py
  integrations/aws/tests/utils/test_overrides.py
  integrations/aws/utils/misc.py
  integrations/aws/utils/overrides.py
  integrations/aws/utils/resources.py
Labels: size/L

#1116 [Core] bump fastapi version
  CHANGELOG.md
  poetry.lock
  pyproject.toml
Labels: size/XL

#1127 [Integration][ADO] Fix missing team context for non default teams while ingesting boards
  integrations/azure-devops/CHANGELOG.md
  integrations/azure-devops/azure_devops/client/azure_devops_client.py
  integrations/azure-devops/pyproject.toml
  integrations/azure-devops/tests/azure_devops/client/test_azure_devops_client.py
Labels: size/S

#1132 [Core] Bump core version
  pyproject.toml
Labels: size/XS

#1103 [CORE] Bump to python version 3.12
  .github/workflows/apply-release.yml
  .github/workflows/core-test.yml
  .github/workflows/integrations-test.yml
  .github/workflows/lint.yml
  .github/workflows/release-framework.yml
  .github/workflows/upgrade-integrations.yml
  .github/workflows/validate-integration-files.yml
  .python-version
  CHANGELOG.md
  poetry.lock
  port_ocean/cli/cookiecutter/{{cookiecutter.integration_slug}}/pyproject.toml
  pyproject.toml
Labels: size/M

#1135 [Infra] Add CI workflow to make sure pr titles are following conventions
  .github/workflows/verify-pr-title.yml
Labels: size/S

#1138 [Integration][Octopus Deploy] - Transition to stable release
  integrations/octopus/CHANGELOG.md
  integrations/octopus/pyproject.toml
Labels: size/XS

#1137 [Integration][Fake Integration] Fix Black vulnerable to Regular Expression Denial of Service (ReDoS)
  .github/workflows/verify-pr-title.yml
  integrations/fake-integration/CHANGELOG.md
  integrations/fake-integration/fake_org_data/generator.py
  integrations/fake-integration/poetry.lock
  integrations/fake-integration/pyproject.toml
Labels: size/M

#1141 [Core] Fix memory leak due to repetitive registration of FastAPI routes
  CHANGELOG.md
  integrations/fake-integration/main.py
  integrations/fake-integration/pyproject.toml
  port_ocean/ocean.py
  pyproject.toml
Labels: size/S

#1129 [Core] Add support for choosing default resources integration will create dynamically
  CHANGELOG.md
  port_ocean/cli/commands/defaults/clean.py
  port_ocean/config/settings.py
  port_ocean/core/defaults/clean.py
  port_ocean/core/defaults/common.py
  port_ocean/core/defaults/initialize.py
  port_ocean/tests/core/defaults/test_common.py
  pyproject.toml
Labels: size/L

#1142 [Integration][ADO] wiql base query update
  integrations/azure-devops/CHANGELOG.md
  integrations/azure-devops/azure_devops/client/azure_devops_client.py
  integrations/azure-devops/pyproject.toml
Labels: size/XS

#767 [Integration][Gitlab] Added support for gitlab member ingestion
  integrations/gitlab/CHANGELOG.md
  integrations/gitlab/gitlab_integration/core/async_fetcher.py
  integrations/gitlab/gitlab_integration/events/hooks/base.py
  integrations/gitlab/gitlab_integration/events/hooks/group.py
  integrations/gitlab/gitlab_integration/events/hooks/members.py
  integrations/gitlab/gitlab_integration/events/hooks/push.py
  integrations/gitlab/gitlab_integration/events/setup.py
  integrations/gitlab/gitlab_integration/git_integration.py
  integrations/gitlab/gitlab_integration/gitlab_service.py
  integrations/gitlab/gitlab_integration/ocean.py
  integrations/gitlab/gitlab_integration/utils.py
  integrations/gitlab/pyproject.toml
  integrations/gitlab/tests/gitlab_integration/test_gitlab_service.py
  integrations/gitlab/tests/gitlab_integration/test_gitlab_service_webhook.py
Labels: size/L

#1149 [Integration][PagerDuty] - Update incident url
  integrations/pagerduty/.port/resources/port-app-config.yaml
  integrations/pagerduty/CHANGELOG.md
  integrations/pagerduty/pyproject.toml
Labels: size/XS

#1092 [Integration][Snyk] Add rate limiting handling
  integrations/snyk/CHANGELOG.md
  integrations/snyk/main.py
  integrations/snyk/poetry.lock
  integrations/snyk/pyproject.toml
  integrations/snyk/snyk/client.py
  integrations/snyk/tests/conftest.py
  integrations/snyk/tests/snyk/test_client.py
Labels: size/M

#1147 [Integration][SonarQube] Added defensive mechanism to fail resync event when no data is fetched from Sonar API `components/search_project`
  integrations/sonarqube/CHANGELOG.md
  integrations/sonarqube/client.py
  integrations/sonarqube/main.py
  integrations/sonarqube/pyproject.toml
Labels: size/M

#1157 [Core][CI] Fix smoke test cleanup
  .github/workflows/core-test.yml
Labels: size/XS

#977 [Core] Add a util to cache results from coroutines
  CHANGELOG.md
  port_ocean/tests/utils/test_cache.py
  port_ocean/utils/cache.py
  pyproject.toml
Labels: size/L

#1169 [Integration][AWS] | Fix an issue where the integration enters an endless loop on region permission error
  integrations/aws/CHANGELOG.md
  integrations/aws/pyproject.toml
  integrations/aws/utils/resources.py
Labels: size/XS

#1085 [Integration][PagerDuty] Fix Rate limit from querying Pagerduty service analytics
  integrations/pagerduty/CHANGELOG.md
  integrations/pagerduty/clients/pagerduty.py
  integrations/pagerduty/integration.py
  integrations/pagerduty/main.py
  integrations/pagerduty/pyproject.toml
  integrations/pagerduty/tests/test_client.py
Labels: size/L

#1156 [Docs] Bump versions and docusaurus to latest
  docs/framework-guides/docusaurus.config.js
  docs/framework-guides/package-lock.json
  docs/framework-guides/package.json
  docs/framework-guides/src/plugins/changelog/theme/ChangelogItem/Header/Authors/index.tsx
  docs/framework-guides/src/plugins/changelog/theme/ChangelogItem/Header/index.tsx
  docs/framework-guides/src/plugins/changelog/theme/ChangelogPage/index.tsx
Labels: size/XXL

#1155 [Core] Support the reduction of Port rate limit in the integrations
  port_ocean/clients/port/utils.py
  port_ocean/helpers/retry.py
Labels: size/S

#1180 [Core] add changelog and bump version
  CHANGELOG.md
  pyproject.toml
Labels: size/XS

#1110 [Integration][Terraform-Cloud] Add Rate Limiting Improvements
  integrations/terraform-cloud/CHANGELOG.md
  integrations/terraform-cloud/client.py
  integrations/terraform-cloud/main.py
  integrations/terraform-cloud/poetry.lock
  integrations/terraform-cloud/pyproject.toml
Labels: size/M

#1098 [Integration][Snyk] - Validation to Prevent Fetching Non Existent Users
  integrations/snyk/CHANGELOG.md
  integrations/snyk/pyproject.toml
  integrations/snyk/snyk/client.py
  integrations/snyk/tests/snyk/test_snyk_client_user_details.py
Labels: size/L

#1182 [Integration][PagerDuty] - Default Resources Enhancements
  integrations/pagerduty/.port/resources/blueprints.json
  integrations/pagerduty/.port/resources/port-app-config.yaml
  integrations/pagerduty/CHANGELOG.md
  integrations/pagerduty/clients/pagerduty.py
  integrations/pagerduty/integration.py
  integrations/pagerduty/main.py
  integrations/pagerduty/pyproject.toml
Labels: size/M

#1189 [Integration][Azure] Fix list subscription missing tags
  integrations/azure/.port/resources/blueprints.json
  integrations/azure/.port/resources/port-app-config.yaml
  integrations/azure/CHANGELOG.md
  integrations/azure/azure_integration/azure_patch.py
  integrations/azure/azure_integration/ocean.py
  integrations/azure/poetry.lock
  integrations/azure/pyproject.toml
Labels: size/L

#1192 [Integration][Datadog] Fix SLO history configuration validation error
  integrations/datadog/.port/resources/port-app-config.yaml
  integrations/datadog/CHANGELOG.md
  integrations/datadog/overrides.py
  integrations/datadog/pyproject.toml
Labels: size/S

#1188 [Integration][AWS] Handle region policy for global resources
  integrations/aws/CHANGELOG.md
  integrations/aws/aws/aws_credentials.py
  integrations/aws/main.py
  integrations/aws/pyproject.toml
Labels: size/M
