Repository port-labs/ocean, pull requests merged in 2024-10, with the labels that each got.

#1029 Move to alpine instead of debian and improve smoke test
  .github/workflows/core-test.yml
  .github/workflows/detect-changes-matrix.yml
  Makefile
  integrations/_infra/Dockerfile
  integrations/_infra/init.sh
  port_ocean/log/sensetive.py
  port_ocean/tests/helpers/fixtures.py
  port_ocean/tests/helpers/integration.py
  port_ocean/tests/helpers/port_client.py
  port_ocean/tests/helpers/smoke_test.py
  port_ocean/tests/test_smoke.py
  pyproject.toml
  scripts/clean-smoke-test.py
  scripts/run-smoke-test.sh
Labels: size/L

#1059 [Core] Fix stop iterator bug in jqpy
  CHANGELOG.md
  integrations/_infra/Dockerfile
  integrations/_infra/init.sh
  port_ocean/core/handlers/entity_processor/jq_entity_processor.py
  port_ocean/tests/core/handlers/entity_processor/test_jq_entity_processor.py
  pyproject.toml
Labels: size/M

#1051 [Gitlab] Fix handling of real time events
  integrations/gitlab/CHANGELOG.md
  integrations/gitlab/gitlab_integration/events/event_handler.py
  integrations/gitlab/gitlab_integration/events/hooks/issues.py
  integrations/gitlab/gitlab_integration/events/hooks/jobs.py
  integrations/gitlab/gitlab_integration/events/hooks/merge_request.py
  integrations/gitlab/gitlab_integration/events/hooks/project_files.py
  integrations/gitlab/gitlab_integration/events/hooks/push.py
  integrations/gitlab/pyproject.toml
Labels: size/M

#1064 [Core] | Added util for concurrency control
  CHANGELOG.md
  port_ocean/tests/utils/test_async_iterators.py
  port_ocean/utils/async_iterators.py
  pyproject.toml
Labels: size/M

#960 [Jenkins] Add build stages
  integrations/jenkins/.port/resources/blueprints.json
  integrations/jenkins/.port/resources/port-app-config.yaml
  integrations/jenkins/.port/spec.yaml
  integrations/jenkins/CHANGELOG.md
  integrations/jenkins/client.py
  integrations/jenkins/examples/blueprints.json
  integrations/jenkins/examples/mappings.yml
  integrations/jenkins/examples/stage.entity.json
  integrations/jenkins/examples/stage.response.json
  integrations/jenkins/integration.py
  integrations/jenkins/main.py
  integrations/jenkins/overrides.py
  integrations/jenkins/tests/test_client.py
  integrations/jenkins/tests/test_sample.py
  integrations/wiz/CHANGELOG.md
Labels: size/L

#1067 [Core] | Fix Changelog Version Step
  CHANGELOG.md
Labels: size/XS

#1058 Docker build security vulnerabilities
  .github/workflows/ci.yml
  CHANGELOG.md
  integrations/_infra/Dockerfile
  integrations/_infra/Dockerfile.Deb
  integrations/_infra/Dockerfile.alpine
  integrations/_infra/Makefile
  integrations/_infra/grpcio.sh
  integrations/_infra/init.sh
  integrations/jenkins/examples/blueprints.json
  pyproject.toml
Labels: size/L

#958 [Integration][Octopus] Updated integration to ingest data from all spaces
  integrations/octopus/.port/spec.yaml
  integrations/octopus/CHANGELOG.md
  integrations/octopus/client.py
  integrations/octopus/main.py
  integrations/octopus/pyproject.toml
Labels: size/M

#1034 [Integration][ADO] Added Support for boards and columns
  integrations/azure-devops/.port/resources/blueprints.json
  integrations/azure-devops/.port/resources/port-app-config.yaml
  integrations/azure-devops/CHANGELOG.md
  integrations/azure-devops/azure_devops/client/azure_devops_client.py
  integrations/azure-devops/azure_devops/misc.py
  integrations/azure-devops/examples/example-data.json
  integrations/azure-devops/examples/example-mappings.yaml
  integrations/azure-devops/examples/example-output.json
  integrations/azure-devops/main.py
  integrations/azure-devops/pyproject.toml
  integrations/azure-devops/tests/azure_devops/__init__.py
  integrations/azure-devops/tests/azure_devops/client/__init__.py
  integrations/azure-devops/tests/azure_devops/client/test_azure_devops_client.py
  integrations/azure-devops/tests/conftest.py
Labels: size/XL

#1076 Explicitly `cryptography` to solve vulnerability
  integrations/argocd/poetry.lock
  integrations/argocd/pyproject.toml
  integrations/aws/poetry.lock
  integrations/aws/pyproject.toml
  integrations/azure-devops/poetry.lock
  integrations/azure-devops/pyproject.toml
  integrations/azure/poetry.lock
  integrations/azure/pyproject.toml
  integrations/datadog/poetry.lock
  integrations/datadog/pyproject.toml
  integrations/dynatrace/poetry.lock
  integrations/dynatrace/pyproject.toml
  integrations/fake-integration/poetry.lock
  integrations/fake-integration/pyproject.toml
  integrations/firehydrant/poetry.lock
  integrations/firehydrant/pyproject.toml
  integrations/gcp/poetry.lock
  integrations/gcp/pyproject.toml
  integrations/gitlab/poetry.lock
  integrations/gitlab/pyproject.toml
  integrations/jenkins/poetry.lock
  integrations/jenkins/pyproject.toml
  integrations/jira/poetry.lock
  integrations/jira/pyproject.toml
  integrations/kafka/poetry.lock
  integrations/kafka/pyproject.toml
  integrations/kubecost/poetry.lock
  integrations/kubecost/pyproject.toml
  integrations/launchdarkly/poetry.lock
  integrations/launchdarkly/pyproject.toml
  integrations/linear/poetry.lock
  integrations/linear/pyproject.toml
  integrations/newrelic/poetry.lock
  integrations/newrelic/pyproject.toml
  integrations/octopus/poetry.lock
  integrations/octopus/pyproject.toml
  integrations/opencost/poetry.lock
  integrations/opencost/pyproject.toml
  integrations/opsgenie/poetry.lock
  integrations/opsgenie/pyproject.toml
  integrations/pagerduty/poetry.lock
  integrations/pagerduty/pyproject.toml
  integrations/sentry/poetry.lock
  integrations/sentry/pyproject.toml
  integrations/servicenow/poetry.lock
  integrations/servicenow/pyproject.toml
  integrations/snyk/poetry.lock
  integrations/snyk/pyproject.toml
  integrations/sonarqube/poetry.lock
  integrations/sonarqube/pyproject.toml
  integrations/statuspage/poetry.lock
  integrations/statuspage/pyproject.toml
  integrations/terraform-cloud/poetry.lock
  integrations/terraform-cloud/pyproject.toml
  integrations/wiz/poetry.lock
  integrations/wiz/pyproject.toml
  poetry.lock
  pyproject.toml
Labels: size/XXL

#1063 [Integration][AWS] | Improved Concurrency Control and Eliminated Likelihood of Thundering Herd
  integrations/aws/CHANGELOG.md
  integrations/aws/main.py
  integrations/aws/pyproject.toml
  integrations/aws/utils/aws.py
  integrations/aws/utils/resources.py
Labels: size/M

#1072 Feature/ocean backstage integration
  .vscode/launch.json
  README.md
  integrations/backstage/.env.example
  integrations/backstage/.gitignore
  integrations/backstage/.port/resources/.gitignore
  integrations/backstage/.port/resources/blueprints.json
  integrations/backstage/.port/resources/port-app-config.yml
  integrations/backstage/.port/spec.yaml
  integrations/backstage/CHANGELOG.md
  integrations/backstage/CONTRIBUTING.md
  integrations/backstage/Makefile
  integrations/backstage/README.md
  integrations/backstage/changelog/.gitignore
  integrations/backstage/client.py
  integrations/backstage/debug.py
  integrations/backstage/main.py
  integrations/backstage/poetry.lock
  integrations/backstage/poetry.toml
  integrations/backstage/pyproject.toml
  integrations/backstage/sonar-project.properties
  integrations/backstage/tests/__init__.py
  integrations/backstage/tests/conftest.py
  integrations/backstage/tests/test_sanity.py
Labels: size/XXL

#1082 [Integrations][Backstage] Changed backstage category to others
  integrations/backstage/.port/spec.yaml
  integrations/backstage/CHANGELOG.md
  integrations/backstage/pyproject.toml
Labels: size/XS

#978 [Integration][SonarQube] - Support Portfolios
  integrations/sonarqube/.port/resources/blueprints.json
  integrations/sonarqube/.port/resources/port-app-config.yaml
  integrations/sonarqube/.port/spec.yaml
  integrations/sonarqube/CHANGELOG.md
  integrations/sonarqube/client.py
  integrations/sonarqube/examples/blueprints.json
  integrations/sonarqube/examples/mappings.yaml
  integrations/sonarqube/examples/portfolio.entity.json
  integrations/sonarqube/examples/portfolio.response.json
  integrations/sonarqube/integration.py
  integrations/sonarqube/main.py
  integrations/sonarqube/pyproject.toml
  integrations/sonarqube/tests/test_client.py
Labels: size/L

#1083 [Integration][ArgoCD] - Option to bypass SSL cert validation when connecting to ArgoCD
  integrations/argocd/.port/spec.yaml
  integrations/argocd/CHANGELOG.md
  integrations/argocd/client.py
  integrations/argocd/main.py
  integrations/argocd/pyproject.toml
Labels: size/S

#1090 Bug | `get_integation_resource_configs` does not handle `.yaml` extension for `port-app-config` file
  CHANGELOG.md
  port_ocean/tests/helpers/ocean_app.py
  pyproject.toml
Labels: size/XS

#1094 Bump core
  CHANGELOG.md
  pyproject.toml
Labels: size/XS

#1096 Ensure spec configuration goes through default factory
  CHANGELOG.md
  port_ocean/tests/helpers/ocean_app.py
  pyproject.toml
Labels: size/XS

#1079 [Infra] Introduced multi stage build for images to improve built time
  .github/workflows/actions/build-docker-image/action.yml
  .github/workflows/build-infra-images.yml
  .github/workflows/ci.yml
  .github/workflows/detect-changes-matrix.yml
  .github/workflows/docker-images-security-scan.yml
  .github/workflows/release-integrations.yml
  integrations/_infra/Dockerfile.Deb
  integrations/_infra/Dockerfile.base.builder
  integrations/_infra/Dockerfile.base.runner
Labels: size/L

#1100 Port 11015 add azure dev ops releases
  integrations/azure-devops/.port/resources/blueprints.json
  integrations/azure-devops/.port/resources/port-app-config.yaml
  integrations/azure-devops/azure_devops/client/azure_devops_client.py
  integrations/azure-devops/azure_devops/misc.py
  integrations/azure-devops/examples/example-data.json
  integrations/azure-devops/examples/example-mappings.yaml
  integrations/azure-devops/examples/example-output.json
  integrations/azure-devops/main.py
  integrations/azure-devops/tests/azure_devops/client/test_azure_devops_client.py
Labels: size/L

#1105 [Integration][SonarQube] Bug | 404 response when querying SonarQube issues
  integrations/sonarqube/CHANGELOG.md
  integrations/sonarqube/client.py
  integrations/sonarqube/pyproject.toml
Labels: size/S

#1108 [Infra] Add `openssl` certificates to image
  integrations/_infra/Dockerfile.Deb
Labels: size/XS

#1109 Update to 100 builds fetched
  integrations/jenkins/CHANGELOG.md
  integrations/jenkins/client.py
  integrations/jenkins/pyproject.toml
Labels: size/XS

#1106 [Integration][AWS] - RFC3339 format for organization account timestamps
  integrations/aws/.port/resources/port-app-config.yml
  integrations/aws/CHANGELOG.md
  integrations/aws/pyproject.toml
Labels: size/XS

#1104 [Integration][Gitlab] | Fix unintended deletion of file kinds
  integrations/gitlab/CHANGELOG.md
  integrations/gitlab/gitlab_integration/git_integration.py
  integrations/gitlab/gitlab_integration/gitlab_service.py
  integrations/gitlab/gitlab_integration/ocean.py
  integrations/gitlab/pyproject.toml
Labels: size/M
