Repository port-labs/ocean, pull requests merged in 2024-07, with the labels that each got.

#757 [Integration][Datadog] Add a new kind of SLO History
  integrations/datadog/.port/resources/blueprints.json
  integrations/datadog/.port/resources/port-app-config.yaml
  integrations/datadog/.port/spec.yaml
  integrations/datadog/CHANGELOG.md
  integrations/datadog/client.py
  integrations/datadog/integration.py
  integrations/datadog/main.py
  integrations/datadog/overrides.py
  integrations/datadog/pyproject.toml
  integrations/datadog/utils.py
Labels: size/L

#758 [Integration][Sentry] Reduce number of concurrent requests to fetch issue tags to avoid rate limiting
  integrations/sentry/CHANGELOG.md
  integrations/sentry/clients/sentry.py
  integrations/sentry/main.py
  integrations/sentry/pyproject.toml
Labels: size/S

#698 [Integration][Atlassian Statuspage] Integrate Atlassian Statuspage into Port Ocean
  integrations/statuspage/.env.example
  integrations/statuspage/.gitignore
  integrations/statuspage/.port/resources/blueprints.json
  integrations/statuspage/.port/resources/port-app-config.yaml
  integrations/statuspage/.port/spec.yaml
  integrations/statuspage/CHANGELOG.md
  integrations/statuspage/Makefile
  integrations/statuspage/README.md
  integrations/statuspage/changelog/.gitignore
  integrations/statuspage/client.py
  integrations/statuspage/debug.py
  integrations/statuspage/main.py
  integrations/statuspage/poetry.lock
  integrations/statuspage/poetry.toml
  integrations/statuspage/pyproject.toml
  integrations/statuspage/sonar-project.properties
  integrations/statuspage/tests/__init__.py
Labels: size/XXL

#750 [Integration][sonarQube] - Overcome 10k issue limit imposed by SonarQube
  integrations/sonarqube/CHANGELOG.md
  integrations/sonarqube/client.py
  integrations/sonarqube/poetry.lock
  integrations/sonarqube/pyproject.toml
Labels: size/XL

#760 [Integration][Datadog] - Handle Rate Limit using Queue
  integrations/datadog/CHANGELOG.md
  integrations/datadog/client.py
  integrations/datadog/pyproject.toml
Labels: size/S

#761 [PORT-8828] [AWS] Ensure default region for global resources
  integrations/aws/CHANGELOG.md
  integrations/aws/aws/aws_credentials.py
  integrations/aws/pyproject.toml
  integrations/aws/utils/aws.py
Labels: integration, size/S, integration-aws

#763 [Integration][Statuspage] Fix casing for statuspage integration
  integrations/statuspage/pyproject.toml
Labels: size/XS

#753 [Integration][Azure] Add support for multiple installation methods
  integrations/azure/.port/spec.yaml
  integrations/azure/CHANGELOG.md
  integrations/azure/azure_integration/ocean.py
  integrations/azure/azure_integration/utils.py
  integrations/azure/pyproject.toml
Labels: size/M

#759 PORT-8939 | Bug | Dynatrace config only allows "Entity" kind
  integrations/dynatrace/CHANGELOG.md
  integrations/dynatrace/integration.py
  integrations/dynatrace/pyproject.toml
Labels: size/XS

#775 [Integration][Datadog] Add support to fetch history of slo history
  integrations/datadog/.port/resources/blueprints.json
  integrations/datadog/.port/resources/port-app-config.yaml
  integrations/datadog/CHANGELOG.md
  integrations/datadog/client.py
  integrations/datadog/main.py
  integrations/datadog/overrides.py
  integrations/datadog/pyproject.toml
  integrations/datadog/utils.py
Labels: size/M

#784 [Integration][PagerDuty] - Add support for escalation policy
  integrations/pagerduty/.port/resources/blueprints.json
  integrations/pagerduty/.port/resources/port-app-config.yaml
  integrations/pagerduty/.port/spec.yaml
  integrations/pagerduty/CHANGELOG.md
  integrations/pagerduty/integration.py
  integrations/pagerduty/main.py
  integrations/pagerduty/pyproject.toml
Labels: size/M

#751 [Integration][Snyk] - Make Vulnerabilities Unique
  integrations/snyk/.port/resources/port-app-config.yaml
  integrations/snyk/CHANGELOG.md
  integrations/snyk/pyproject.toml
Labels: size/XS

#782 [Framework] Fix raw results are not sent when raw results are not being parsed into entities
  CHANGELOG.md
  port_ocean/core/handlers/entity_processor/jq_entity_processor.py
  port_ocean/core/integrations/mixins/sync_raw.py
  pyproject.toml
Labels: size/S

#762 [Sentry] Improve sentry integration rate limit handling
  integrations/sentry/CHANGELOG.md
  integrations/sentry/clients/sentry.py
  integrations/sentry/main.py
  integrations/sentry/pyproject.toml
Labels: size/L

#790 [Core] Added environment variables access restriction option
  CHANGELOG.md
  port_ocean/config/settings.py
  port_ocean/core/handlers/entity_processor/jq_entity_processor.py
  port_ocean/core/handlers/port_app_config/base.py
  pyproject.toml
Labels: size/XS

#798 Port 9118 ocean Add description for missing integration properties
  integrations/azure-devops/.port/spec.yaml
  integrations/azure-devops/CHANGELOG.md
  integrations/azure-devops/pyproject.toml
  integrations/jenkins/.port/spec.yaml
  integrations/jenkins/CHANGELOG.md
  integrations/jenkins/pyproject.toml
  integrations/statuspage/.port/spec.yaml
  integrations/statuspage/CHANGELOG.md
  integrations/statuspage/pyproject.toml
  integrations/wiz/.port/spec.yaml
  integrations/wiz/CHANGELOG.md
  integrations/wiz/pyproject.toml
Labels: size/S

#796 [Integration][ServiceNow] - Add description to variables
  integrations/servicenow/.port/spec.yaml
  integrations/servicenow/CHANGELOG.md
  integrations/servicenow/pyproject.toml
Labels: size/XS

#797 [Integration][Opsgenie] - Add description to variables
  integrations/opsgenie/.port/spec.yaml
  integrations/opsgenie/CHANGELOG.md
  integrations/opsgenie/pyproject.toml
Labels: size/XS

#799 [Integration][NewRelic] - Add description to variables
  integrations/newrelic/.port/spec.yaml
  integrations/newrelic/CHANGELOG.md
  integrations/newrelic/pyproject.toml
Labels: size/XS

#794 [Framework] Fix handling of non existing config key in port app config
  CHANGELOG.md
  port_ocean/core/defaults/initialize.py
  pyproject.toml
Labels: size/XS

#795 [Integration][AWS] Fix wrong parameter name in default mapping
  integrations/aws/.port/resources/port-app-config.yml
  integrations/aws/CHANGELOG.md
  integrations/aws/pyproject.toml
Labels: size/XS

#806 [Integration][ADO] Set the `isProjectsLimited` paramater to True by default
  integrations/azure-devops/.port/spec.yaml
  integrations/azure-devops/CHANGELOG.md
  integrations/azure-devops/main.py
  integrations/azure-devops/poetry.lock
  integrations/azure-devops/pyproject.toml
Labels: size/S

#800 [Integration][Launchdarkly] - Added description to configuration properties
  integrations/launchdarkly/.port/spec.yaml
  integrations/launchdarkly/CHANGELOG.md
  integrations/launchdarkly/pyproject.toml
Labels: size/XS

#803 [Integration][ArgoCD] - Added descriptions to configuration properties
  integrations/argocd/.port/spec.yaml
  integrations/argocd/CHANGELOG.md
  integrations/argocd/pyproject.toml
Labels: size/XS

#801 [Integration][Terraform] - Added description to configuration properties
  integrations/terraform-cloud/.port/spec.yaml
  integrations/terraform-cloud/CHANGELOG.md
  integrations/terraform-cloud/pyproject.toml
Labels: size/XS

#808 [Integration] Update description for integration variables
  integrations/newrelic/.port/spec.yaml
  integrations/newrelic/CHANGELOG.md
  integrations/newrelic/pyproject.toml
  integrations/opsgenie/.port/spec.yaml
  integrations/opsgenie/CHANGELOG.md
  integrations/opsgenie/pyproject.toml
  integrations/servicenow/.port/spec.yaml
  integrations/servicenow/CHANGELOG.md
  integrations/servicenow/pyproject.toml
Labels: size/S

#809 [Integration][PagerDuty] - Add Oncall to Escalation policy
  integrations/pagerduty/.port/resources/blueprints.json
  integrations/pagerduty/.port/resources/port-app-config.yaml
  integrations/pagerduty/.port/spec.yaml
  integrations/pagerduty/CHANGELOG.md
  integrations/pagerduty/clients/pagerduty.py
  integrations/pagerduty/integration.py
  integrations/pagerduty/main.py
  integrations/pagerduty/pyproject.toml
Labels: size/M

#807 [Integrations][Wiz][Linear][Statuspage] Update links in Ocean description
  integrations/linear/.port/spec.yaml
  integrations/linear/CHANGELOG.md
  integrations/linear/pyproject.toml
  integrations/statuspage/.port/spec.yaml
  integrations/statuspage/CHANGELOG.md
  integrations/statuspage/pyproject.toml
  integrations/wiz/.port/spec.yaml
  integrations/wiz/CHANGELOG.md
  integrations/wiz/pyproject.toml
Labels: size/S

#802 Add configuration description for Firehydrant and Dynatrace
  integrations/dynatrace/.port/spec.yaml
  integrations/dynatrace/CHANGELOG.md
  integrations/dynatrace/pyproject.toml
  integrations/firehydrant/.port/spec.yaml
  integrations/firehydrant/CHANGELOG.md
  integrations/firehydrant/pyproject.toml
Labels: size/S

#812 [Github-CI] Fixed CI for changing icons
  .github/workflows/validate-integration-files.yml
Labels: size/S

#813 [Github CI] Fixed validate files icon job
  .github/workflows/validate-integration-files.yml
Labels: size/XS

#770 [Integration][Statuspage] Add the statuspage icon to the integration and default blueprints
  integrations/statuspage/.port/resources/blueprints.json
  integrations/statuspage/.port/spec.yaml
  integrations/statuspage/CHANGELOG.md
  integrations/statuspage/pyproject.toml
Labels: size/S

#814 [Integration][AWS] Add logs to indicate how many entities were fetched in resync
  integrations/aws/CHANGELOG.md
  integrations/aws/pyproject.toml
  integrations/aws/utils/resources.py
Labels: size/XS

#816 Fix missing cloudCost property
  integrations/kubecost/CHANGELOG.md
  integrations/kubecost/main.py
  integrations/kubecost/pyproject.toml
Labels: size/XS

#817 [Docs] Fixed integration icons in docs
  docs/framework-guides/src/components/Integrations/index.tsx
Labels: size/XS

#818 [Sentry] Added catch to ratelimiting header missing error
  integrations/sentry/CHANGELOG.md
  integrations/sentry/clients/sentry.py
  integrations/sentry/pyproject.toml
Labels: size/M

#820 [Integration][Jira] Changed atlassianUserToken description
  integrations/jira/.port/spec.yaml
  integrations/jira/CHANGELOG.md
  integrations/jira/pyproject.toml
Labels: size/XS

#769 [Integration][Snyk] - Filter projects
  integrations/snyk/.port/resources/port-app-config.yaml
  integrations/snyk/CHANGELOG.md
  integrations/snyk/integration.py
  integrations/snyk/main.py
  integrations/snyk/pyproject.toml
  integrations/snyk/snyk/overrides.py
Labels: size/M

#823 [Integration][AWS] fix: Cannot read global resources without regional permissions
  integrations/aws/CHANGELOG.md
  integrations/aws/aws/session_manager.py
  integrations/aws/main.py
  integrations/aws/pyproject.toml
  integrations/aws/utils/misc.py
  integrations/aws/utils/resources.py
Labels: size/M

#827 [Integration][ADO] Fix property visibility mapping
  integrations/azure-devops/.port/resources/blueprints.json
  integrations/azure-devops/.port/resources/port-app-config.yaml
  integrations/azure-devops/CHANGELOG.md
  integrations/azure-devops/pyproject.toml
Labels: size/XS

#826 [ArgoCD][Integration] - Update broken docs link
  integrations/argocd/README.md
Labels: size/XS

#825 [Integration][Servicenow] - Update Connectivity Test
  integrations/servicenow/CHANGELOG.md
  integrations/servicenow/client.py
  integrations/servicenow/pyproject.toml
Labels: size/XS

#824 [Integration][GCP] - Add Labels to Blueprint and Mapping
  integrations/gcp/.port/resources/blueprints.json
  integrations/gcp/.port/resources/port-app-config.yaml
  integrations/gcp/CHANGELOG.md
  integrations/gcp/pyproject.toml
Labels: size/S

#831 [Integration][SonarQube] - Fix SonarCloud analysis bug
  integrations/sonarqube/CHANGELOG.md
  integrations/sonarqube/client.py
  integrations/sonarqube/pyproject.toml
Labels: size/XS

#833 Search gitops file paths recursively
  integrations/gitlab/CHANGELOG.md
  integrations/gitlab/gitlab_integration/gitlab_service.py
  integrations/gitlab/pyproject.toml
Labels: size/XS

#834 [Integrations][Gitlab] Port 9343 bug git lab git ops specpath
  integrations/gitlab/CHANGELOG.md
  integrations/gitlab/gitlab_integration/gitlab_service.py
  integrations/gitlab/pyproject.toml
Labels: size/XS

#636 [Integration][SonarQube] - Apply Api Filters to Only SonarQube
  integrations/sonarqube/CHANGELOG.md
  integrations/sonarqube/client.py
  integrations/sonarqube/pyproject.toml
Labels: size/S

#749 [Integration][Kubecost][Opencost] Add support for filters
  integrations/kubecost/CHANGELOG.md
  integrations/kubecost/client.py
  integrations/kubecost/integration.py
  integrations/kubecost/main.py
  integrations/kubecost/pyproject.toml
  integrations/opencost/CHANGELOG.md
  integrations/opencost/client.py
  integrations/opencost/integration.py
  integrations/opencost/pyproject.toml
Labels: size/L

#836 [Framework] Initialize missing _port_app_config
  CHANGELOG.md
  port_ocean/core/handlers/port_app_config/base.py
  pyproject.toml
Labels: size/XS

#692 [Integration][Datadog] Add hosts to default blueprints
  integrations/datadog/.port/resources/blueprints.json
  integrations/datadog/.port/resources/port-app-config.yaml
  integrations/datadog/.port/spec.yaml
  integrations/datadog/CHANGELOG.md
  integrations/datadog/pyproject.toml
Labels: size/M

#841 [AzureDevops] Added check only for project id when comparing publisher inputs
  integrations/azure-devops/CHANGELOG.md
  integrations/azure-devops/azure_devops/webhooks/webhook_event.py
  integrations/azure-devops/pyproject.toml
Labels: size/S

#828 [Integration][Snyk] - Migrate API from v1 to REST
  integrations/snyk/.port/resources/blueprints.json
  integrations/snyk/.port/resources/port-app-config.yaml
  integrations/snyk/main.py
  integrations/snyk/snyk/client.py
Labels: size/L

#843 [Core][Deployment][ECS] - Fix resource name limit by 64
  deployment/terraform/aws/ecs/modules/ecs_service/main.tf
Labels: size/XS

#847 Flush logs on signal interrupt
  CHANGELOG.md
  port_ocean/log/logger_setup.py
  port_ocean/ocean.py
  port_ocean/run.py
  pyproject.toml
Labels: size/S

#850 [Core] Bump versions and fix vulnerabilities
  CHANGELOG.md
  poetry.lock
  pyproject.toml
  scripts/bump-all.sh
Labels: size/L

#848 [Integration][Dynatrace] Dynatrace bug causing SLO entities to be stale
  integrations/dynatrace/CHANGELOG.md
  integrations/dynatrace/client.py
  integrations/dynatrace/poetry.lock
  integrations/dynatrace/pyproject.toml
Labels: size/S
