Repository port-labs/ocean, pull requests merged in 2024-09, with the labels that each got.

#965 [Core] Fix error log on initialization
  CHANGELOG.md
  port_ocean/clients/port/mixins/integrations.py
  port_ocean/core/defaults/initialize.py
  port_ocean/core/utils.py
  pyproject.toml
Labels: size/XS

#909 Add support for search identifier
  CHANGELOG.md
  port_ocean/clients/port/mixins/entities.py
  port_ocean/core/handlers/entities_state_applier/port/applier.py
  port_ocean/core/handlers/port_app_config/models.py
  port_ocean/core/integrations/mixins/sync_raw.py
  port_ocean/core/models.py
  pyproject.toml
Labels: size/M

#962 [Datadog] Add custom tag names for metric filters
  integrations/datadog/CHANGELOG.md
  integrations/datadog/client.py
  integrations/datadog/examples/blueprints.json
  integrations/datadog/examples/mappings.yaml
  integrations/datadog/examples/metric.entity.json
  integrations/datadog/examples/metric.response.json
  integrations/datadog/main.py
  integrations/datadog/overrides.py
  integrations/datadog/pyproject.toml
Labels: size/L

#918 [GCP] Scale GCP Integration
  integrations/gcp/.port/spec.yaml
  integrations/gcp/CHANGELOG.md
  integrations/gcp/gcp_core/cache.py
  integrations/gcp/gcp_core/helpers/ratelimiter/base.py
  integrations/gcp/gcp_core/helpers/ratelimiter/overrides.py
  integrations/gcp/gcp_core/helpers/retry/async_retry.py
  integrations/gcp/gcp_core/search/iterators.py
  integrations/gcp/gcp_core/search/paginated_query.py
  integrations/gcp/gcp_core/search/resource_searches.py
  integrations/gcp/gcp_core/search/utils.py
  integrations/gcp/gcp_core/utils.py
  integrations/gcp/main.py
  integrations/gcp/poetry.lock
  integrations/gcp/pyproject.toml
Labels: size/XL

#942 [Gitlab] Improvements to file kind
  integrations/gitlab/CHANGELOG.md
  integrations/gitlab/gitlab_integration/core/async_fetcher.py
  integrations/gitlab/gitlab_integration/events/hooks/project_files.py
  integrations/gitlab/gitlab_integration/gitlab_service.py
  integrations/gitlab/gitlab_integration/ocean.py
  integrations/gitlab/poetry.lock
  integrations/gitlab/pyproject.toml
  integrations/gitlab/tests/gitlab_integration/__init__.py
  integrations/gitlab/tests/gitlab_integration/conftest.py
  integrations/gitlab/tests/gitlab_integration/test_gitlab_service.py
  integrations/gitlab/tests/test_sample.py
Labels: size/L

#984 [GCP] Add quota dependencies
  integrations/gcp/gcp_core/helpers/ratelimiter/base.py
  integrations/gcp/gcp_core/utils.py
  integrations/gcp/poetry.lock
  integrations/gcp/pyproject.toml
Labels: size/M

#986 bumped version
  integrations/gcp/CHANGELOG.md
  integrations/gcp/pyproject.toml
Labels: size/XS

#982 [Core] Changed logs to not have info by default
  port_ocean/middlewares.py
Labels: size/XS

#983 [Framework] Handle ReadTimeout errors
  CHANGELOG.md
  port_ocean/clients/port/mixins/entities.py
  port_ocean/clients/port/utils.py
  port_ocean/config/settings.py
  port_ocean/helpers/retry.py
  port_ocean/tests/clients/port/mixins/test_entities.py
  pyproject.toml
Labels: size/M

#988 [CI] Limit release integration `max-parallel` to 15 to avoid rate limits from ghcr.io
  .github/workflows/release-integrations.yml
Labels: size/XS

#989 [Integration][ADO] Bug Fix: Default mapping errors
  integrations/azure-devops/.port/resources/port-app-config.yaml
  integrations/azure-devops/CHANGELOG.md
  integrations/azure-devops/azure_devops/client/azure_devops_client.py
  integrations/azure-devops/pyproject.toml
Labels: size/M

#990 [Gitlab] Added cases where no tasks should be ran together + empty pages of projects
  integrations/gitlab/CHANGELOG.md
  integrations/gitlab/gitlab_integration/gitlab_service.py
  integrations/gitlab/gitlab_integration/ocean.py
  integrations/gitlab/pyproject.toml
Labels: size/S

#980 [Integration][Snyk] Make Snyk Integration accept a list of organizations
  integrations/snyk/.port/spec.yaml
  integrations/snyk/CHANGELOG.md
  integrations/snyk/main.py
  integrations/snyk/pyproject.toml
  integrations/snyk/snyk/client.py
Labels: size/S

#991 [Core] Replaced StopAsyncIteration with a return to prevent errors when no tasks are provided.
  CHANGELOG.md
  port_ocean/utils/async_iterators.py
  pyproject.toml
Labels: size/XS

#996 [Integration][ADO] - Ensure that no more than 20,000 work items are returned per project
  integrations/azure-devops/CHANGELOG.md
  integrations/azure-devops/azure_devops/client/azure_devops_client.py
  integrations/azure-devops/pyproject.toml
Labels: size/XS

#1003 Fix integration release script
  .github/workflows/release-integrations.yml
Labels: size/M

#1005 Bump fake integration
  integrations/fake-integration/pyproject.toml
Labels: size/XS

#997 [Integration][GCP] Added an alternative for retrieving quota project id
  integrations/gcp/CHANGELOG.md
  integrations/gcp/gcp_core/helpers/ratelimiter/overrides.py
  integrations/gcp/gcp_core/utils.py
  integrations/gcp/pyproject.toml
Labels: size/S

#967 [Integration][OpsGenie] - Performance Improvement
  integrations/opsgenie/.port/resources/blueprints.json
  integrations/opsgenie/.port/resources/port-app-config.yaml
  integrations/opsgenie/.port/spec.yaml
  integrations/opsgenie/CHANGELOG.md
  integrations/opsgenie/client.py
  integrations/opsgenie/integration.py
  integrations/opsgenie/main.py
  integrations/opsgenie/pyproject.toml
  integrations/opsgenie/utils.py
Labels: size/L

#998 [Wiz] Filter issues by status
  integrations/wiz/CHANGELOG.md
  integrations/wiz/integration.py
  integrations/wiz/main.py
  integrations/wiz/overrides.py
  integrations/wiz/pyproject.toml
  integrations/wiz/wiz/client.py
  integrations/wiz/wiz/constants.py
Labels: size/L

#1010 [GoogleCloud] Real time improvements + Susbscription as specific resource
  integrations/gcp/CHANGELOG.md
  integrations/gcp/examples/blueprints.json
  integrations/gcp/examples/mappings.yaml
  integrations/gcp/gcp_core/search/resource_searches.py
  integrations/gcp/gcp_core/utils.py
  integrations/gcp/main.py
  integrations/gcp/pyproject.toml
  integrations/gcp/tests/gcp_core/__init__.py
  integrations/gcp/tests/gcp_core/search/__init__.py
  integrations/gcp/tests/gcp_core/search/test_resource_searches.py
  integrations/gcp/tests/test_sample.py
Labels: size/L

#1023 Bump to 0.10.11
  CHANGELOG.md
  pyproject.toml
Labels: size/XS

#1026 Multistep docker and move to alpine
  integrations/_infra/Dockerfile
  integrations/_infra/init.sh
Labels: size/M

#1031 Skip smoke tests
  .github/workflows/test.yml
Labels: size/M

#1014 [Integration][GitLab] - Enable Existing Webhooks on Restarts
  integrations/gitlab/CHANGELOG.md
  integrations/gitlab/gitlab_integration/gitlab_service.py
  integrations/gitlab/pyproject.toml
  integrations/gitlab/tests/gitlab_integration/test_gitlab_service_webhook.py
Labels: size/L

#1027 [Integration][SonarQube] - Handle 4xx errors gracefully
  integrations/sonarqube/CHANGELOG.md
  integrations/sonarqube/client.py
  integrations/sonarqube/pyproject.toml
Labels: size/S

#1035 [Core] Fix overriding of next resync status when cancelled due to scheduled resync
  CHANGELOG.md
  port_ocean/core/integrations/mixins/sync_raw.py
  port_ocean/ocean.py
  pyproject.toml
Labels: size/XS

#1046 [AWS] Fix: Handle NoneType response in is_access_denied_exception
  integrations/aws/CHANGELOG.md
  integrations/aws/pyproject.toml
  integrations/aws/tests/test_sample.py
  integrations/aws/tests/test_utils.py
  integrations/aws/utils/misc.py
Labels: size/S

#1047 [Integration][Gitlab] - Introduce Pagination and Run Code in Async
  integrations/gitlab/CHANGELOG.md
  integrations/gitlab/gitlab_integration/events/event_handler.py
  integrations/gitlab/gitlab_integration/events/setup.py
  integrations/gitlab/gitlab_integration/gitlab_service.py
  integrations/gitlab/gitlab_integration/ocean.py
  integrations/gitlab/pyproject.toml
  integrations/gitlab/tests/gitlab_integration/test_gitlab_service_webhook.py
Labels: size/L

#1041 [Integration][AWS] - Fix ExpiredTokenException
  integrations/aws/CHANGELOG.md
  integrations/aws/aws/session_manager.py
  integrations/aws/main.py
  integrations/aws/poetry.lock
  integrations/aws/pyproject.toml
  integrations/aws/tests/utils/test_aws.py
  integrations/aws/tests/utils/test_misc.py
  integrations/aws/utils/aws.py
  integrations/aws/utils/misc.py
  integrations/aws/utils/resources.py
Labels: size/XL

#1052 PORT 9979 docker image security scanner workflow
  .github/workflows/docker-images-security-scan.yml
Labels: size/M

#1049 [Core] Replace `pyjq` with `jq.py`
  .github/workflows/core-test.yml
  CHANGELOG.md
  Makefile
  poetry.lock
  port_ocean/core/handlers/entity_processor/jq_entity_processor.py
  port_ocean/core/integrations/base.py
  port_ocean/ocean.py
  port_ocean/tests/core/handlers/entity_processor/test_jq_entity_processor.py
  port_ocean/tests/test_sample.py
  port_ocean/tests/test_smoke.py
  pyproject.toml
Labels: size/L

#1053 Bump to 0.11.0
  CHANGELOG.md
  pyproject.toml
Labels: size/XS

#1048 [Integration][ServiceNow] Updated icons for servicenow blueprints
  integrations/servicenow/.port/resources/blueprints.json
Labels: size/XS
