Repository port-labs/ocean, pull requests merged in 2024-03, with the labels that each got.

#403 Port 6993 ocean allow async calls in the jq entity processor
  CHANGELOG.md
  port_ocean/core/handlers/entity_processor/jq_entity_processor.py
  pyproject.toml
Labels: framework, size/M

#404 Apply Ocean version 0.5.3 to all integrations
  integrations/argocd/CHANGELOG.md
  integrations/argocd/poetry.lock
  integrations/argocd/pyproject.toml
  integrations/azure/CHANGELOG.md
  integrations/azure/poetry.lock
  integrations/azure/pyproject.toml
  integrations/firehydrant/CHANGELOG.md
  integrations/firehydrant/poetry.lock
  integrations/firehydrant/pyproject.toml
  integrations/gitlab/CHANGELOG.md
  integrations/gitlab/gitlab_integration/git_integration.py
  integrations/gitlab/poetry.lock
  integrations/gitlab/pyproject.toml
  integrations/jenkins/CHANGELOG.md
  integrations/jenkins/poetry.lock
  integrations/jenkins/pyproject.toml
  integrations/jira/CHANGELOG.md
  integrations/jira/poetry.lock
  integrations/jira/pyproject.toml
  integrations/kafka/CHANGELOG.md
  integrations/kafka/poetry.lock
  integrations/kafka/pyproject.toml
  integrations/kubecost/CHANGELOG.md
  integrations/kubecost/poetry.lock
  integrations/kubecost/pyproject.toml
  integrations/newrelic/CHANGELOG.md
  integrations/newrelic/poetry.lock
  integrations/newrelic/pyproject.toml
  integrations/opencost/CHANGELOG.md
  integrations/opencost/poetry.lock
  integrations/opencost/pyproject.toml
  integrations/opsgenie/CHANGELOG.md
  integrations/opsgenie/poetry.lock
  integrations/opsgenie/pyproject.toml
  integrations/pagerduty/CHANGELOG.md
  integrations/pagerduty/poetry.lock
  integrations/pagerduty/pyproject.toml
  integrations/sentry/CHANGELOG.md
  integrations/sentry/poetry.lock
  integrations/sentry/pyproject.toml
  integrations/servicenow/CHANGELOG.md
  integrations/servicenow/poetry.lock
  integrations/servicenow/pyproject.toml
  integrations/snyk/CHANGELOG.md
  integrations/snyk/poetry.lock
  integrations/snyk/pyproject.toml
  integrations/sonarqube/CHANGELOG.md
  integrations/sonarqube/poetry.lock
  integrations/sonarqube/pyproject.toml
  integrations/terraform-cloud/CHANGELOG.md
  integrations/terraform-cloud/poetry.lock
  integrations/terraform-cloud/pyproject.toml
  integrations/wiz/CHANGELOG.md
  integrations/wiz/poetry.lock
  integrations/wiz/pyproject.toml
Labels: integration, size/L

#406 Port 4585 azure devops ocean integration
  integrations/azure-devops/CHANGELOG.md
  integrations/azure-devops/azure_devops/webhooks/webhook_event.py
  integrations/azure-devops/pyproject.toml
Labels: integration, size/XS

#407 Port 4585 azure devops ocean integration
  integrations/azure-devops/.port/resources/scorecards.json
  integrations/azure-devops/CHANGELOG.md
  integrations/azure-devops/pyproject.toml
Labels: integration, size/XS

#408 Port 7003 ocean failure in the entity processing is failing the resync
  CHANGELOG.md
  port_ocean/core/handlers/entity_processor/jq_entity_processor.py
  pyproject.toml
Labels: framework, size/S

#409 Apply Ocean version 0.5.4 to all integrations
  integrations/argocd/CHANGELOG.md
  integrations/argocd/poetry.lock
  integrations/argocd/pyproject.toml
  integrations/azure-devops/CHANGELOG.md
  integrations/azure-devops/poetry.lock
  integrations/azure-devops/pyproject.toml
  integrations/azure/CHANGELOG.md
  integrations/azure/poetry.lock
  integrations/azure/pyproject.toml
  integrations/firehydrant/CHANGELOG.md
  integrations/firehydrant/poetry.lock
  integrations/firehydrant/pyproject.toml
  integrations/gitlab/CHANGELOG.md
  integrations/gitlab/poetry.lock
  integrations/gitlab/pyproject.toml
  integrations/jenkins/CHANGELOG.md
  integrations/jenkins/poetry.lock
  integrations/jenkins/pyproject.toml
  integrations/jira/CHANGELOG.md
  integrations/jira/poetry.lock
  integrations/jira/pyproject.toml
  integrations/kafka/CHANGELOG.md
  integrations/kafka/poetry.lock
  integrations/kafka/pyproject.toml
  integrations/kubecost/CHANGELOG.md
  integrations/kubecost/poetry.lock
  integrations/kubecost/pyproject.toml
  integrations/newrelic/CHANGELOG.md
  integrations/newrelic/poetry.lock
  integrations/newrelic/pyproject.toml
  integrations/opencost/CHANGELOG.md
  integrations/opencost/poetry.lock
  integrations/opencost/pyproject.toml
  integrations/opsgenie/CHANGELOG.md
  integrations/opsgenie/poetry.lock
  integrations/opsgenie/pyproject.toml
  integrations/pagerduty/CHANGELOG.md
  integrations/pagerduty/poetry.lock
  integrations/pagerduty/pyproject.toml
  integrations/sentry/CHANGELOG.md
  integrations/sentry/poetry.lock
  integrations/sentry/pyproject.toml
  integrations/servicenow/CHANGELOG.md
  integrations/servicenow/poetry.lock
  integrations/servicenow/pyproject.toml
  integrations/snyk/CHANGELOG.md
  integrations/snyk/poetry.lock
  integrations/snyk/pyproject.toml
  integrations/sonarqube/CHANGELOG.md
  integrations/sonarqube/poetry.lock
  integrations/sonarqube/pyproject.toml
  integrations/terraform-cloud/CHANGELOG.md
  integrations/terraform-cloud/poetry.lock
  integrations/terraform-cloud/pyproject.toml
  integrations/wiz/CHANGELOG.md
  integrations/wiz/poetry.lock
  integrations/wiz/pyproject.toml
Labels: integration, size/L

#410 docs(azure-devops): update readme
  integrations/azure-devops/.port/spec.yaml
  integrations/azure-devops/README.md
Labels: integration, size/XS

#414 Changed caching to be with params
  CHANGELOG.md
  port_ocean/utils/cache.py
  pyproject.toml
Labels: framework, size/S

#416 Apply Ocean version 0.5.5 to all integrations
  integrations/argocd/CHANGELOG.md
  integrations/argocd/poetry.lock
  integrations/argocd/pyproject.toml
  integrations/azure-devops/poetry.lock
  integrations/azure/CHANGELOG.md
  integrations/azure/poetry.lock
  integrations/azure/pyproject.toml
  integrations/firehydrant/CHANGELOG.md
  integrations/firehydrant/poetry.lock
  integrations/firehydrant/pyproject.toml
  integrations/gitlab/CHANGELOG.md
  integrations/gitlab/poetry.lock
  integrations/gitlab/pyproject.toml
  integrations/jenkins/CHANGELOG.md
  integrations/jenkins/poetry.lock
  integrations/jenkins/pyproject.toml
  integrations/jira/CHANGELOG.md
  integrations/jira/poetry.lock
  integrations/jira/pyproject.toml
  integrations/kafka/CHANGELOG.md
  integrations/kafka/poetry.lock
  integrations/kafka/pyproject.toml
  integrations/kubecost/CHANGELOG.md
  integrations/kubecost/poetry.lock
  integrations/kubecost/pyproject.toml
  integrations/newrelic/CHANGELOG.md
  integrations/newrelic/poetry.lock
  integrations/newrelic/pyproject.toml
  integrations/opencost/CHANGELOG.md
  integrations/opencost/poetry.lock
  integrations/opencost/pyproject.toml
  integrations/opsgenie/CHANGELOG.md
  integrations/opsgenie/poetry.lock
  integrations/opsgenie/pyproject.toml
  integrations/pagerduty/CHANGELOG.md
  integrations/pagerduty/poetry.lock
  integrations/pagerduty/pyproject.toml
  integrations/sentry/CHANGELOG.md
  integrations/sentry/poetry.lock
  integrations/sentry/pyproject.toml
  integrations/servicenow/CHANGELOG.md
  integrations/servicenow/poetry.lock
  integrations/servicenow/pyproject.toml
  integrations/snyk/CHANGELOG.md
  integrations/snyk/poetry.lock
  integrations/snyk/pyproject.toml
  integrations/sonarqube/CHANGELOG.md
  integrations/sonarqube/poetry.lock
  integrations/sonarqube/pyproject.toml
  integrations/terraform-cloud/CHANGELOG.md
  integrations/terraform-cloud/poetry.lock
  integrations/terraform-cloud/pyproject.toml
  integrations/wiz/CHANGELOG.md
  integrations/wiz/poetry.lock
  integrations/wiz/pyproject.toml
Labels: integration, size/XXL

#417 [Infra] Add new sections to pr templates
  .github/PULL_REQUEST_TEMPLATE.md
Labels: infra, size/XS

#418 [Integration][PagerDuty] - Add Oncall Schedule
  integrations/pagerduty/.port/resources/blueprints.json
  integrations/pagerduty/.port/resources/port-app-config.yaml
  integrations/pagerduty/.port/spec.yaml
  integrations/pagerduty/CHANGELOG.md
  integrations/pagerduty/clients/utils.py
  integrations/pagerduty/integration.py
  integrations/pagerduty/main.py
  integrations/pagerduty/pyproject.toml
Labels: integration, size/M

#411 [Integration][Sentry] Improve on pagination
  integrations/sentry/.port/resources/blueprints.json
  integrations/sentry/.port/resources/port-app-config.yaml
  integrations/sentry/.port/spec.yaml
  integrations/sentry/CHANGELOG.md
  integrations/sentry/clients/sentry.py
  integrations/sentry/config.yaml
  integrations/sentry/integration.py
  integrations/sentry/main.py
  integrations/sentry/pyproject.toml
Labels: integration, size/L

#423 PORT-7262-add-a-config-type-for-array-in-ocean
  CHANGELOG.md
  docs/framework-guides/docs/develop-an-integration/integration-spec-and-default-resources.md
  port_ocean/config/dynamic.py
  pyproject.toml
Labels: framework, size/XS

#424 Apply Ocean version 0.5.6 to all integrations
  integrations/argocd/CHANGELOG.md
  integrations/argocd/poetry.lock
  integrations/argocd/pyproject.toml
  integrations/azure-devops/CHANGELOG.md
  integrations/azure-devops/poetry.lock
  integrations/azure-devops/pyproject.toml
  integrations/azure/CHANGELOG.md
  integrations/azure/poetry.lock
  integrations/azure/pyproject.toml
  integrations/dynatrace/CHANGELOG.md
  integrations/dynatrace/poetry.lock
  integrations/dynatrace/pyproject.toml
  integrations/firehydrant/CHANGELOG.md
  integrations/firehydrant/poetry.lock
  integrations/firehydrant/pyproject.toml
  integrations/gitlab/CHANGELOG.md
  integrations/gitlab/poetry.lock
  integrations/gitlab/pyproject.toml
  integrations/jenkins/CHANGELOG.md
  integrations/jenkins/poetry.lock
  integrations/jenkins/pyproject.toml
  integrations/jira/CHANGELOG.md
  integrations/jira/poetry.lock
  integrations/jira/pyproject.toml
  integrations/kafka/CHANGELOG.md
  integrations/kafka/poetry.lock
  integrations/kafka/pyproject.toml
  integrations/kubecost/CHANGELOG.md
  integrations/kubecost/poetry.lock
  integrations/kubecost/pyproject.toml
  integrations/newrelic/CHANGELOG.md
  integrations/newrelic/poetry.lock
  integrations/newrelic/pyproject.toml
  integrations/opencost/CHANGELOG.md
  integrations/opencost/poetry.lock
  integrations/opencost/pyproject.toml
  integrations/opsgenie/CHANGELOG.md
  integrations/opsgenie/poetry.lock
  integrations/opsgenie/pyproject.toml
  integrations/pagerduty/CHANGELOG.md
  integrations/pagerduty/poetry.lock
  integrations/pagerduty/pyproject.toml
  integrations/sentry/CHANGELOG.md
  integrations/sentry/poetry.lock
  integrations/sentry/pyproject.toml
  integrations/servicenow/CHANGELOG.md
  integrations/servicenow/poetry.lock
  integrations/servicenow/pyproject.toml
  integrations/snyk/CHANGELOG.md
  integrations/snyk/poetry.lock
  integrations/snyk/pyproject.toml
  integrations/sonarqube/CHANGELOG.md
  integrations/sonarqube/poetry.lock
  integrations/sonarqube/pyproject.toml
  integrations/terraform-cloud/CHANGELOG.md
  integrations/terraform-cloud/poetry.lock
  integrations/terraform-cloud/pyproject.toml
  integrations/wiz/CHANGELOG.md
  integrations/wiz/poetry.lock
  integrations/wiz/pyproject.toml
Labels: integration, size/L

#420 update readme and graphic assets
  README.md
  assets/ExportArchitecture.svg
  assets/LifecycleOfIntegration.svg
  assets/OceanLogo.svg
  assets/OceanSymbol.svg
  assets/RealTimeUpdatesArchitecture.svg
  assets/Thumbnail.jpg
  assets/Thumbnail.png
  docs/framework-guides/docs/ocean-overview.md
  docs/framework-guides/static/img/favicon.svg
Labels: size/L

#427 changed thumbnail url path in `ocean-overview.md`
  docs/framework-guides/docs/ocean-overview.md
Labels: size/XS

#426 release internal notification
  .github/workflows/release-framework.yml
Labels: infra, size/M

#428 Updated thumbnail of `ocean-overview.md` (#426)
  docs/framework-guides/docs/ocean-overview.md
Labels: size/XS

#401 [Integration][ArgoCD] Blueprint and Config Mapping Enhancement
  integrations/argocd/.port/resources/blueprints.json
  integrations/argocd/.port/resources/port-app-config.yaml
  integrations/argocd/CHANGELOG.md
  integrations/argocd/pyproject.toml
Labels: integration, size/M

#430 [Integration][Argocd] - Add support for managed resources
  integrations/argocd/.port/spec.yaml
  integrations/argocd/CHANGELOG.md
  integrations/argocd/client.py
  integrations/argocd/main.py
  integrations/argocd/pyproject.toml
Labels: integration, size/S

#380 [Integration][PagerDuty] - Updated the service blueprint from string to enum
  integrations/pagerduty/.port/resources/blueprints.json
  integrations/pagerduty/.port/resources/port-app-config.yaml
  integrations/pagerduty/CHANGELOG.md
  integrations/pagerduty/pyproject.toml
Labels: integration, size/S

#431 Thumbnail
  assets/Thumbnail.png
  docs/framework-guides/docs/ocean-overview.md
Labels: size/XS

#429 [Framework] Added support for items to parse in mapping
  CHANGELOG.md
  docs/framework-guides/docs/framework/features/resource-mapping.md
  port_ocean/core/handlers/entity_processor/jq_entity_processor.py
  port_ocean/core/handlers/port_app_config/models.py
  pyproject.toml
Labels: framework, size/M

#425 [Integration][Gitlab] - Allow to create webhook for specific groups
  integrations/gitlab/.port/spec.yaml
  integrations/gitlab/CHANGELOG.md
  integrations/gitlab/gitlab_integration/bootstrap.py
  integrations/gitlab/gitlab_integration/events/setup.py
  integrations/gitlab/gitlab_integration/gitlab_service.py
  integrations/gitlab/gitlab_integration/ocean.py
  integrations/gitlab/pyproject.toml
Labels: integration, size/L

#402 [Integration][ArgoCD] Add Suppport for k8s resources
  integrations/argocd/.port/resources/blueprints.json
  integrations/argocd/.port/resources/port-app-config.yaml
  integrations/argocd/.port/spec.yaml
  integrations/argocd/CHANGELOG.md
  integrations/argocd/client.py
  integrations/argocd/main.py
  integrations/argocd/pyproject.toml
Labels: integration, size/M

#445 Combined PR
  .github/dependebot.yml
  docs/framework-guides/package-lock.json
  integrations/azure/poetry.lock
  integrations/opencost/integration.py
  integrations/opencost/poetry.lock
  integrations/opencost/pyproject.toml
  integrations/opsgenie/poetry.lock
  integrations/opsgenie/pyproject.toml
  integrations/pagerduty/integration.py
  integrations/pagerduty/main.py
  integrations/pagerduty/poetry.lock
  integrations/pagerduty/pyproject.toml
  integrations/sentry/poetry.lock
  integrations/sentry/pyproject.toml
  integrations/servicenow/poetry.lock
  integrations/servicenow/pyproject.toml
  integrations/snyk/poetry.lock
  integrations/snyk/pyproject.toml
  integrations/sonarqube/client.py
  integrations/sonarqube/poetry.lock
  integrations/sonarqube/pyproject.toml
  integrations/terraform-cloud/poetry.lock
  integrations/terraform-cloud/pyproject.toml
  integrations/wiz/poetry.lock
  integrations/wiz/pyproject.toml
  poetry.lock
  port_ocean/context/event.py
  port_ocean/core/event_listener/kafka.py
  pyproject.toml
Labels: integration, framework, infra, size/L

#443 [Integration][Snyk] Add more origins to Target blueprint
  integrations/snyk/.port/resources/blueprints.json
  integrations/snyk/CHANGELOG.md
  integrations/snyk/pyproject.toml
Labels: integration, size/XS

#458 PORT-7326-gitlab-0-1-58-bugfix-gitlab
  integrations/gitlab/CHANGELOG.md
  integrations/gitlab/gitlab_integration/ocean.py
  integrations/gitlab/pyproject.toml
Labels: integration, size/XS

#459 Update default blueprints and mapping
  integrations/jira/.port/resources/blueprints.json
  integrations/jira/.port/resources/port-app-config.yaml
  integrations/jira/CHANGELOG.md
  integrations/jira/pyproject.toml
Labels: integration, size/XS

#461 [Integrations][Gitlab] Listen to default branch of repository by default
  integrations/gitlab/CHANGELOG.md
  integrations/gitlab/gitlab_integration/events/hooks/push.py
  integrations/gitlab/gitlab_integration/git_integration.py
  integrations/gitlab/pyproject.toml
Labels: integration, size/XS

#464 [Integrations][Azure] Update default permissions
  integrations/azure/.port/spec.yaml
  integrations/azure/CHANGELOG.md
  integrations/azure/pyproject.toml
Labels: integration, size/XS

#467 [Core] Fix the logger to handle exception deserializer
  CHANGELOG.md
  port_ocean/log/logger_setup.py
  pyproject.toml
Labels: framework, size/XS

#468 [CI] Fix release framework workflow to extract the version correctly
  .github/workflows/release-framework.yml
Labels: infra, size/XS

#470 Apply Ocean version 0.5.8 to all integrations
  integrations/argocd/CHANGELOG.md
  integrations/argocd/poetry.lock
  integrations/argocd/pyproject.toml
  integrations/azure-devops/CHANGELOG.md
  integrations/azure-devops/poetry.lock
  integrations/azure-devops/pyproject.toml
  integrations/azure/CHANGELOG.md
  integrations/azure/poetry.lock
  integrations/azure/pyproject.toml
  integrations/dynatrace/CHANGELOG.md
  integrations/dynatrace/poetry.lock
  integrations/dynatrace/pyproject.toml
  integrations/firehydrant/CHANGELOG.md
  integrations/firehydrant/poetry.lock
  integrations/firehydrant/pyproject.toml
  integrations/gitlab/CHANGELOG.md
  integrations/gitlab/poetry.lock
  integrations/gitlab/pyproject.toml
  integrations/jenkins/CHANGELOG.md
  integrations/jenkins/poetry.lock
  integrations/jenkins/pyproject.toml
  integrations/jira/CHANGELOG.md
  integrations/jira/poetry.lock
  integrations/jira/pyproject.toml
  integrations/kafka/CHANGELOG.md
  integrations/kafka/poetry.lock
  integrations/kafka/pyproject.toml
  integrations/kubecost/CHANGELOG.md
  integrations/kubecost/poetry.lock
  integrations/kubecost/pyproject.toml
  integrations/newrelic/CHANGELOG.md
  integrations/newrelic/poetry.lock
  integrations/newrelic/pyproject.toml
  integrations/opencost/CHANGELOG.md
  integrations/opencost/poetry.lock
  integrations/opencost/pyproject.toml
  integrations/opsgenie/CHANGELOG.md
  integrations/opsgenie/poetry.lock
  integrations/opsgenie/pyproject.toml
  integrations/pagerduty/CHANGELOG.md
  integrations/pagerduty/poetry.lock
  integrations/pagerduty/pyproject.toml
  integrations/sentry/CHANGELOG.md
  integrations/sentry/poetry.lock
  integrations/sentry/pyproject.toml
  integrations/servicenow/CHANGELOG.md
  integrations/servicenow/poetry.lock
  integrations/servicenow/pyproject.toml
  integrations/snyk/CHANGELOG.md
  integrations/snyk/poetry.lock
  integrations/snyk/pyproject.toml
  integrations/sonarqube/CHANGELOG.md
  integrations/sonarqube/poetry.lock
  integrations/sonarqube/pyproject.toml
  integrations/terraform-cloud/CHANGELOG.md
  integrations/terraform-cloud/poetry.lock
  integrations/terraform-cloud/pyproject.toml
  integrations/wiz/CHANGELOG.md
  integrations/wiz/poetry.lock
  integrations/wiz/pyproject.toml
Labels: integration, size/L

#376 Launchdarkly Integration
  integrations/launchdarkly/.gitignore
  integrations/launchdarkly/.port/resources/.gitignore
  integrations/launchdarkly/.port/resources/blueprints.json
  integrations/launchdarkly/.port/resources/port-app-config.yaml
  integrations/launchdarkly/.port/spec.yaml
  integrations/launchdarkly/CHANGELOG.md
  integrations/launchdarkly/Makefile
  integrations/launchdarkly/README.md
  integrations/launchdarkly/changelog/.gitignore
  integrations/launchdarkly/client.py
  integrations/launchdarkly/config.yaml
  integrations/launchdarkly/debug.py
  integrations/launchdarkly/main.py
  integrations/launchdarkly/poetry.lock
  integrations/launchdarkly/poetry.toml
  integrations/launchdarkly/pyproject.toml
  integrations/launchdarkly/sonar-project.properties
  integrations/launchdarkly/tests/__init__.py
Labels: integration, tests, size/XXL

#476 Combined PR
  docs/framework-guides/package-lock.json
  integrations/azure/poetry.lock
  integrations/azure/pyproject.toml
  integrations/dynatrace/poetry.lock
  integrations/dynatrace/pyproject.toml
  integrations/firehydrant/poetry.lock
  integrations/firehydrant/pyproject.toml
  integrations/jenkins/poetry.lock
  integrations/jenkins/pyproject.toml
  integrations/jira/poetry.lock
  integrations/jira/pyproject.toml
  integrations/kafka/poetry.lock
  integrations/kafka/pyproject.toml
  integrations/launchdarkly/poetry.lock
  integrations/launchdarkly/pyproject.toml
  integrations/newrelic/poetry.lock
  integrations/newrelic/pyproject.toml
Labels: integration, size/L

#474 Multi platform support with build-and-push GH action
  .github/workflows/release-integrations.yml
Labels: infra, size/S
