Repository port-labs/ocean, pull requests merged in 2024-04, with the labels that each got.

#478 [Integrations][Launchdarkly] Move to Feature Management section
  integrations/launchdarkly/.port/spec.yaml
  integrations/launchdarkly/CHANGELOG.md
  integrations/launchdarkly/pyproject.toml
Labels: integration, size/XS

#473 [Integration][Snyk] Catch error code SNYK-9999 from snyk api
  integrations/snyk/CHANGELOG.md
  integrations/snyk/pyproject.toml
  integrations/snyk/snyk/client.py
Labels: integration, size/S

#471 [Core] Fixed spamming `Token Expired` message
  CHANGELOG.md
  port_ocean/clients/port/authentication.py
  pyproject.toml
Labels: framework, size/XS

#482 [Integrations][Snyk] Use snyk_client in _get_paginated_resources
  integrations/snyk/CHANGELOG.md
  integrations/snyk/pyproject.toml
  integrations/snyk/snyk/client.py
Labels: integration, size/S

#484 [Integration][Snyk] - Fix SNYK-9999 Error
  integrations/snyk/CHANGELOG.md
  integrations/snyk/pyproject.toml
  integrations/snyk/snyk/client.py
Labels: integration, size/XS

#485 [Integration][Snyk] Fixed request json error in snyk client
  integrations/snyk/CHANGELOG.md
  integrations/snyk/pyproject.toml
  integrations/snyk/snyk/client.py
Labels: integration, size/S

#475 [Integrations][Gitlab] Added option to configure specific events to listen to on webhooks
  integrations/gitlab/.port/spec.yaml
  integrations/gitlab/CHANGELOG.md
  integrations/gitlab/gitlab_integration/errors.py
  integrations/gitlab/gitlab_integration/events/setup.py
  integrations/gitlab/gitlab_integration/gitlab_service.py
  integrations/gitlab/gitlab_integration/models/webhook_groups_override_config.py
  integrations/gitlab/gitlab_integration/ocean.py
  integrations/gitlab/gitlab_integration/utils.py
  integrations/gitlab/pyproject.toml
Labels: integration, size/L

#489 [Integration][Azure] Support multi azure subscription and add generic cloudResource kind
  integrations/azure/.port/resources/blueprints.json
  integrations/azure/.port/resources/port-app-config.yaml
  integrations/azure/.port/spec.yaml
  integrations/azure/CHANGELOG.md
  integrations/azure/azure_integration/iterators.py
  integrations/azure/azure_integration/ocean.py
  integrations/azure/azure_integration/overrides.py
  integrations/azure/azure_integration/utils.py
  integrations/azure/poetry.lock
  integrations/azure/pyproject.toml
Labels: integration, size/XXL

#492 Added helm option to Gitlab, Azure-Devops and Jenkins
  integrations/azure-devops/.port/spec.yaml
  integrations/dynatrace/config.yaml
  integrations/gitlab/.port/spec.yaml
  integrations/jenkins/.port/spec.yaml
Labels: integration, size/XS

#491 [Integration][Gitlab] Add logs for event investigation
  integrations/gitlab/CHANGELOG.md
  integrations/gitlab/gitlab_integration/events/event_handler.py
  integrations/gitlab/gitlab_integration/events/hooks/push.py
  integrations/gitlab/gitlab_integration/events/setup.py
  integrations/gitlab/gitlab_integration/gitlab_service.py
  integrations/gitlab/gitlab_integration/ocean.py
  integrations/gitlab/pyproject.toml
Labels: integration, size/M

#497 [Integration][Azure] Fix blueprint identifiers and relation mappings
  integrations/azure/.port/resources/blueprints.json
  integrations/azure/.port/resources/port-app-config.yaml
  integrations/azure/CHANGELOG.md
  integrations/azure/pyproject.toml
Labels: integration, size/S

#498 Port 7627 ocean retry integration entities search
  CHANGELOG.md
  port_ocean/clients/port/authentication.py
  port_ocean/clients/port/mixins/entities.py
  port_ocean/clients/port/retry_transport.py
  port_ocean/core/handlers/entities_state_applier/port/applier.py
  port_ocean/core/handlers/entities_state_applier/port/validate_entity_relations.py
  port_ocean/core/integrations/mixins/sync_raw.py
  port_ocean/helpers/retry.py
  pyproject.toml
Labels: framework, size/L

#499 Port 7627 ocean retry integration entities search
  CHANGELOG.md
  port_ocean/clients/port/mixins/entities.py
Labels: framework, size/XS

#502 [Integration][Launchdarkly] - Fixed Issue Causing Feature Flags sync to fail
  integrations/launchdarkly/.port/resources/port-app-config.yaml
  integrations/launchdarkly/.port/spec.yaml
  integrations/launchdarkly/CHANGELOG.md
  integrations/launchdarkly/config.yaml
  integrations/launchdarkly/pyproject.toml
Labels: integration, size/XS

#503 Fixed the link
  integrations/terraform-cloud/.port/spec.yaml
Labels: size/XS

#486 [Integration] [ArgoCD] - Blueprint Enhancement and Relation Reversal
  integrations/argocd/.port/resources/blueprints.json
  integrations/argocd/.port/resources/port-app-config.yaml
  integrations/argocd/.port/spec.yaml
  integrations/argocd/CHANGELOG.md
  integrations/argocd/client.py
  integrations/argocd/main.py
  integrations/argocd/poetry.lock
  integrations/argocd/pyproject.toml
Labels: integration, size/L

#527 Combined PR
  integrations/argocd/poetry.lock
  integrations/azure-devops/poetry.lock
  integrations/azure/poetry.lock
  integrations/dynatrace/poetry.lock
  integrations/firehydrant/poetry.lock
  integrations/gitlab/poetry.lock
  integrations/jenkins/poetry.lock
  integrations/jira/poetry.lock
  integrations/kafka/poetry.lock
  integrations/kubecost/poetry.lock
  integrations/launchdarkly/poetry.lock
  integrations/newrelic/poetry.lock
  integrations/opencost/poetry.lock
  integrations/opsgenie/poetry.lock
  integrations/pagerduty/poetry.lock
  integrations/sentry/poetry.lock
  integrations/servicenow/poetry.lock
  integrations/snyk/poetry.lock
  integrations/sonarqube/poetry.lock
  integrations/terraform-cloud/poetry.lock
  integrations/wiz/poetry.lock
  poetry.lock
Labels: integration, size/M

#530 Rename dependebot.yml to dependabot.yml
  .github/dependabot.yml
Labels: infra, size/XS

#531 Update dependabot.yml
  .github/dependabot.yml
Labels: infra, size/XS

#547 PORT-7664 Add Ocean arch images to the docs homepage
  docs/framework-guides/docs/ocean-overview.md
  docs/framework-guides/static/img/ExportArchitecture.svg
  docs/framework-guides/static/img/RealTimeUpdatesArchitecture.svg
Labels: size/L

#548 Combined PR
  poetry.lock
  pyproject.toml
Labels: size/M

#549 Fixed case where defaultBranch isn't available
  integrations/azure-devops/CHANGELOG.md
  integrations/azure-devops/azure_devops/client/azure_devops_client.py
  integrations/azure-devops/pyproject.toml
Labels: size/XS

#557 Combined PR
  poetry.lock
  pyproject.toml
Labels: size/M

#501 [Integration][Azure Devops] Add support for Azure Project
  integrations/azure-devops/.port/resources/blueprints.json
  integrations/azure-devops/.port/resources/port-app-config.yaml
  integrations/azure-devops/CHANGELOG.md
  integrations/azure-devops/azure_devops/client/azure_devops_client.py
  integrations/azure-devops/azure_devops/misc.py
  integrations/azure-devops/main.py
  integrations/azure-devops/pyproject.toml
Labels: integration, size/M

#526 [Framework] Introduce async iterators streamer util function
  CHANGELOG.md
  poetry.lock
  port_ocean/utils/async_iterators.py
  pyproject.toml
Labels: framework, size/L

#490 [Framework] Delete entities which didn't pass the mapping selector in register_raw
  CHANGELOG.md
  docs/framework-guides/docs/framework/features/live-events.md
  integrations/dynatrace/config.yaml
  port_ocean/clients/port/mixins/entities.py
  port_ocean/core/handlers/entity_processor/base.py
  port_ocean/core/handlers/entity_processor/jq_entity_processor.py
  port_ocean/core/integrations/mixins/sync_raw.py
  port_ocean/core/ocean_types.py
  pyproject.toml
Labels: integration, framework, size/L

#568 [Integration][Azure] Fix azureSubscription relation in resource group blueprint
  integrations/azure/.port/resources/blueprints.json
  integrations/azure/CHANGELOG.md
  integrations/azure/pyproject.toml
Labels: size/XS

#576 skipping spec publish for dev versions
  .github/workflows/release-integrations.yml
Labels: size/XS

#493 [integration][GCP] - Port 6501 gcp ocean integration
  .github/workflows/release-integrations.yml
  integrations/gcp/.dockerignore
  integrations/gcp/.gitignore
  integrations/gcp/.port/resources/.gitignore
  integrations/gcp/.port/resources/blueprints.json
  integrations/gcp/.port/resources/port-app-config.yaml
  integrations/gcp/.port/spec.yaml
  integrations/gcp/CHANGELOG.md
  integrations/gcp/Makefile
  integrations/gcp/README.md
  integrations/gcp/changelog/.gitignore
  integrations/gcp/config.yaml
  integrations/gcp/debug.py
  integrations/gcp/gcp_core/__init__.py
  integrations/gcp/gcp_core/errors.py
  integrations/gcp/gcp_core/feed_event.py
  integrations/gcp/gcp_core/overrides.py
  integrations/gcp/gcp_core/search/__init__.py
  integrations/gcp/gcp_core/search/iterators.py
  integrations/gcp/gcp_core/search/resource_searches.py
  integrations/gcp/gcp_core/utils.py
  integrations/gcp/integration.py
  integrations/gcp/main.py
  integrations/gcp/poetry.lock
  integrations/gcp/poetry.toml
  integrations/gcp/pyproject.toml
  integrations/gcp/tests/__init__.py
Labels: integration, tests, size/XXL

#583 Combined PR
  poetry.lock
  pyproject.toml
Labels: size/S

#591 [Integration][PagerDuty] - Map oncall user with highest escalation level
  integrations/pagerduty/.port/resources/blueprints.json
  integrations/pagerduty/.port/resources/port-app-config.yaml
  integrations/pagerduty/CHANGELOG.md
  integrations/pagerduty/pyproject.toml
Labels: size/XS

#588 [Integration][ArgoCD] - Fix managed resources KeyError
  integrations/argocd/.port/resources/port-app-config.yaml
  integrations/argocd/CHANGELOG.md
  integrations/argocd/client.py
  integrations/argocd/pyproject.toml
Labels: size/XS

#599 Combined PR
  poetry.lock
  pyproject.toml
Labels: size/M
