Repository port-labs/ocean, pull requests merged in 2025-03, with the labels that each got.

#1444 [Integration][Snyk] Added support for live events for snyk
  integrations/snyk/.port/spec.yaml
  integrations/snyk/CHANGELOG.md
  integrations/snyk/initialize_client.py
  integrations/snyk/main.py
  integrations/snyk/pyproject.toml
Labels: size/S

#1449 [Core] Add `on-resync-start` and `on-resync-complete`
  .pre-commit-config.yaml
  .vscode/launch.json
  CHANGELOG.md
  port_ocean/cli/cookiecutter/hooks/post_gen_project.py
  port_ocean/context/event.py
  port_ocean/context/ocean.py
  port_ocean/core/integrations/mixins/events.py
  port_ocean/core/integrations/mixins/sync_raw.py
  port_ocean/core/ocean_types.py
  port_ocean/tests/core/handlers/mixins/test_sync_raw.py
  pyproject.toml
Labels: size/L

#1450 [Integration][ADO] Skip 404 errors for pull requests
  integrations/azure-devops/azure_devops/client/azure_devops_client.py
  integrations/azure-devops/azure_devops/client/base_client.py
  integrations/azure-devops/tests/azure_devops/client/test_azure_devops_client.py
Labels: size/M, Review effort 3/5

#1456 [Integration][Gitlab] Fix File Search Logging to only log when no files found
  integrations/gitlab/CHANGELOG.md
  integrations/gitlab/gitlab_integration/gitlab_service.py
  integrations/gitlab/pyproject.toml
Labels: size/XS

#1458 [Integration][ADO] Bump integration version
  integrations/azure-devops/CHANGELOG.md
  integrations/azure-devops/pyproject.toml
Labels: size/XS

#1460 [Integration][Pagerduty] Added Live events + OAuth client
  integrations/pagerduty/.port/spec.yaml
  integrations/pagerduty/CHANGELOG.md
  integrations/pagerduty/clients/pagerduty.py
  integrations/pagerduty/consts.py
  integrations/pagerduty/kinds.py
  integrations/pagerduty/main.py
  integrations/pagerduty/pyproject.toml
  integrations/pagerduty/tests/test_client.py
  integrations/pagerduty/tests/test_webhook_processors.py
  integrations/pagerduty/webhook_processors/__init__.py
  integrations/pagerduty/webhook_processors/abstract.py
  integrations/pagerduty/webhook_processors/incidents.py
  integrations/pagerduty/webhook_processors/services.py
Labels: size/L

#1461 [Integration][GitLab] Bug | GitOps in GitLab Integration - Failure to map port yml file
  integrations/gitlab/CHANGELOG.md
  integrations/gitlab/gitlab_integration/core/utils.py
  integrations/gitlab/pyproject.toml
  integrations/gitlab/tests/gitlab_integration/test_core/test_utils.py
Labels: size/M

#1453 [Integration][AWS] Resolve Cloud Control Pagination Issue
  integrations/aws/CHANGELOG.md
  integrations/aws/main.py
  integrations/aws/pyproject.toml
  integrations/aws/tests/conftest.py
  integrations/aws/tests/utils/test_misc.py
  integrations/aws/tests/utils/test_resources.py
  integrations/aws/utils/misc.py
  integrations/aws/utils/resources.py
Labels: size/L

#1467 [Core] Wrong integration version showing in UI and API fix
  CHANGELOG.md
  port_ocean/core/defaults/initialize.py
  pyproject.toml
Labels: size/XS

#1469 [Core] Add configurable event processing timeouts to Ocean
  CHANGELOG.md
  port_ocean/config/settings.py
  port_ocean/core/handlers/webhook/processor_manager.py
  port_ocean/ocean.py
  port_ocean/tests/core/handlers/webhook/test_processor_manager.py
  pyproject.toml
Labels: size/M

#1471 [Core] add minimum entities to map before searching
  CHANGELOG.md
  port_ocean/core/integrations/mixins/sync_raw.py
  pyproject.toml
Labels: size/XS, Review effort 1/5

#1479 [Docs] Bump react and docusaurus versions
  docs/framework-guides/package-lock.json
  docs/framework-guides/package.json
Labels: size/XXL

#1478 [Core] Bump versions
  CHANGELOG.md
  integrations/_infra/Dockerfile.Deb
  integrations/_infra/Dockerfile.alpine
  integrations/_infra/Dockerfile.base.builder
  integrations/_infra/Dockerfile.base.runner
  poetry.lock
  pyproject.toml
Labels: size/XL

#1494 [Core] Fetch latest port app config for each event
  CHANGELOG.md
  port_ocean/core/handlers/webhook/processor_manager.py
  port_ocean/core/handlers/webhook/webhook_event.py
  port_ocean/tests/core/handlers/webhook/test_processor_manager.py
  pyproject.toml
Labels: size/M

#1462 [Integration][ADO] Bug | ADO project retrieval fails with JSON decode error
  integrations/azure-devops/CHANGELOG.md
  integrations/azure-devops/azure_devops/client/azure_devops_client.py
  integrations/azure-devops/azure_devops/client/base_client.py
  integrations/azure-devops/azure_devops/gitops/file_entity_processor.py
  integrations/azure-devops/azure_devops/gitops/generate_entities.py
  integrations/azure-devops/azure_devops/misc.py
  integrations/azure-devops/azure_devops/webhooks/listeners/listener.py
  integrations/azure-devops/azure_devops/webhooks/listeners/pull_request.py
  integrations/azure-devops/azure_devops/webhooks/listeners/push.py
  integrations/azure-devops/azure_devops/webhooks/webhook_event.py
  integrations/azure-devops/azure_devops/webhooks/webhook_event_observer.py
  integrations/azure-devops/bootstrap.py
  integrations/azure-devops/integration.py
  integrations/azure-devops/main.py
  integrations/azure-devops/pyproject.toml
  integrations/azure-devops/tests/azure_devops/client/test_azure_devops_client.py
  integrations/azure-devops/tests/conftest.py
Labels: size/L

#1448 [Integration][bitbucket] Added bitbucket ocean integration
  integrations/bitbucket-cloud/.env.example
  integrations/bitbucket-cloud/.gitignore
  integrations/bitbucket-cloud/.port/resources/.gitignore
  integrations/bitbucket-cloud/.port/resources/blueprints.json
  integrations/bitbucket-cloud/.port/resources/port-app-config.yml
  integrations/bitbucket-cloud/.port/spec.yaml
  integrations/bitbucket-cloud/CHANGELOG.md
  integrations/bitbucket-cloud/CONTRIBUTING.md
  integrations/bitbucket-cloud/Makefile
  integrations/bitbucket-cloud/README.md
  integrations/bitbucket-cloud/changelog/.gitignore
  integrations/bitbucket-cloud/client.py
  integrations/bitbucket-cloud/debug.py
  integrations/bitbucket-cloud/helpers/__init__.py
  integrations/bitbucket-cloud/helpers/exceptions.py
  integrations/bitbucket-cloud/helpers/folder.py
  integrations/bitbucket-cloud/helpers/utils.py
  integrations/bitbucket-cloud/integration.py
  integrations/bitbucket-cloud/main.py
  integrations/bitbucket-cloud/poetry.lock
  integrations/bitbucket-cloud/poetry.toml
  integrations/bitbucket-cloud/pyproject.toml
  integrations/bitbucket-cloud/sonar-project.properties
  integrations/bitbucket-cloud/tests/__init__.py
  integrations/bitbucket-cloud/tests/conftest.py
  integrations/bitbucket-cloud/tests/helpers/test_folder.py
  integrations/bitbucket-cloud/tests/test_client.py
Labels: size/XXL, Review effort 4/5

#1497 [CI] Bump `tj-actions/changed-files@v46`
  .github/workflows/create-new-sonarcloud-project.yml
  .github/workflows/detect-changes-matrix.yml
  .github/workflows/sonarcloud-integrations.yml
  integrations/_infra/Makefile
  integrations/bitbucket-cloud/.port/resources/blueprints.json
Labels: size/XS

#1433 [Integration][Azure DevOps] Add Support For File Kind To Azure DevOps Integration
  integrations/azure-devops/CHANGELOG.md
  integrations/azure-devops/azure_devops/client/azure_devops_client.py
  integrations/azure-devops/azure_devops/client/file_processing.py
  integrations/azure-devops/azure_devops/misc.py
  integrations/azure-devops/azure_devops/webhooks/listeners/push.py
  integrations/azure-devops/examples/example-blueprints.json
  integrations/azure-devops/examples/example-file-data.json
  integrations/azure-devops/examples/example-mappings.yaml
  integrations/azure-devops/main.py
  integrations/azure-devops/poetry.lock
  integrations/azure-devops/pyproject.toml
  integrations/azure-devops/tests/azure_devops/client/test_file_processing.py
Labels: size/XL, Review effort 4/5

#1503 [Integration][Datadog] Added flexibility to datadogs slohistory
  integrations/datadog/CHANGELOG.md
  integrations/datadog/client.py
  integrations/datadog/main.py
  integrations/datadog/overrides.py
  integrations/datadog/poetry.lock
  integrations/datadog/pyproject.toml
  integrations/datadog/tests/test_utils.py
  integrations/datadog/utils.py
Labels: size/L, Review effort 2/5

#1501 [Integration][Bitbucket] Added Rolling Window Rate Limiter
  integrations/bitbucket-cloud/.port/resources/blueprints.json
  integrations/bitbucket-cloud/.port/resources/port-app-config.yml
  integrations/bitbucket-cloud/CHANGELOG.md
  integrations/bitbucket-cloud/client.py
  integrations/bitbucket-cloud/helpers/rate_limiter.py
  integrations/bitbucket-cloud/helpers/utils.py
  integrations/bitbucket-cloud/main.py
  integrations/bitbucket-cloud/pyproject.toml
  integrations/bitbucket-cloud/tests/helpers/test_rate_limiter.py
  integrations/bitbucket-cloud/tests/test_client.py
Labels: size/XL

#1502 [Integration][Gitlab] Improve Memory Usage For Members Kind
  integrations/gitlab/CHANGELOG.md
  integrations/gitlab/gitlab_integration/events/hooks/base.py
  integrations/gitlab/gitlab_integration/git_integration.py
  integrations/gitlab/gitlab_integration/gitlab_service.py
  integrations/gitlab/gitlab_integration/ocean.py
  integrations/gitlab/pyproject.toml
  integrations/gitlab/tests/gitlab_integration/test_gitlab_service.py
Labels: size/M

#1504 [Integration][Pagerduty] Add url validation
  integrations/pagerduty/.port/spec.yaml
  integrations/pagerduty/CHANGELOG.md
  integrations/pagerduty/pyproject.toml
Labels: size/XS, Review effort 1/5

#1260 [Core] Add metrics for ocean core
  CHANGELOG.md
  poetry.lock
  port_ocean/clients/port/mixins/entities.py
  port_ocean/config/settings.py
  port_ocean/context/event.py
  port_ocean/context/ocean.py
  port_ocean/context/resource.py
  port_ocean/core/event_listener/base.py
  port_ocean/core/handlers/entities_state_applier/port/applier.py
  port_ocean/core/handlers/entity_processor/base.py
  port_ocean/core/handlers/resync_state_updater/updater.py
  port_ocean/core/integrations/mixins/sync_raw.py
  port_ocean/core/ocean_types.py
  port_ocean/helpers/metric/metric.py
  port_ocean/helpers/metric/utils.py
  port_ocean/helpers/retry.py
  port_ocean/ocean.py
  port_ocean/tests/clients/port/mixins/test_entities.py
  port_ocean/tests/core/conftest.py
  port_ocean/tests/core/handlers/entities_state_applier/test_applier.py
  port_ocean/tests/core/handlers/mixins/test_sync_raw.py
  port_ocean/tests/test_metric.py
  port_ocean/utils/async_http.py
  pyproject.toml
  scripts/run-compare-diff-pef.sh
  scripts/run-local-perf-test.sh
  scripts/run-metric-test.sh
  scripts/run-smoke-test.sh
Labels: size/XL, Review effort [1-5]: 4

#1500 [Integration][Bitbucket] Add Support For Live Events
  integrations/bitbucket-cloud/.port/spec.yaml
  integrations/bitbucket-cloud/CHANGELOG.md
  integrations/bitbucket-cloud/bitbucket_cloud/__init__.py
  integrations/bitbucket-cloud/bitbucket_cloud/client.py
  integrations/bitbucket-cloud/bitbucket_cloud/helpers/__init__.py
  integrations/bitbucket-cloud/bitbucket_cloud/helpers/exceptions.py
  integrations/bitbucket-cloud/bitbucket_cloud/helpers/folder.py
  integrations/bitbucket-cloud/bitbucket_cloud/helpers/rate_limiter.py
  integrations/bitbucket-cloud/bitbucket_cloud/helpers/utils.py
  integrations/bitbucket-cloud/bitbucket_cloud/webhook_processors/__init__.py
  integrations/bitbucket-cloud/bitbucket_cloud/webhook_processors/events.py
  integrations/bitbucket-cloud/bitbucket_cloud/webhook_processors/processors/__init__.py
  integrations/bitbucket-cloud/bitbucket_cloud/webhook_processors/processors/_bitbucket_abstract_webhook_processor.py
  integrations/bitbucket-cloud/bitbucket_cloud/webhook_processors/processors/pull_request_webhook_processor.py
  integrations/bitbucket-cloud/bitbucket_cloud/webhook_processors/processors/repository_webhook_processor.py
  integrations/bitbucket-cloud/bitbucket_cloud/webhook_processors/webhook_client.py
  integrations/bitbucket-cloud/initialize_client.py
  integrations/bitbucket-cloud/main.py
  integrations/bitbucket-cloud/pyproject.toml
  integrations/bitbucket-cloud/tests/conftest.py
  integrations/bitbucket-cloud/tests/helpers/test_folder.py
  integrations/bitbucket-cloud/tests/helpers/test_rate_limiter.py
  integrations/bitbucket-cloud/tests/test_client.py
  integrations/bitbucket-cloud/tests/webhook/__init__.py
  integrations/bitbucket-cloud/tests/webhook/processors/__init__.py
  integrations/bitbucket-cloud/tests/webhook/processors/test__bitbucket_abstract_webhook_processor.py
  integrations/bitbucket-cloud/tests/webhook/processors/test_pull_request_webhook_processor.py
  integrations/bitbucket-cloud/tests/webhook/processors/test_repository_webhook_processor.py
  integrations/bitbucket-cloud/tests/webhook/test_events.py
  integrations/bitbucket-cloud/tests/webhook/test_webhook_client.py
Labels: size/XL

#1442 [Integration][Gitlab] - Initialise Gitlab v2 Integration
  integrations/gitlab-v2/.env.example
  integrations/gitlab-v2/.gitignore
  integrations/gitlab-v2/.port/resources/.gitignore
  integrations/gitlab-v2/.port/resources/blueprints.json
  integrations/gitlab-v2/.port/resources/port-app-config.yml
  integrations/gitlab-v2/.port/spec.yaml
  integrations/gitlab-v2/CHANGELOG.md
  integrations/gitlab-v2/CONTRIBUTING.md
  integrations/gitlab-v2/Makefile
  integrations/gitlab-v2/README.md
  integrations/gitlab-v2/changelog/.gitignore
  integrations/gitlab-v2/clients/__init__.py
  integrations/gitlab-v2/clients/auth_client.py
  integrations/gitlab-v2/clients/base_client.py
  integrations/gitlab-v2/clients/client_factory.py
  integrations/gitlab-v2/clients/gitlab_client.py
  integrations/gitlab-v2/clients/rest_client.py
  integrations/gitlab-v2/debug.py
  integrations/gitlab-v2/helpers/__init__.py
  integrations/gitlab-v2/helpers/utils.py
  integrations/gitlab-v2/integration.py
  integrations/gitlab-v2/main.py
  integrations/gitlab-v2/poetry.lock
  integrations/gitlab-v2/poetry.toml
  integrations/gitlab-v2/pyproject.toml
  integrations/gitlab-v2/sonar-project.properties
  integrations/gitlab-v2/tests/__init__.py
  integrations/gitlab-v2/tests/clients/__init__.py
  integrations/gitlab-v2/tests/clients/test_auth_client.py
  integrations/gitlab-v2/tests/clients/test_base_client.py
  integrations/gitlab-v2/tests/test_sample.py
Labels: size/XXL

#1516 [Integration][Bitbucket] Bumped jinja2 version
  integrations/bitbucket-cloud/CHANGELOG.md
  integrations/bitbucket-cloud/poetry.lock
  integrations/bitbucket-cloud/pyproject.toml
Labels: size/M, Review effort 1/5

#1519 [Integration][Bitbucket] Bumped integration version from dev to GA
  integrations/bitbucket-cloud/CHANGELOG.md
  integrations/bitbucket-cloud/pyproject.toml
Labels: size/XS, Review effort 1/5

#1522 [Integration][Bitbucket] Fix integration icon
  integrations/bitbucket-cloud/.port/spec.yaml
  integrations/bitbucket-cloud/CHANGELOG.md
  integrations/bitbucket-cloud/pyproject.toml
Labels: size/XS, Review effort 1/5

#1523 [Integration][Bitbucket] Enable live events
  integrations/bitbucket-cloud/.port/spec.yaml
  integrations/bitbucket-cloud/CHANGELOG.md
  integrations/bitbucket-cloud/pyproject.toml
Labels: size/XS, Review effort 1/5

#1505 [Integration][SonarQube] Refactor Webhook Handling for Scalable Live Events
  integrations/sonarqube/.env.example
  integrations/sonarqube/.port/spec.yaml
  integrations/sonarqube/CHANGELOG.md
  integrations/sonarqube/client.py
  integrations/sonarqube/initialize_client.py
  integrations/sonarqube/integration.py
  integrations/sonarqube/main.py
  integrations/sonarqube/pyproject.toml
  integrations/sonarqube/tests/conftest.py
  integrations/sonarqube/tests/test_base_webhook_processor.py
  integrations/sonarqube/tests/test_client.py
  integrations/sonarqube/tests/test_processors.py
  integrations/sonarqube/utils.py
  integrations/sonarqube/webhook_processors/__init__.py
  integrations/sonarqube/webhook_processors/analysis_webhook_processor.py
  integrations/sonarqube/webhook_processors/base_webhook_processor.py
  integrations/sonarqube/webhook_processors/issue_webhook_processor.py
  integrations/sonarqube/webhook_processors/project_webhook_processor.py
Labels: size/L, Review effort 3/5

#1520 [Integration][DataDog] Refactor Webhook Handling for Scalable Live Events
  integrations/datadog/.env.example
  integrations/datadog/.port/spec.yaml
  integrations/datadog/CHANGELOG.md
  integrations/datadog/client.py
  integrations/datadog/initialize_client.py
  integrations/datadog/integration.py
  integrations/datadog/main.py
  integrations/datadog/pyproject.toml
  integrations/datadog/tests/test_client.py
  integrations/datadog/tests/test_webhook_processor.py
  integrations/datadog/webhook_processors/__init__.py
  integrations/datadog/webhook_processors/monitor_webhook_processor.py
Labels: size/L, Review effort 2/5, Possible security concern
