Repository port-labs/ocean, pull requests merged in 2025-10, with the labels that each got.

#2198 [Integration][AWS-v3] Add RDS DB Instance support to AWS v3 integration
  integrations/aws-v3/.port/resources/blueprints.json
  integrations/aws-v3/.port/resources/port-app-config.yml
  integrations/aws-v3/.port/spec.yaml
  integrations/aws-v3/CHANGELOG.md
  integrations/aws-v3/aws/core/exporters/rds/db_instance/__init__.py
  integrations/aws-v3/aws/core/exporters/rds/db_instance/actions.py
  integrations/aws-v3/aws/core/exporters/rds/db_instance/exporter.py
  integrations/aws-v3/aws/core/exporters/rds/db_instance/models.py
  integrations/aws-v3/aws/core/helpers/types.py
  integrations/aws-v3/examples/rds-db-instance/rds-db-instance-blueprint.json
  integrations/aws-v3/examples/rds-db-instance/rds-db-instance-mappings.yaml
  integrations/aws-v3/examples/rds-db-instance/rds-db-instance-raw-data.json
  integrations/aws-v3/main.py
  integrations/aws-v3/pyproject.toml
  integrations/aws-v3/tests/core/exporters/rds/db_instance/__init__.py
  integrations/aws-v3/tests/core/exporters/rds/db_instance/test_actions.py
  integrations/aws-v3/tests/core/exporters/rds/db_instance/test_exporter.py
  integrations/aws-v3/tests/core/exporters/rds/db_instance/test_options_and_models.py
Labels: size/XL, Review effort 3/5

#2201 [Integration][AWS-v3] Implement Lambda Function Kind
  integrations/aws-v3/.port/resources/blueprints.json
  integrations/aws-v3/.port/resources/port-app-config.yml
  integrations/aws-v3/.port/spec.yaml
  integrations/aws-v3/CHANGELOG.md
  integrations/aws-v3/aws/core/exporters/aws_lambda/function/__init__.py
  integrations/aws-v3/aws/core/exporters/aws_lambda/function/actions.py
  integrations/aws-v3/aws/core/exporters/aws_lambda/function/exporter.py
  integrations/aws-v3/aws/core/exporters/aws_lambda/function/models.py
  integrations/aws-v3/aws/core/helpers/types.py
  integrations/aws-v3/examples/lambda-function/lambda-function-blueprint.json
  integrations/aws-v3/examples/lambda-function/lambda-function-mappings.yaml
  integrations/aws-v3/examples/lambda-function/lambda-function-raw-data.json
  integrations/aws-v3/main.py
  integrations/aws-v3/pyproject.toml
  integrations/aws-v3/tests/core/exporters/aws_lambda/function/__init__.py
  integrations/aws-v3/tests/core/exporters/aws_lambda/function/test_lambda_function_actions.py
  integrations/aws-v3/tests/core/exporters/aws_lambda/function/test_lambda_function_exporter.py
  integrations/aws-v3/tests/core/exporters/aws_lambda/function/test_lambda_function_options_and_models.py
Labels: size/XL, Review effort 3/5

#2242 [Integration] [Gitlab] feat: refresh token on run
  integrations/gitlab-v2/gitlab/clients/auth_client.py
  integrations/gitlab-v2/gitlab/clients/base_client.py
  integrations/gitlab-v2/tests/clients/test_auth_client.py
  integrations/gitlab-v2/tests/clients/test_base_client.py
  integrations/gitlab-v2/tests/clients/test_refresh_token_integration.py
Labels: size/L, Review effort 2/5

#2249 [Integration][Gitlab] bump gitlab-v2 version
  integrations/gitlab-v2/CHANGELOG.md
  integrations/gitlab-v2/pyproject.toml
Labels: size/XS, Review effort 1/5

#2038 [Integration][Armorcode] Added armorcode ocean integration
  .vscode/launch.json
  integrations/armorcode/.env.example
  integrations/armorcode/.gitignore
  integrations/armorcode/.port/resources/.gitignore
  integrations/armorcode/.port/resources/blueprints.json
  integrations/armorcode/.port/resources/port-app-config.yml
  integrations/armorcode/.port/spec.yaml
  integrations/armorcode/CHANGELOG.md
  integrations/armorcode/CONTRIBUTING.md
  integrations/armorcode/Makefile
  integrations/armorcode/README.md
  integrations/armorcode/armorcode/__init__.py
  integrations/armorcode/armorcode/clients/__init__.py
  integrations/armorcode/armorcode/clients/auth/__init__.py
  integrations/armorcode/armorcode/clients/auth/abstract_authenticator.py
  integrations/armorcode/armorcode/clients/auth/api_key_authenticator.py
  integrations/armorcode/armorcode/clients/client_factory.py
  integrations/armorcode/armorcode/clients/http/__init__.py
  integrations/armorcode/armorcode/clients/http/armorcode_client.py
  integrations/armorcode/armorcode/clients/http/base_client.py
  integrations/armorcode/armorcode/core/__init__.py
  integrations/armorcode/armorcode/core/exporters/__init__.py
  integrations/armorcode/armorcode/core/exporters/abstract_exporter.py
  integrations/armorcode/armorcode/core/exporters/finding_exporter.py
  integrations/armorcode/armorcode/core/exporters/product_exporter.py
  integrations/armorcode/armorcode/core/exporters/subproduct_exporter.py
  integrations/armorcode/armorcode/helpers/__init__.py
  integrations/armorcode/armorcode/helpers/utils.py
  integrations/armorcode/changelog/.gitignore
  integrations/armorcode/clients/__init__.py
  integrations/armorcode/debug.py
  integrations/armorcode/integration.py
  integrations/armorcode/main.py
  integrations/armorcode/poetry.lock
  integrations/armorcode/poetry.toml
  integrations/armorcode/pyproject.toml
  integrations/armorcode/sonar-project.properties
  integrations/armorcode/tests/__init__.py
  integrations/armorcode/tests/clients/__init__.py
  integrations/armorcode/tests/clients/test_armorcode_client.py
  integrations/armorcode/tests/conftest.py
  integrations/armorcode/tests/test_exporters.py
  integrations/armorcode/tests/test_sample.py
Labels: size/XL, Review effort 3/5

#2175 [Integration][Okta] Added support for groups and user kinds in okta
  .vscode/launch.json
  integrations/okta/.env.example
  integrations/okta/.gitignore
  integrations/okta/.port/resources/.gitignore
  integrations/okta/.port/resources/blueprints.json
  integrations/okta/.port/resources/port-app-config.yml
  integrations/okta/.port/spec.yaml
  integrations/okta/CHANGELOG.md
  integrations/okta/CONTRIBUTING.md
  integrations/okta/Makefile
  integrations/okta/README.md
  integrations/okta/changelog/.gitignore
  integrations/okta/debug.py
  integrations/okta/integration.py
  integrations/okta/main.py
  integrations/okta/okta/__init__.py
  integrations/okta/okta/clients/__init__.py
  integrations/okta/okta/clients/client_factory.py
  integrations/okta/okta/clients/http/__init__.py
  integrations/okta/okta/clients/http/client.py
  integrations/okta/okta/core/__init__.py
  integrations/okta/okta/core/exporters/__init__.py
  integrations/okta/okta/core/exporters/abstract_exporter.py
  integrations/okta/okta/core/exporters/group_exporter.py
  integrations/okta/okta/core/exporters/user_exporter.py
  integrations/okta/okta/core/options.py
  integrations/okta/okta/helpers/exceptions.py
  integrations/okta/okta/helpers/utils.py
  integrations/okta/okta/utils.py
  integrations/okta/poetry.lock
  integrations/okta/poetry.toml
  integrations/okta/pyproject.toml
  integrations/okta/sonar-project.properties
  integrations/okta/tests/__init__.py
  integrations/okta/tests/clients/__init__.py
  integrations/okta/tests/clients/test_okta_client.py
  integrations/okta/tests/conftest.py
  integrations/okta/tests/core/__init__.py
  integrations/okta/tests/core/exporters/__init__.py
  integrations/okta/tests/core/exporters/test_group_exporter.py
  integrations/okta/tests/core/exporters/test_user_exporter.py
Labels: size/XXL, Review effort 3/5, Possible security concern

#2258 [Integration][AWS-v3] - Improve logging and resilience on region failure
  integrations/aws-v3/CHANGELOG.md
  integrations/aws-v3/aws/auth/providers/assume_role_with_web_identity_provider.py
  integrations/aws-v3/aws/auth/strategies/organizations_strategy.py
  integrations/aws-v3/pyproject.toml
  integrations/aws-v3/resync.py
Labels: size/M, Review effort 2/5
