Repository port-labs/ocean, pull requests merged in 2025-02, with the labels that each got.

#1359 [Integration][SonarQube] Bug | Subsequent resync in SonarQube causes deletion of entities
  integrations/sonarqube/CHANGELOG.md
  integrations/sonarqube/main.py
  integrations/sonarqube/pyproject.toml
Labels: size/S

#1363 [Core] Port 11686 Reduce cases of mass deletion
  CHANGELOG.md
  port_ocean/core/handlers/entities_state_applier/port/applier.py
  port_ocean/core/handlers/port_app_config/models.py
  port_ocean/core/integrations/mixins/sync.py
  port_ocean/core/integrations/mixins/sync_raw.py
  port_ocean/tests/core/handlers/entities_state_applier/test_applier.py
  port_ocean/tests/core/handlers/webhook/test_processor_manager.py
  pyproject.toml
Labels: size/M

#1372 [Core] Port 11686 investigate options to reduce cases of mass deletion from integration - fix typo
  port_ocean/core/handlers/entities_state_applier/port/applier.py
Labels: size/XS

#1349 [Integration][Kafka] Convert client methods to async
  integrations/kafka/CHANGELOG.md
  integrations/kafka/kafka_integration/client.py
  integrations/kafka/main.py
  integrations/kafka/pyproject.toml
  integrations/kafka/tests/seed_data.py
Labels: size/L

#1309 [Integration][Gitlab] Bug | Gitlab integration doesnt perform Glob queries properly
  integrations/gitlab/CHANGELOG.md
  integrations/gitlab/gitlab_integration/core/utils.py
  integrations/gitlab/gitlab_integration/gitlab_service.py
  integrations/gitlab/poetry.lock
  integrations/gitlab/pyproject.toml
  integrations/gitlab/tests/gitlab_integration/test_gitlab_service.py
Labels: size/M

#1373 [Docs] PORT-12872 Update notes about scheduled resync interval flag
  docs/framework-guides/docs/_common/resync-abort-message.mdx
  docs/framework-guides/docs/develop-an-integration/integration-configuration.md
Labels: size/XS

#1375 [Integration][AWS] Fix integration version in pyproject
  integrations/aws/pyproject.toml
Labels: size/XS

#1355 [Integration][ADO] Sync members once from a team
  integrations/azure-devops/CHANGELOG.md
  integrations/azure-devops/azure_devops/client/azure_devops_client.py
  integrations/azure-devops/azure_devops/client/base_client.py
  integrations/azure-devops/azure_devops/misc.py
  integrations/azure-devops/main.py
  integrations/azure-devops/pyproject.toml
  integrations/azure-devops/tests/azure_devops/client/test_azure_devops_client.py
Labels: size/M

#1378 [Core] Added flag to destroy integration config while running clean defaults cli command
  CHANGELOG.md
  port_ocean/cli/commands/defaults/clean.py
  port_ocean/clients/port/mixins/integrations.py
  port_ocean/core/defaults/clean.py
  pyproject.toml
Labels: size/M

#1384 [Integration][Azure Devops] Added fix for urls with .visualstudio.com
  integrations/azure-devops/CHANGELOG.md
  integrations/azure-devops/azure_devops/client/azure_devops_client.py
  integrations/azure-devops/pyproject.toml
Labels: size/XS, Review effort [1-5]: 2

#1383 [Integration][Azure Devops] Fixed Incorrect Pagination In Work-Items Resource Retrieval
  integrations/azure-devops/CHANGELOG.md
  integrations/azure-devops/azure_devops/client/azure_devops_client.py
  integrations/azure-devops/pyproject.toml
Labels: size/M, Review effort [1-5]: 2

#1371 [Integration][Gitlab] Fix Memory Leak Identified In Live Events Sync
  integrations/gitlab/CHANGELOG.md
  integrations/gitlab/gitlab_integration/events/event_handler.py
  integrations/gitlab/pyproject.toml
Labels: size/XS, Review effort [1-5]: 2

#1358 [Integration][Snyk] Remove API Call to Fetch User Details
  integrations/snyk/CHANGELOG.md
  integrations/snyk/pyproject.toml
  integrations/snyk/snyk/client.py
  integrations/snyk/tests/snyk/test_snyk_client_user_details.py
Labels: size/L

#1254 [Core] Added reading access_token from file
  CHANGELOG.md
  port_ocean/clients/auth/__init__.py
  port_ocean/clients/auth/auth_client.py
  port_ocean/clients/auth/oauth_client.py
  port_ocean/config/settings.py
  port_ocean/helpers/retry.py
  port_ocean/ocean.py
  port_ocean/tests/clients/__init__.py
  port_ocean/tests/clients/oauth/__init__.py
  port_ocean/tests/clients/oauth/test_oauth_client.py
  port_ocean/tests/test_ocean.py
  port_ocean/utils/async_http.py
  port_ocean/utils/repeat.py
  pyproject.toml
Labels: size/L

#1376 [Integration][Pagerduty] Fix rate limits on Incident Analytics
  integrations/pagerduty/CHANGELOG.md
  integrations/pagerduty/clients/pagerduty.py
  integrations/pagerduty/main.py
  integrations/pagerduty/pyproject.toml
Labels: size/M, Review effort [1-5]: 3

#1362 [Integration][GCP] Improved quota handling implementation and performance
  integrations/gcp/CHANGELOG.md
  integrations/gcp/gcp_core/helpers/ratelimiter/base.py
  integrations/gcp/gcp_core/helpers/retry/async_retry.py
  integrations/gcp/gcp_core/search/resource_searches.py
  integrations/gcp/gcp_core/utils.py
  integrations/gcp/main.py
  integrations/gcp/pyproject.toml
  integrations/gcp/tests/gcp_core/search/test_resource_searches.py
Labels: size/L

#1403 [Integration][ADO] Fix File Content Not Handled as Expected
  integrations/azure-devops/CHANGELOG.md
  integrations/azure-devops/azure_devops/client/base_client.py
  integrations/azure-devops/pyproject.toml
Labels: size/XS, Review effort 1/5

#1405 [Integration][ArgoCD] Return Empty List Instead of None in get_resources to Prevent NoneType Iteration Errors
  integrations/argocd/CHANGELOG.md
  integrations/argocd/client.py
  integrations/argocd/main.py
  integrations/argocd/pyproject.toml
Labels: size/XS, Review effort 1/5

#1408 [Core] added await for provisioned integraiton
  CHANGELOG.md
  port_ocean/clients/port/mixins/integrations.py
  pyproject.toml
Labels: size/XS, Review effort 1/5

#1411 [Core] Added base_url to core
  CHANGELOG.md
  port_ocean/config/settings.py
  port_ocean/ocean.py
  pyproject.toml
Labels: size/S, Review effort 2/5

#1413 [Integration] Added OAuth client to jira + base url instead of app_host
  integrations/jira/.port/spec.yaml
  integrations/jira/CHANGELOG.md
  integrations/jira/jira/client.py
  integrations/jira/main.py
  integrations/jira/pyproject.toml
Labels: size/S, Review effort 3/5

#1381 [Core] Add generic handling of port logic in ocean core for live events
  CHANGELOG.md
  port_ocean/context/ocean.py
  port_ocean/core/handlers/webhook/abstract_webhook_processor.py
  port_ocean/core/handlers/webhook/processor_manager.py
  port_ocean/core/handlers/webhook/webhook_event.py
  port_ocean/core/integrations/mixins/live_events.py
  port_ocean/ocean.py
  port_ocean/tests/core/handlers/mixins/test_live_events.py
  port_ocean/tests/core/handlers/webhook/test_abstract_webhook_processor.py
  port_ocean/tests/core/handlers/webhook/test_processor_manager.py
  port_ocean/tests/core/handlers/webhook/test_webhook_event.py
  pyproject.toml
Labels: size/XXL, Review effort 4/5

#1419 [Core] Validate feature flag for get config in new integrations
  CHANGELOG.md
  port_ocean/clients/port/mixins/integrations.py
  pyproject.toml
Labels: size/S, Review effort 2/5

#1418 [Integration] [Jira] update live event handling to new standard format
  integrations/jira/CHANGELOG.md
  integrations/jira/initialize_client.py
  integrations/jira/kinds.py
  integrations/jira/main.py
  integrations/jira/pyproject.toml
  integrations/jira/tests/test_processors.py
  integrations/jira/webhook_processors/__init__.py
  integrations/jira/webhook_processors/issue_webhook_processor.py
  integrations/jira/webhook_processors/project_webhook_processor.py
  integrations/jira/webhook_processors/user_webhook_processor.py
Labels: size/XL, Review effort 4/5

#1421 [Core] pass feature flag for initialization
  CHANGELOG.md
  port_ocean/clients/port/mixins/integrations.py
  port_ocean/core/defaults/initialize.py
  pyproject.toml
Labels: size/S, Review effort 2/5

#1426 [CI] Update CI workflow to support running build for cloned branches
  .github/workflows/actions/build-docker-image/action.yml
  .github/workflows/ci.yml
Labels: size/XS, Review effort 2/5

#1425 [Integration][Backstage] Make authentication token optional
  integrations/backstage/.port/spec.yaml
  integrations/backstage/CHANGELOG.md
  integrations/backstage/client.py
  integrations/backstage/main.py
  integrations/backstage/pyproject.toml
Labels: size/S, Review effort 2/5

#1429 [Integration][Jira] Added support for oauth2 for live events
  integrations/jira/CHANGELOG.md
  integrations/jira/jira/client.py
  integrations/jira/main.py
  integrations/jira/pyproject.toml
  integrations/jira/tests/test_client.py
Labels: size/M, Review effort 3/5

#1435 [Integration] [Amplication] fixed lint
  integrations/amplication/.port/resources/actions.json
  integrations/amplication/.port/resources/scorecards.json
  integrations/amplication/.port/spec.yaml
Labels: size/L

#1434 [Core] added async to abstract processor functions and fixed handling exceptions while processing events
  CHANGELOG.md
  port_ocean/core/handlers/webhook/abstract_webhook_processor.py
  port_ocean/core/handlers/webhook/processor_manager.py
  port_ocean/tests/core/handlers/webhook/test_abstract_webhook_processor.py
  port_ocean/tests/core/handlers/webhook/test_processor_manager.py
  pyproject.toml
Labels: size/L, Review effort 3/5

#1438 [CI] Add `scheduled_resync_interval` option to ECS deployment module
  deployment/terraform/aws/ecs/main.tf
  deployment/terraform/aws/ecs/modules/ecs_service/main.tf
  deployment/terraform/aws/ecs/modules/ecs_service/variables.tf
  deployment/terraform/aws/ecs/variables.tf
Labels: size/S, Review effort 2/5

#1443 [Integration][Jira] Enabled saas live events
  integrations/jira/.port/spec.yaml
  integrations/jira/CHANGELOG.md
  integrations/jira/pyproject.toml
Labels: size/XS

#1441 [Integration][ADO] Fix integration is not pulling all pull requests
  integrations/azure-devops/CHANGELOG.md
  integrations/azure-devops/azure_devops/client/azure_devops_client.py
  integrations/azure-devops/azure_devops/client/base_client.py
  integrations/azure-devops/pyproject.toml
  integrations/azure-devops/tests/azure_devops/client/test_azure_devops_client.py
Labels: size/M, Review effort 2/5
