Repository port-labs/ocean, pull requests merged in 2025-04, with the labels that each got.

#1525 [Core] Add support for team search query
  port_ocean/core/defaults/common.py
  port_ocean/core/defaults/initialize.py
  port_ocean/core/handlers/port_app_config/models.py
  port_ocean/core/models.py
  port_ocean/core/utils/utils.py
  port_ocean/tests/core/conftest.py
  port_ocean/tests/core/handlers/mixins/test_sync_raw.py
Labels: size/S, Review effort 2/5

#1530 Images security scan
  .github/workflows/docker-images-security-scan.yml
Labels: size/S, Review effort 2/5

#1532 [Core] Batch upsert for create missing related entities false and support null check in entities diff
  CHANGELOG.md
  port_ocean/clients/port/mixins/entities.py
  port_ocean/core/handlers/entities_state_applier/port/applier.py
  port_ocean/core/utils/utils.py
  port_ocean/tests/clients/port/mixins/test_entities.py
  port_ocean/tests/core/handlers/entities_state_applier/test_applier.py
  port_ocean/tests/core/utils/test_resolve_entities_diff.py
  pyproject.toml
Labels: size/L, Review effort 2/5

#1533 [Integration][Sonarqube] Fix `project ga` enrichments
  integrations/sonarqube/CHANGELOG.md
  integrations/sonarqube/client.py
  integrations/sonarqube/main.py
  integrations/sonarqube/pyproject.toml
  integrations/sonarqube/tests/test_client.py
Labels: size/M

#1527 Port 13488 code coverage
  .github/workflows/core-test.yml
  Makefile
  poetry.lock
  port_ocean/tests/core/handlers/entity_processor/test_jq_entity_processor.py
  pyproject.toml
Labels: size/L, Review effort 1/5

#1524 [Integration][Gitlab-V2] Added Live Events Support
  integrations/gitlab-v2/.port/spec.yaml
  integrations/gitlab-v2/CHANGELOG.md
  integrations/gitlab-v2/clients/__init__.py
  integrations/gitlab-v2/gitlab/__init__.py
  integrations/gitlab-v2/gitlab/clients/auth_client.py
  integrations/gitlab-v2/gitlab/clients/base_client.py
  integrations/gitlab-v2/gitlab/clients/client_factory.py
  integrations/gitlab-v2/gitlab/clients/gitlab_client.py
  integrations/gitlab-v2/gitlab/clients/rest_client.py
  integrations/gitlab-v2/gitlab/helpers/__init__.py
  integrations/gitlab-v2/gitlab/helpers/utils.py
  integrations/gitlab-v2/gitlab/webhook/events.py
  integrations/gitlab-v2/gitlab/webhook/webhook_factory/_base_webhook_factory.py
  integrations/gitlab-v2/gitlab/webhook/webhook_factory/group_webhook_factory.py
  integrations/gitlab-v2/gitlab/webhook/webhook_processors/_gitlab_abstract_webhook_processor.py
  integrations/gitlab-v2/gitlab/webhook/webhook_processors/group_webhook_processor.py
  integrations/gitlab-v2/gitlab/webhook/webhook_processors/issue_webhook_processor.py
  integrations/gitlab-v2/gitlab/webhook/webhook_processors/merge_request_webhook_processor.py
  integrations/gitlab-v2/gitlab/webhook/webhook_processors/push_webhook_processor.py
  integrations/gitlab-v2/main.py
  integrations/gitlab-v2/pyproject.toml
  integrations/gitlab-v2/tests/clients/test_auth_client.py
  integrations/gitlab-v2/tests/clients/test_base_client.py
  integrations/gitlab-v2/tests/conftest.py
  integrations/gitlab-v2/tests/webhook/test_events.py
  integrations/gitlab-v2/tests/webhook/webhook_factory/test_base_webhook_factory.py
  integrations/gitlab-v2/tests/webhook/webhook_factory/test_group_webhook_factory.py
  integrations/gitlab-v2/tests/webhook/webhook_processors/test_group_webhook_processor.py
  integrations/gitlab-v2/tests/webhook/webhook_processors/test_issue_webhook_processor.py
  integrations/gitlab-v2/tests/webhook/webhook_processors/test_merge_request_webhook_processor.py
  integrations/gitlab-v2/tests/webhook/webhook_processors/test_push_webhook_processor.py
Labels: size/XL, Review effort 4/5

#1539 [Docs] Fix docs vulnerabilities
  docs/framework-guides/package-lock.json
  docs/framework-guides/package.json
Labels: size/XXL

#1541 [CI] Port 13488 code coverage
  .github/workflows/core-test.yml
Labels: size/XS, Review effort 2/5

#1482 [Integration][Gitlab-v2] Added support for file kind
  integrations/gitlab-v2/CHANGELOG.md
  integrations/gitlab-v2/gitlab/clients/gitlab_client.py
  integrations/gitlab-v2/gitlab/clients/rest_client.py
  integrations/gitlab-v2/gitlab/entity_processors/__init__.py
  integrations/gitlab-v2/gitlab/entity_processors/file_entity_processor.py
  integrations/gitlab-v2/gitlab/entity_processors/search_entity_processor.py
  integrations/gitlab-v2/gitlab/entity_processors/utils.py
  integrations/gitlab-v2/gitlab/helpers/utils.py
  integrations/gitlab-v2/integration.py
  integrations/gitlab-v2/main.py
  integrations/gitlab-v2/poetry.lock
  integrations/gitlab-v2/pyproject.toml
  integrations/gitlab-v2/tests/clients/test_base_client.py
Labels: size/L

#1517 [Integration][Bitbucket] Added support for file kind and file entity processing
  integrations/bitbucket-cloud/.port/resources/port-app-config.yml
  integrations/bitbucket-cloud/CHANGELOG.md
  integrations/bitbucket-cloud/bitbucket_cloud/client.py
  integrations/bitbucket-cloud/bitbucket_cloud/entity_processors/file_entity_processor.py
  integrations/bitbucket-cloud/bitbucket_cloud/helpers/file_kind.py
  integrations/bitbucket-cloud/bitbucket_cloud/helpers/utils.py
  integrations/bitbucket-cloud/integration.py
  integrations/bitbucket-cloud/main.py
  integrations/bitbucket-cloud/poetry.lock
  integrations/bitbucket-cloud/pyproject.toml
  integrations/bitbucket-cloud/tests/entity_processors/test_file_entity_processor.py
  integrations/bitbucket-cloud/tests/helpers/test_file_kind.py
  integrations/bitbucket-cloud/tests/test_client.py
Labels: size/L, Review effort 3/5

#1543 [Integration] fix calulated property in blueprint + change page name (Github Copilot)
  integrations/github-copilot/.port/resources/blueprints.json
  integrations/github-copilot/.port/resources/pages.json
Labels: size/XS, Review effort 1/5

#1547 [Integration][Pagerduty] Added retry mechanism for services single resource
  integrations/pagerduty/CHANGELOG.md
  integrations/pagerduty/pyproject.toml
  integrations/pagerduty/webhook_processors/services.py
Labels: size/S, Review effort 2/5

#1521 [Integration][Gitlab-v2] Added support for folder kind
  integrations/gitlab-v2/CHANGELOG.md
  integrations/gitlab-v2/gitlab/clients/gitlab_client.py
  integrations/gitlab-v2/gitlab/clients/rest_client.py
  integrations/gitlab-v2/gitlab/helpers/utils.py
  integrations/gitlab-v2/integration.py
  integrations/gitlab-v2/main.py
  integrations/gitlab-v2/pyproject.toml
  integrations/gitlab-v2/tests/clients/test_base_client.py
Labels: size/L, Review effort 3/5

#1546 [Core] Add Debug Configuration For Bitbucket-Cloud And AWS
  .vscode/launch.json
Labels: size/S

#1562 [Integration][Gitlab-v2] Support resolving `file://` references in file content
  integrations/gitlab-v2/CHANGELOG.md
  integrations/gitlab-v2/gitlab/clients/gitlab_client.py
  integrations/gitlab-v2/gitlab/helpers/utils.py
  integrations/gitlab-v2/pyproject.toml
  integrations/gitlab-v2/tests/clients/test_base_client.py
Labels: size/M

#1556 [Integration][ServiceNow] - Sanity check on a more generic api
  integrations/servicenow/CHANGELOG.md
  integrations/servicenow/client.py
  integrations/servicenow/pyproject.toml
Labels: size/XS, Review effort 1/5

#1555 [Integration][Gitlab-V2] Add Support For Folder Kind Live Events
  integrations/gitlab-v2/CHANGELOG.md
  integrations/gitlab-v2/gitlab/webhook/webhook_processors/folder_push_webhook_processor.py
  integrations/gitlab-v2/integration.py
  integrations/gitlab-v2/main.py
  integrations/gitlab-v2/pyproject.toml
  integrations/gitlab-v2/tests/webhook/webhook_processors/test_folder_push_webhook_processor.py
Labels: size/L

#1559 [Integration][Gitlab-v2] Improved support for file prefix in live event
  integrations/gitlab-v2/CHANGELOG.md
  integrations/gitlab-v2/gitlab/webhook/webhook_processors/file_push_webhook_processor.py
  integrations/gitlab-v2/gitlab/webhook/webhook_processors/folder_push_webhook_processor.py
  integrations/gitlab-v2/integration.py
  integrations/gitlab-v2/pyproject.toml
  integrations/gitlab-v2/tests/integration/test_integration.py
Labels: size/M

#1561 [Docs] Upgrade sass from 1.85.1 to 1.86.0
  docs/framework-guides/package-lock.json
  docs/framework-guides/package.json
Labels: size/XS

#1566 [Core] Add integration identifier and uname to the log
  port_ocean/log/logger_setup.py
  port_ocean/run.py
Labels: size/XS, Review effort 2/5

#1568 [Core] Bump version
  CHANGELOG.md
  pyproject.toml
Labels: size/XS, Review effort 1/5

#1564 [Integration][Gitlab-v2] Align integration defaults
  integrations/gitlab-v2/.port/resources/blueprints.json
  integrations/gitlab-v2/.port/resources/port-app-config.yml
  integrations/gitlab-v2/CHANGELOG.md
  integrations/gitlab-v2/poetry.lock
  integrations/gitlab-v2/pyproject.toml
Labels: size/M

#1572 [Core] Add integration instance to the log - code review fixes
  CHANGELOG.md
  port_ocean/log/logger_setup.py
  port_ocean/run.py
  pyproject.toml
Labels: size/S, Review effort 1/5

#1558 [Integration][Bitbucket] Improved support for file prefix in live event
  integrations/bitbucket-cloud/CHANGELOG.md
  integrations/bitbucket-cloud/integration.py
  integrations/bitbucket-cloud/pyproject.toml
  integrations/bitbucket-cloud/tests/test_integrations.py
Labels: size/M

#1552 [Integration][Bitbucket] Added support for live events for file kind
  integrations/bitbucket-cloud/CHANGELOG.md
  integrations/bitbucket-cloud/bitbucket_cloud/entity_processors/file_entity_processor.py
  integrations/bitbucket-cloud/bitbucket_cloud/helpers/file_kind.py
  integrations/bitbucket-cloud/bitbucket_cloud/helpers/file_kind_live_event.py
  integrations/bitbucket-cloud/bitbucket_cloud/helpers/folder.py
  integrations/bitbucket-cloud/bitbucket_cloud/webhook_processors/processors/file_webhook_processor.py
  integrations/bitbucket-cloud/bitbucket_cloud/webhook_processors/webhook_client.py
  integrations/bitbucket-cloud/main.py
  integrations/bitbucket-cloud/pyproject.toml
  integrations/bitbucket-cloud/tests/helpers/test_file_kind.py
  integrations/bitbucket-cloud/tests/helpers/test_file_kind_live_event.py
  integrations/bitbucket-cloud/tests/webhook/processors/test_file_webhook_processor.py
Labels: size/XL

#1574 [Integration][Gitlab-v2] Upgrades GitLab-v2 integration from dev to beta
  integrations/gitlab-v2/CHANGELOG.md
  integrations/gitlab-v2/pyproject.toml
Labels: size/XS

#1578 [Integration][Gitlab-V2] Fix integration icon
  integrations/gitlab-v2/.port/spec.yaml
  integrations/gitlab-v2/CHANGELOG.md
  integrations/gitlab-v2/pyproject.toml
Labels: size/XS

#1509 Komodor Ocean Integration
  integrations/komodor/.env.example
  integrations/komodor/.gitignore
  integrations/komodor/.port/resources/.gitignore
  integrations/komodor/.port/resources/blueprints.json
  integrations/komodor/.port/resources/port-app-config.yml
  integrations/komodor/.port/spec.yaml
  integrations/komodor/CHANGELOG.md
  integrations/komodor/Makefile
  integrations/komodor/README.md
  integrations/komodor/changelog/.gitignore
  integrations/komodor/client.py
  integrations/komodor/config.yaml
  integrations/komodor/debug.py
  integrations/komodor/examples/blueprints.json
  integrations/komodor/examples/health_monitoring.entity.json
  integrations/komodor/examples/health_monitoring.response.json
  integrations/komodor/examples/mappings.yaml
  integrations/komodor/examples/service.entity.json
  integrations/komodor/examples/service.response.json
  integrations/komodor/main.py
  integrations/komodor/models.py
  integrations/komodor/poetry.lock
  integrations/komodor/poetry.toml
  integrations/komodor/pyproject.toml
  integrations/komodor/sonar-project.properties
  integrations/komodor/tests/__init__.py
  integrations/komodor/tests/test_client.py
Labels: size/XXL, Review effort 2/5

#1585 [Integration][Komodor] Fix icon
  integrations/komodor/.port/spec.yaml
  integrations/komodor/CHANGELOG.md
  integrations/komodor/pyproject.toml
Labels: size/XS

#1577 [Fix] Adding Tags and implmenting Vars: create_egress_default_sg, create_default_sg, assign_public_ip, container_port
  deployment/terraform/aws/ecs/main.tf
  deployment/terraform/aws/ecs/modules/ecs_lb/main.tf
  deployment/terraform/aws/ecs/modules/ecs_lb/variables.tf
  deployment/terraform/aws/ecs/modules/ecs_service/main.tf
  deployment/terraform/aws/ecs/modules/ecs_service/variables.tf
  deployment/terraform/aws/ecs/variables.tf
Labels: size/M, Review effort 2/5

#1537 [Integration][Gitlab-V2] Release GA Version
  integrations/gitlab-v2/CHANGELOG.md
  integrations/gitlab-v2/pyproject.toml
Labels: size/XS

#1583 [Docs] feat update deployment readme file
  deployment/README.md
  docs/framework-guides/docs/deployment/terraform.md
Labels: size/M, Review effort 1/5

#1597 [Integration][PagerDuty, Jira & NewRelic] Removed httpx dependency to update the h11 vulnerability
  integrations/jira/CHANGELOG.md
  integrations/jira/poetry.lock
  integrations/jira/pyproject.toml
  integrations/newrelic/CHANGELOG.md
  integrations/newrelic/poetry.lock
  integrations/newrelic/pyproject.toml
  integrations/pagerduty/CHANGELOG.md
  integrations/pagerduty/poetry.lock
  integrations/pagerduty/pyproject.toml
Labels: size/M

#1549 [Integration][AWS] AWS Integration Performance, Log and Memory Optimization
  integrations/aws/.port/spec.yaml
  integrations/aws/CHANGELOG.md
  integrations/aws/aws/session_manager.py
  integrations/aws/main.py
  integrations/aws/pyproject.toml
  integrations/aws/tests/utils/test_aws.py
  integrations/aws/tests/utils/test_resources.py
  integrations/aws/utils/aws.py
  integrations/aws/utils/misc.py
  integrations/aws/utils/resources.py
Labels: size/L

#1592 [Integration][Sonarqube] Fixed Bug in OnPremAnalysis kind, added metrics selector and validation in measures api
  integrations/sonarqube/CHANGELOG.md
  integrations/sonarqube/client.py
  integrations/sonarqube/integration.py
  integrations/sonarqube/main.py
  integrations/sonarqube/pyproject.toml
  integrations/sonarqube/tests/test_client.py
Labels: size/M

#1601 [Integration][Bitbucket] Removed bitbucket gitops card
  integrations/bitbucket-cloud/.port/spec.yaml
  integrations/bitbucket-cloud/CHANGELOG.md
  integrations/bitbucket-cloud/pyproject.toml
Labels: size/XS

#1602 [Integration][Jira] Migrate Jira Integration from Deprecated search Endpoint to the GA endpoint Before May 2025 Deprecation
  integrations/jira/CHANGELOG.md
  integrations/jira/jira/client.py
  integrations/jira/pyproject.toml
  integrations/jira/tests/test_client.py
  integrations/jira/tests/test_processors.py
  integrations/jira/webhook_processors/issue_webhook_processor.py
Labels: size/M

#1548 [Integration][AWS] Add AWS Resource Groups Member Resources Support
  integrations/aws/CHANGELOG.md
  integrations/aws/main.py
  integrations/aws/pyproject.toml
  integrations/aws/tests/conftest.py
  integrations/aws/tests/utils/test_resources.py
  integrations/aws/utils/misc.py
  integrations/aws/utils/overrides.py
  integrations/aws/utils/resources.py
Labels: size/L
