Repository port-labs/ocean, pull requests merged in 2025-08, with the labels that each got.

#1931 [Integration][Snyk] Properly log 401 and 403 Errors
  integrations/snyk/CHANGELOG.md
  integrations/snyk/pyproject.toml
  integrations/snyk/snyk/client.py
Labels: size/S, Review effort 2/5, Possible security concern

#1919 [Integration][aikido] Added aikido security ocean integration
  .vscode/launch.json
  integrations/aikido/.env.example
  integrations/aikido/.gitignore
  integrations/aikido/.port/resources/.gitignore
  integrations/aikido/.port/resources/blueprints.json
  integrations/aikido/.port/resources/port-app-config.yml
  integrations/aikido/.port/spec.yaml
  integrations/aikido/CHANGELOG.md
  integrations/aikido/CONTRIBUTING.md
  integrations/aikido/Makefile
  integrations/aikido/README.md
  integrations/aikido/changelog/.gitignore
  integrations/aikido/clients/__init__.py
  integrations/aikido/clients/aikido_client.py
  integrations/aikido/clients/auth_client.py
  integrations/aikido/debug.py
  integrations/aikido/helpers/__init__.py
  integrations/aikido/helpers/exceptions.py
  integrations/aikido/initialize_client.py
  integrations/aikido/integration.py
  integrations/aikido/main.py
  integrations/aikido/poetry.lock
  integrations/aikido/poetry.toml
  integrations/aikido/pyproject.toml
  integrations/aikido/sonar-project.properties
  integrations/aikido/tests/__init__.py
  integrations/aikido/tests/clients/__init__.py
  integrations/aikido/tests/clients/test_aikido_client.py
  integrations/aikido/tests/clients/test_auth_client.py
  integrations/aikido/tests/conftest.py
  integrations/aikido/tests/test_sample.py
  integrations/aikido/tests/webhook_processors/__init__.py
  integrations/aikido/tests/webhook_processors/test_webhook_processor.py
  integrations/aikido/webhook_processors/__init__.py
  integrations/aikido/webhook_processors/base_webhook_processor.py
  integrations/aikido/webhook_processors/issue_webhook_processor.py
  integrations/aikido/webhook_processors/repository_webhook_processor.py
Labels: size/XXL, Review effort 4/5, Possible security concern

#1917 [Core] Send raw data to Port's POST endpoint
  CHANGELOG.md
  port_ocean/clients/port/mixins/integrations.py
  port_ocean/config/settings.py
  port_ocean/core/integrations/mixins/sync_raw.py
  port_ocean/tests/core/conftest.py
  pyproject.toml
Labels: size/M, Review effort 3/5

#1947 [Integration] Added explicit query params for tabs selection on all docs uris
  integrations/argocd/.port/spec.yaml
  integrations/argocd/CHANGELOG.md
  integrations/argocd/pyproject.toml
  integrations/jira/.port/spec.yaml
  integrations/jira/CHANGELOG.md
  integrations/jira/pyproject.toml
  integrations/pagerduty/.port/spec.yaml
  integrations/pagerduty/CHANGELOG.md
  integrations/pagerduty/pyproject.toml
Labels: size/S, Review effort 2/5

#1959 [Integration][Wiz] Fixed 'NoneType' object is not iterable error when processing service…
  integrations/wiz/CHANGELOG.md
  integrations/wiz/main.py
  integrations/wiz/pyproject.toml
Labels: size/XS, Review effort 2/5

#1957 [Integration][aikido] Updated spec yaml deploymentMethodOverride
  integrations/aikido/.port/spec.yaml
  integrations/aikido/CHANGELOG.md
  integrations/aikido/pyproject.toml
Labels: size/XS, Review effort 1/5

#1938 [Integration][Github] Fetch folders with search API
  integrations/github/CHANGELOG.md
  integrations/github/github/core/exporters/folder_exporter.py
  integrations/github/github/core/exporters/workflow_runs_exporter.py
  integrations/github/github/core/exporters/workflows_exporter.py
  integrations/github/github/core/options.py
  integrations/github/github/helpers/utils.py
  integrations/github/github/webhook/webhook_processors/folder_webhook_processor.py
  integrations/github/main.py
  integrations/github/pyproject.toml
  integrations/github/tests/github/core/exporters/test_folder_exporter.py
  integrations/github/tests/github/helpers/test_utils.py
  integrations/github/tests/github/webhook/webhook_processors/test_folder_webhook_processor.py
Labels: size/L

#1954 [Integration][AzureDevops] Added Support for Glob Searching in ADO File Kind
  integrations/azure-devops/CHANGELOG.md
  integrations/azure-devops/azure_devops/client/azure_devops_client.py
  integrations/azure-devops/azure_devops/client/file_processing.py
  integrations/azure-devops/azure_devops/webhooks/webhook_processors/file_webhook_processor.py
  integrations/azure-devops/integration.py
  integrations/azure-devops/poetry.lock
  integrations/azure-devops/pyproject.toml
  integrations/azure-devops/tests/azure_devops/client/test_azure_devops_client.py
  integrations/azure-devops/tests/azure_devops/client/test_file_processing.py
Labels: size/XL, Review effort 4/5

#1958 [Integration][Sentry] Pagination BugFix
  integrations/sentry/CHANGELOG.md
  integrations/sentry/clients/sentry.py
  integrations/sentry/pyproject.toml
Labels: size/XS, Review effort 2/5

#1956 [Integration][LaunchDarkly] Pagination BugFix
  integrations/launchdarkly/CHANGELOG.md
  integrations/launchdarkly/client.py
  integrations/launchdarkly/poetry.lock
  integrations/launchdarkly/pyproject.toml
Labels: size/S, Review effort 4/5

#1973 [Core] Yield items to parse
  CHANGELOG.md
  port_ocean/config/settings.py
  port_ocean/core/handlers/entity_processor/jq_entity_processor.py
  port_ocean/core/integrations/mixins/sync_raw.py
  port_ocean/core/integrations/mixins/utils.py
  pyproject.toml
Labels: size/M, Review effort 3/5

#1727 [Integration][Bitbucket-cloud] Added support for multiple token in bitbucket
  integrations/bitbucket-cloud/.env.example
  integrations/bitbucket-cloud/.port/spec.yaml
  integrations/bitbucket-cloud/CHANGELOG.md
  integrations/bitbucket-cloud/bitbucket_cloud/client.py
  integrations/bitbucket-cloud/bitbucket_cloud/helpers/auth.py
  integrations/bitbucket-cloud/bitbucket_cloud/helpers/rate_limiter.py
  integrations/bitbucket-cloud/bitbucket_cloud/helpers/token_manager.py
  integrations/bitbucket-cloud/bitbucket_cloud/helpers/utils.py
  integrations/bitbucket-cloud/initialize_client.py
  integrations/bitbucket-cloud/poetry.lock
  integrations/bitbucket-cloud/pyproject.toml
  integrations/bitbucket-cloud/tests/conftest.py
  integrations/bitbucket-cloud/tests/helpers/test_file_kind_live_event.py
  integrations/bitbucket-cloud/tests/test_client.py
Labels: size/XL, Review effort 3/5

#1969 [Integration][AzureDevops] Added Selector for Including Repo in ADO Pipeline Kind
  integrations/azure-devops/CHANGELOG.md
  integrations/azure-devops/azure_devops/client/azure_devops_client.py
  integrations/azure-devops/integration.py
  integrations/azure-devops/main.py
  integrations/azure-devops/pyproject.toml
  integrations/azure-devops/tests/azure_devops/client/test_azure_devops_client.py
Labels: size/M, Review effort 2/5

#1986 [Core] fix dependabot alert
  CHANGELOG.md
  poetry.lock
  pyproject.toml
Labels: size/S, Review effort 1/5

#2007 [Integration][AWS-v3] bump version and changelog
  integrations/aws-v3/CHANGELOG.md
  integrations/aws-v3/pyproject.toml
Labels: size/XS, Review effort 1/5

#2010 chore: increase timeout
  .github/workflows/claude-generic.yml
Labels: size/XS, Review effort 1/5

#2011 chore: add permissions to claude code
  .github/workflows/claude-generic.yml
Labels: size/XS, Review effort 1/5, Possible security concern

#2013 chore: fix permissions
  .github/workflows/claude-generic.yml
Labels: size/XS, Review effort 1/5

#2008 [Integration][Github] Include Name Key in GitHub User and Member Kind
  integrations/github/CHANGELOG.md
  integrations/github/github/helpers/gql_queries.py
  integrations/github/pyproject.toml
Labels: size/XS, Review effort 2/5

#2019 [Core] Fixed reconciliation bug & __runtime__ metrics reporting
  .github/workflows/claude-generic.yml
  CHANGELOG.md
  port_ocean/clients/port/mixins/integrations.py
  port_ocean/core/handlers/resync_state_updater/updater.py
  port_ocean/core/integrations/mixins/sync_raw.py
  port_ocean/core/integrations/mixins/utils.py
  port_ocean/helpers/metric/metric.py
  pyproject.toml
Labels: size/M, Review effort 2/5

#2028 [CI] update .gitignore and upgrade actions/checkout to v5 in workflows
  .github/workflows/apply-release.yml
  .github/workflows/build-infra-images.yml
  .github/workflows/ci.yml
  .github/workflows/claude-generic.yml
  .github/workflows/claude-tag.yml
  .github/workflows/core-test.yml
  .github/workflows/create-new-sonarcloud-project.yml
  .github/workflows/detect-changes-matrix.yml
  .github/workflows/docker-images-security-scan.yml
  .github/workflows/integrations-test.yml
  .github/workflows/lint.yml
  .github/workflows/perf-test.yml
  .github/workflows/release-framework.yml
  .github/workflows/release-integrations.yml
  .github/workflows/sonarcloud-framework.yml
  .github/workflows/sonarcloud-integrations.yml
  .github/workflows/trigger-doc-sync.yml
  .github/workflows/upgrade-integrations.yml
  .github/workflows/validate-integration-files.yml
  .github/workflows/verify-docs-build.yml
Labels: size/M, Review effort 2/5

#1972 [Core] Added ingest url support
  CHANGELOG.md
  port_ocean/clients/port/authentication.py
  port_ocean/clients/port/client.py
  port_ocean/clients/port/mixins/integrations.py
  port_ocean/config/settings.py
  port_ocean/ocean.py
  port_ocean/tests/core/conftest.py
  port_ocean/tests/core/handlers/mixins/test_live_events.py
  port_ocean/tests/core/handlers/webhook/test_processor_manager.py
  port_ocean/tests/helpers/port_client.py
  pyproject.toml
Labels: size/M, Review effort 2/5, Possible security concern

#2026 [Integration] Update Checkmarx icons in blueprints.json to reflect correct branding
  integrations/checkmarx-one/.port/resources/blueprints.json
  integrations/checkmarx-one/CHANGELOG.md
  integrations/checkmarx-one/pyproject.toml
Labels: size/S, Review effort 1/5

#2035 [Integration][Checkmarx] Fix bug with api url construction
  integrations/checkmarx-one/CHANGELOG.md
  integrations/checkmarx-one/checkmarx_one/clients/client.py
  integrations/checkmarx-one/pyproject.toml
  integrations/checkmarx-one/tests/checkmarx_one/clients/test_base_client.py
Labels: size/S, Review effort 2/5

#2047 [Integration][JIRA] Add expand param support to jiraIssuse
  integrations/jira/jira/overrides.py
  integrations/jira/main.py
Labels: size/XS

#2050 [Core] bumped core version
  CHANGELOG.md
  pyproject.toml
Labels: size/XS

#2046 [Integration][AWS-v3] add missing use organizations config
  integrations/aws-v3/.port/spec.yaml
  integrations/aws-v3/CHANGELOG.md
  integrations/aws-v3/pyproject.toml
Labels: size/XS
