Repository port-labs/ocean, pull requests merged in 2025-07, with the labels that each got.

#1726 [Integration][Github] Added Support for File Kind
  integrations/github/.port/spec.yaml
  integrations/github/CHANGELOG.md
  integrations/github/github/clients/http/rest_client.py
  integrations/github/github/core/exporters/file_exporter/__init__.py
  integrations/github/github/core/exporters/file_exporter/core.py
  integrations/github/github/core/exporters/file_exporter/file_processor.py
  integrations/github/github/core/exporters/file_exporter/utils.py
  integrations/github/github/core/options.py
  integrations/github/github/entity_processors/__init__.py
  integrations/github/github/entity_processors/file_entity_processor.py
  integrations/github/github/helpers/utils.py
  integrations/github/github/webhook/events.py
  integrations/github/github/webhook/registry.py
  integrations/github/github/webhook/webhook_processors/file_webhook_processor.py
  integrations/github/integration.py
  integrations/github/main.py
  integrations/github/poetry.lock
  integrations/github/pyproject.toml
  integrations/github/tests/github/core/exporters/test_file_exporter.py
  integrations/github/tests/github/entity_processors/test_file_entity_processor.py
  integrations/github/tests/github/webhook/webhook_processors/test_file_webhook_processor.py
Labels: size/XXL, Review effort 4/5

#1860 [Integration] chore: add url validation for JIRA_HOST
  integrations/jira/.port/spec.yaml
Labels: size/XS, Review effort 1/5

#1856 [Integration][Snyk] Fixed snyk pagination issue
  integrations/snyk/CHANGELOG.md
  integrations/snyk/pyproject.toml
  integrations/snyk/snyk/client.py
  integrations/snyk/tests/snyk/test_client.py
Labels: size/S, Review effort 2/5

#1837 [Integration][bitbucket-cloud] Ensure Files Are Properly Deleted in Port For File Kind Live Events
  integrations/bitbucket-cloud/CHANGELOG.md
  integrations/bitbucket-cloud/bitbucket_cloud/helpers/file_kind_live_event.py
  integrations/bitbucket-cloud/pyproject.toml
  integrations/bitbucket-cloud/tests/webhook/processors/test_file_webhook_processor.py
Labels: size/L

#1862 [Integration][azure-devops] Pagination Bug fix for Continuation Token
  integrations/azure-devops/CHANGELOG.md
  integrations/azure-devops/azure_devops/client/base_client.py
  integrations/azure-devops/pyproject.toml
  integrations/azure-devops/tests/azure_devops/client/test_azure_devops_base_client.py
Labels: size/M, Review effort 2/5

#1869 [Core] Extracted deletion to different process if multi_process is enabled
  CHANGELOG.md
  port_ocean/core/integrations/mixins/sync_raw.py
  pyproject.toml
Labels: size/L, Review effort 4/5

#1880 [Integration][Github] Temporally trim default resources included in Ocean integration
  integrations/github/.port/resources/blueprints.json
  integrations/github/.port/resources/port-app-config.yml
  integrations/github/CHANGELOG.md
  integrations/github/pyproject.toml
Labels: size/M, Review effort 2/5

#1873 [Integration][GitHub] Handle GraphQL Errors on Exception Group and Return Proper Error Messages
  integrations/github/CHANGELOG.md
  integrations/github/github/clients/http/graphql_client.py
  integrations/github/github/helpers/exceptions.py
  integrations/github/pyproject.toml
  integrations/github/tests/github/clients/http/test_graphql_client.py
Labels: size/S, Review effort 2/5

#1881 [Integration][GitHub] Fix: Delete File With Webhook Processor
  integrations/github/CHANGELOG.md
  integrations/github/github/webhook/webhook_processors/base_repository_webhook_processor.py
  integrations/github/github/webhook/webhook_processors/file_webhook_processor.py
  integrations/github/pyproject.toml
Labels: size/S, Review effort 2/5

#1870 [Core] Send failed mapping examples.
  CHANGELOG.md
  integrations/jira/CHANGELOG.md
  port_ocean/core/handlers/entity_processor/jq_entity_processor.py
  port_ocean/core/integrations/mixins/sync_raw.py
  port_ocean/core/ocean_types.py
  port_ocean/tests/core/handlers/entity_processor/test_jq_entity_processor.py
  port_ocean/tests/core/handlers/mixins/test_live_events.py
  port_ocean/tests/core/handlers/mixins/test_sync_raw.py
  pyproject.toml
Labels: size/M, Review effort 2/5

#1886 [Integration][Jira] Fix JQL Parentheses Handling in Issue Webhook Processor
  integrations/jira/CHANGELOG.md
  integrations/jira/pyproject.toml
  integrations/jira/tests/test_processors.py
  integrations/jira/webhook_processors/issue_webhook_processor.py
Labels: size/M, Review effort 2/5

#1879 [Integration][GitHub] Handle Ignore Errors For HTTP Clients
  integrations/github/CHANGELOG.md
  integrations/github/github/clients/http/graphql_client.py
  integrations/github/github/core/exporters/file_exporter/core.py
  integrations/github/github/core/exporters/file_exporter/file_processor.py
  integrations/github/github/core/exporters/team_exporter.py
  integrations/github/github/core/exporters/user_exporter.py
  integrations/github/github/webhook/webhook_processors/team_member_webhook_processor.py
  integrations/github/github/webhook/webhook_processors/team_webhook_processor.py
  integrations/github/github/webhook/webhook_processors/user_webhook_processor.py
  integrations/github/pyproject.toml
  integrations/github/tests/github/clients/http/test_graphql_client.py
  integrations/github/tests/github/webhook/webhook_processors/test_team_webhook_processor.py
Labels: size/M, Review effort 2/5

#1907 added support for new datasource route
  CHANGELOG.md
  port_ocean/clients/port/mixins/entities.py
  port_ocean/tests/clients/port/mixins/test_entities.py
  pyproject.toml
Labels: size/M, Review effort 3/5

#1911 [Integration][SonarQube] Bug fix sonarqube missing query issues webhook
  integrations/sonarqube/CHANGELOG.md
  integrations/sonarqube/pyproject.toml
  integrations/sonarqube/tests/test_processors.py
  integrations/sonarqube/webhook_processors/issue_webhook_processor.py
Labels: size/M, Review effort 2/5

#1927 [Integration] Changed structure of installationDocs param
  integrations/argocd/.port/spec.yaml
  integrations/argocd/CHANGELOG.md
  integrations/argocd/pyproject.toml
  integrations/jira/.port/spec.yaml
  integrations/jira/CHANGELOG.md
  integrations/jira/pyproject.toml
  integrations/pagerduty/.port/spec.yaml
  integrations/pagerduty/CHANGELOG.md
  integrations/pagerduty/pyproject.toml
Labels: size/M, Review effort 2/5

#1912 [Integration][GitHub] Implement File Validation on Pull Request Event
  integrations/github/CHANGELOG.md
  integrations/github/github/helpers/exceptions.py
  integrations/github/github/webhook/registry.py
  integrations/github/github/webhook/webhook_processors/check_runs/__init__.py
  integrations/github/github/webhook/webhook_processors/check_runs/check_runs_validator_webhook_processor.py
  integrations/github/github/webhook/webhook_processors/check_runs/file_validation.py
  integrations/github/integration.py
  integrations/github/pyproject.toml
  integrations/github/tests/github/webhook/webhook_processors/check_runs/test_check_run_validator_webhook_processor.py
  integrations/github/tests/github/webhook/webhook_processors/check_runs/test_file_validation.py
Labels: size/XL, Review effort 4/5

#1923 [Integration][ArgoCD] Iteration over Null Values Breaking ReSync
  integrations/argocd/.env.example
  integrations/argocd/CHANGELOG.md
  integrations/argocd/client.py
  integrations/argocd/main.py
  integrations/argocd/pyproject.toml
  integrations/argocd/tests/test_client.py
  integrations/argocd/tests/test_sample.py
Labels: size/L, Review effort 2/5
