Repository port-labs/ocean, pull requests merged in 2025-05, with the labels that each got.

#1605 [Integration][Wiz] Added retry mechanisim for transient error
  integrations/wiz/CHANGELOG.md
  integrations/wiz/pyproject.toml
  integrations/wiz/tests/test_client.py
  integrations/wiz/wiz/client.py
Labels: size/M

#1606 [Integration][Gitlab] Fixed the Gitlab integration stripping newline character from the file content of
  integrations/gitlab/CHANGELOG.md
  integrations/gitlab/gitlab_integration/gitlab_service.py
  integrations/gitlab/pyproject.toml
  integrations/gitlab/tests/gitlab_integration/test_gitlab_service.py
Labels: size/S

#1608 [Integration][Launchdarkly] Refactor Webhook Handling for Scalable Live Events
  integrations/launchdarkly/.env.example
  integrations/launchdarkly/.port/spec.yaml
  integrations/launchdarkly/CHANGELOG.md
  integrations/launchdarkly/client.py
  integrations/launchdarkly/main.py
  integrations/launchdarkly/pyproject.toml
  integrations/launchdarkly/tests/test_client.py
  integrations/launchdarkly/tests/webhook_processors/conftest.py
  integrations/launchdarkly/tests/webhook_processors/test_environment_processor.py
  integrations/launchdarkly/tests/webhook_processors/test_feature_flag_processor.py
  integrations/launchdarkly/tests/webhook_processors/test_launchdarkly_abstract_webhook_processor.py
  integrations/launchdarkly/tests/webhook_processors/test_project_processor.py
  integrations/launchdarkly/webhook_processors/__init__.py
  integrations/launchdarkly/webhook_processors/audit_log_webhook_processor.py
  integrations/launchdarkly/webhook_processors/environment_webhook_processor.py
  integrations/launchdarkly/webhook_processors/feature_flag_webhook_processor.py
  integrations/launchdarkly/webhook_processors/launchdarkly_abstract_webhook_processor.py
  integrations/launchdarkly/webhook_processors/project_webhook_processor.py
  integrations/launchdarkly/webhook_processors/utils.py
Labels: size/XL

#1610 [Core] Enhanced error logging to include specific error for mappings
  CHANGELOG.md
  port_ocean/core/handlers/port_app_config/base.py
  pyproject.toml
Labels: size/XS

#1607 [Integration][ADO] Fixed url formatting for self_hosted ADO instance
  integrations/azure-devops/CHANGELOG.md
  integrations/azure-devops/azure_devops/client/azure_devops_client.py
  integrations/azure-devops/pyproject.toml
  integrations/azure-devops/tests/azure_devops/client/test_azure_devops_client.py
Labels: size/M

#1594 [Integration][Jenkins] Refactor Webhook Handling for Scalable Live Events
  integrations/jenkins/.env.example
  integrations/jenkins/CHANGELOG.md
  integrations/jenkins/client.py
  integrations/jenkins/main.py
  integrations/jenkins/pyproject.toml
  integrations/jenkins/tests/test_client.py
  integrations/jenkins/tests/webhook_processors/conftest.py
  integrations/jenkins/tests/webhook_processors/test_build_processor.py
  integrations/jenkins/tests/webhook_processors/test_job_processor.py
  integrations/jenkins/utils.py
  integrations/jenkins/webhook/__init__.py
  integrations/jenkins/webhook/events.py
  integrations/jenkins/webhook/webhook_processors/__init__.py
  integrations/jenkins/webhook/webhook_processors/build_webhook_processor.py
  integrations/jenkins/webhook/webhook_processors/jenkins_abstract_webhook_processor.py
  integrations/jenkins/webhook/webhook_processors/job_webhook_processor.py
Labels: size/L, Review effort 3/5

#1627 [Integration][OpsGenie] Adds Pagination Limit to Prevent 422 when max offset is hit
  integrations/opsgenie/CHANGELOG.md
  integrations/opsgenie/client.py
  integrations/opsgenie/pyproject.toml
  integrations/opsgenie/tests/test_client.py
Labels: size/L

#1632 [Docs] Update package-lock.json to version 3 and upgrade dependencies to 5.25.0 for multiple Algolia packages
  docs/framework-guides/package-lock.json
Labels: size/XXL

#1633 [Core] Enhance error logging by including trace IDs for server errors
  CHANGELOG.md
  port_ocean/clients/port/authentication.py
  port_ocean/clients/port/client.py
  port_ocean/clients/port/mixins/blueprints.py
  port_ocean/clients/port/mixins/entities.py
  port_ocean/clients/port/mixins/integrations.py
  port_ocean/clients/port/mixins/migrations.py
  port_ocean/clients/port/mixins/organization.py
  port_ocean/clients/port/utils.py
  port_ocean/tests/clients/port/mixins/test_organization_mixin.py
  pyproject.toml
Labels: size/M

#1638 [Integration][Jira] Bump integration version to release image
  integrations/jira-server/CHANGELOG.md
  integrations/jira-server/pyproject.toml
  integrations/jira-server/sonar-project.properties
Labels: size/XS

#1624 [Core] Integrations monitoring data structure
  CHANGELOG.md
  port_ocean/clients/port/mixins/entities.py
  port_ocean/core/handlers/entities_state_applier/port/applier.py
  port_ocean/core/integrations/mixins/sync_raw.py
  port_ocean/helpers/metric/metric.py
  port_ocean/helpers/metric/utils.py
  pyproject.toml
Labels: size/L

#1628 [Integration][Jenkins] Bug Jenkins integration fails to fetch due to malformed url caused by trailing slashes
  integrations/jenkins/CHANGELOG.md
  integrations/jenkins/client.py
  integrations/jenkins/pyproject.toml
  integrations/jenkins/tests/test_client.py
Labels: size/S

#1645 [Integration][OpsGenie] Include Incidents and Services in resources with offset limit
  integrations/opsgenie/CHANGELOG.md
  integrations/opsgenie/client.py
  integrations/opsgenie/pyproject.toml
  integrations/opsgenie/tests/test_client.py
Labels: size/M

#1642 [Integration][Gitlab-v2] Add support for oauth2
  integrations/gitlab-v2/.port/spec.yaml
  integrations/gitlab-v2/CHANGELOG.md
  integrations/gitlab-v2/pyproject.toml
Labels: size/XS

#1668 [Core] bump version for dependabot vulnerabilities
  CHANGELOG.md
  pyproject.toml
Labels: size/XS

#1670 [Jira Server] Added token support for the Jira server integration
  integrations/jira-server/.port/spec.yaml
  integrations/jira-server/CHANGELOG.md
  integrations/jira-server/initialize_client.py
  integrations/jira-server/jira_server/client.py
  integrations/jira-server/pyproject.toml
Labels: size/M

#1672 [Integration][Jira] Add permission check before creating Jira webhooks to prevent 403 errors
  integrations/jira/CHANGELOG.md
  integrations/jira/jira/client.py
  integrations/jira/pyproject.toml
  integrations/jira/tests/test_client.py
Labels: size/M

#1673 [Core] Add implementation to metrics API
  CHANGELOG.md
  port_ocean/clients/port/mixins/integrations.py
  port_ocean/core/handlers/entities_state_applier/port/applier.py
  port_ocean/core/handlers/resync_state_updater/updater.py
  port_ocean/core/integrations/mixins/sync_raw.py
  port_ocean/helpers/metric/metric.py
  port_ocean/helpers/metric/utils.py
  port_ocean/ocean.py
  port_ocean/tests/core/handlers/mixins/test_sync_raw.py
  pyproject.toml
Labels: size/L

#1674 [Core] Implement caching providers- Introduced disk caching option
  .gitignore
  port_ocean/cache/__init__.py
  port_ocean/cache/base.py
  port_ocean/cache/disk.py
  port_ocean/cache/errors.py
  port_ocean/cache/memory.py
  port_ocean/config/settings.py
  port_ocean/core/integrations/mixins/sync_raw.py
  port_ocean/ocean.py
  port_ocean/tests/cache/__init__.py
  port_ocean/tests/cache/test_disk_cache.py
  port_ocean/tests/cache/test_memory_cache.py
  port_ocean/tests/core/conftest.py
  port_ocean/tests/core/handlers/mixins/test_sync_raw.py
  port_ocean/tests/utils/test_cache.py
  port_ocean/utils/cache.py
Labels: size/L

#1538 [Integration][Azure DevOps] Refactor Webhook Handling for Scalable Live Events
  integrations/azure-devops/.port/spec.yaml
  integrations/azure-devops/CHANGELOG.md
  integrations/azure-devops/azure_devops/client/azure_devops_client.py
  integrations/azure-devops/azure_devops/gitops/generate_entities.py
  integrations/azure-devops/azure_devops/misc.py
  integrations/azure-devops/azure_devops/webhooks/events.py
  integrations/azure-devops/azure_devops/webhooks/listeners/listener.py
  integrations/azure-devops/azure_devops/webhooks/listeners/pull_request.py
  integrations/azure-devops/azure_devops/webhooks/listeners/push.py
  integrations/azure-devops/azure_devops/webhooks/webhook_event.py
  integrations/azure-devops/azure_devops/webhooks/webhook_event_observer.py
  integrations/azure-devops/azure_devops/webhooks/webhook_processors/__init__.py
  integrations/azure-devops/azure_devops/webhooks/webhook_processors/base_processor.py
  integrations/azure-devops/azure_devops/webhooks/webhook_processors/file_webhook_processor.py
  integrations/azure-devops/azure_devops/webhooks/webhook_processors/gitops_webhook_processor.py
  integrations/azure-devops/azure_devops/webhooks/webhook_processors/pull_request_processor.py
  integrations/azure-devops/azure_devops/webhooks/webhook_processors/repository_processor.py
  integrations/azure-devops/bootstrap.py
  integrations/azure-devops/integration.py
  integrations/azure-devops/main.py
  integrations/azure-devops/pyproject.toml
  integrations/azure-devops/tests/azure_devops/client/test_azure_devops_client.py
  integrations/azure-devops/tests/azure_devops/webhooks/__init__.py
  integrations/azure-devops/tests/azure_devops/webhooks/webhook_processors/__init__.py
  integrations/azure-devops/tests/azure_devops/webhooks/webhook_processors/test_base_processors.py
  integrations/azure-devops/tests/azure_devops/webhooks/webhook_processors/test_file_webhook_processor.py
  integrations/azure-devops/tests/azure_devops/webhooks/webhook_processors/test_pull_request_processor.py
  integrations/azure-devops/tests/azure_devops/webhooks/webhook_processors/test_repository_processor.py
  integrations/azure-devops/tests/conftest.py
Labels: size/XXL

#1696 [Core] Multiprocessing
  .github/workflows/core-test.yml
  CHANGELOG.md
  port_ocean/core/integrations/mixins/sync_raw.py
  port_ocean/core/integrations/mixins/utils.py
  pyproject.toml
Labels: size/M

#1699 [Integration][Opsgenie] Fixed offset tracking in OpsGenie pagination logic
  integrations/opsgenie/CHANGELOG.md
  integrations/opsgenie/client.py
  integrations/opsgenie/pyproject.toml
  integrations/opsgenie/tests/test_client.py
Labels: size/M

#1701 [Integration][Bitbucket Server] Fix integration section type and add deployment override
  integrations/bitbucket-server/.port/spec.yaml
  integrations/bitbucket-server/CHANGELOG.md
  integrations/bitbucket-server/pyproject.toml
Labels: size/XS, Review effort 1/5

#1685 [CI] Replace base image from debian to echo image
  .github/workflows/build-infra-images.yml
  CHANGELOG.md
  integrations/_infra/Dockerfile.base.builder
  integrations/_infra/Dockerfile.base.runner
  pyproject.toml
Labels: size/S

#1704 [Integration][Bitbucket-Cloud] Add Deployment Method Override to Spec
  integrations/bitbucket-cloud/.port/spec.yaml
  integrations/bitbucket-cloud/CHANGELOG.md
  integrations/bitbucket-cloud/pyproject.toml
Labels: size/XS

#1675 [Docs] Add GitHub Actions workflow to trigger documentation sync on changes to port-app-config.yaml
  .github/workflows/trigger-doc-sync.yml
Labels: github_actions, size/S, Review effort 2/5

#1715 [Integration][Github] Fix timezone inconsistency issue in Github app token expiry
  integrations/github/CHANGELOG.md
  integrations/github/github/clients/auth/abstract_authenticator.py
  integrations/github/github/clients/auth/github_app_authenticator.py
  integrations/github/github/core/exporters/abstract_exporter.py
  integrations/github/github/core/exporters/repository_exporter.py
  integrations/github/pyproject.toml
  integrations/github/tests/clients/test_gh_authenticator.py
Labels: size/S
