Repository port-labs/ocean, pull requests merged in 2025-01, with the labels that each got.

#1283 [Integration][Datadog] Added OAuth support for datadog
  .vscode/launch.json
  integrations/datadog/.port/spec.yaml
  integrations/datadog/CHANGELOG.md
  integrations/datadog/client.py
  integrations/datadog/main.py
  integrations/datadog/pyproject.toml
Labels: size/M

#1285 [Core] JQ Mapping log enrichment - empty values support
  CHANGELOG.md
  port_ocean/core/handlers/entity_processor/jq_entity_processor.py
  port_ocean/tests/core/handlers/entity_processor/test_jq_entity_processor.py
  pyproject.toml
Labels: size/M

#1291 [Core] Adjust jq mapping log - terminology and counter
  CHANGELOG.md
  port_ocean/core/handlers/entity_processor/jq_entity_processor.py
  port_ocean/tests/core/handlers/entity_processor/test_jq_entity_processor.py
  pyproject.toml
Labels: size/S

#1300 [Infra] changed team name in CODEOWNERS
  .github/CODEOWNERS
Labels: size/M

#1296 [Integration][Jira] Upgrade Jira integration to export issues by sprint
  integrations/jira/.port/resources/port-app-config.yaml
  integrations/jira/CHANGELOG.md
  integrations/jira/jira/client.py
  integrations/jira/jira/overrides.py
  integrations/jira/main.py
  integrations/jira/pyproject.toml
Labels: size/M

#1248 [Integration][ADO] Fix Entity Update Issue on Master Default Branch
  integrations/azure-devops/.port/resources/port-app-config.yaml
  integrations/azure-devops/CHANGELOG.md
  integrations/azure-devops/azure_devops/misc.py
  integrations/azure-devops/azure_devops/webhooks/listeners/push.py
Labels: size/M

#1303 [Core] Fix event handling when using `register_raw` and `unregister_raw`
  CHANGELOG.md
  port_ocean/core/integrations/mixins/sync_raw.py
  port_ocean/tests/core/handlers/mixins/test_sync_raw.py
  pyproject.toml
Labels: size/M

#1277 [Integration][AWS] Fixed JSON key issues caused by custom properties enum
  integrations/aws/CHANGELOG.md
  integrations/aws/pyproject.toml
  integrations/aws/tests/conftest.py
  integrations/aws/tests/utils/test_resources.py
  integrations/aws/utils/resources.py
Labels: size/L

#1299 [Integration][Jira] Fix webhook does not respect selector parameters
  integrations/jira/CHANGELOG.md
  integrations/jira/jira/client.py
  integrations/jira/main.py
  integrations/jira/pyproject.toml
Labels: size/M

#1312 [Integration][AWS] | Handling Throttling for Cloud Control Get Resource
  integrations/aws/CHANGELOG.md
  integrations/aws/main.py
  integrations/aws/poetry.lock
  integrations/aws/pyproject.toml
  integrations/aws/utils/misc.py
  integrations/aws/utils/resources.py
Labels: size/L

#1308 [Core] Fixed case where integration creation failed when using `WEBHOOKS_ONLY`
  .vscode/launch.json
  CHANGELOG.md
  port_ocean/core/defaults/initialize.py
  port_ocean/core/event_listener/base.py
  port_ocean/core/event_listener/http.py
  port_ocean/core/event_listener/kafka.py
  port_ocean/core/event_listener/once.py
  port_ocean/core/event_listener/polling.py
  pyproject.toml
Labels: size/M

#1227 [Integration][Jira] Adds teams kind
  integrations/jira/.port/resources/blueprints.json
  integrations/jira/.port/resources/port-app-config.yaml
  integrations/jira/.port/spec.yaml
  integrations/jira/CHANGELOG.md
  integrations/jira/jira/client.py
  integrations/jira/jira/overrides.py
  integrations/jira/main.py
  integrations/jira/pyproject.toml
  integrations/jira/tests/test_client.py
Labels: size/L

#1315 [Integration][ServiceNow] - Add support for api query filtering
  integrations/servicenow/.port/resources/port-app-config.yaml
  integrations/servicenow/CHANGELOG.md
  integrations/servicenow/client.py
  integrations/servicenow/integration.py
  integrations/servicenow/main.py
  integrations/servicenow/pyproject.toml
Labels: size/M

#1321 [Integration][Azure] Enhanced API Version Consistency in Resource Management Client
  integrations/azure/CHANGELOG.md
  integrations/azure/azure_integration/azure_patch.py
  integrations/azure/pyproject.toml
Labels: size/XS

#1313 [Docs] Fix example on how to run `ocean sail` in `README.md`
  README.md
Labels: size/XS

#1323 [Docs] Fix path to regexp vulnerability
  docs/framework-guides/package-lock.json
  integrations/jira/.port/resources/blueprints.json
  integrations/jira/.port/resources/port-app-config.yaml
Labels: size/S

#1320 [Integration][Jira] Ocean Rate limiting handling from Jira
  integrations/jira/CHANGELOG.md
  integrations/jira/jira/client.py
  integrations/jira/pyproject.toml
Labels: size/S

#1324 [Core] Bump jinja `3.1.5`
  CHANGELOG.md
  poetry.lock
  pyproject.toml
Labels: size/M

#1329 [Integration][Jira] Updated default mapping
  integrations/jira/.port/resources/port-app-config.yaml
  integrations/jira/CHANGELOG.md
  integrations/jira/pyproject.toml
Labels: size/XS

#1332 [Integration][Gitlab] | Resolve UserWarning Log
  integrations/gitlab/CHANGELOG.md
  integrations/gitlab/gitlab_integration/core/async_fetcher.py
  integrations/gitlab/gitlab_integration/gitlab_service.py
  integrations/gitlab/pyproject.toml
Labels: size/S

#1318 [Core] Introduced a new entity diff resolver to reduce port system load by comparing entities and upserting changed entities only
  CHANGELOG.md
  port_ocean/clients/port/mixins/entities.py
  port_ocean/core/integrations/mixins/sync_raw.py
  port_ocean/core/models.py
  port_ocean/core/utils/utils.py
  port_ocean/tests/core/handlers/mixins/test_sync_raw.py
  port_ocean/tests/core/utils/test_resolve_entities_diff.py
  pyproject.toml
Labels: size/XL

#1335 [Integration] Removed description from port-app-config yaml
  integrations/gitlab/.port/resources/port-app-config.yaml
  integrations/gitlab/CHANGELOG.md
  integrations/gitlab/pyproject.toml
Labels: size/XS

#1338 [Core] Fixed query to make the search easier on port's side
  CHANGELOG.md
  port_ocean/core/integrations/mixins/sync_raw.py
  pyproject.toml
Labels: size/XS

#1341 [Core] Fixed query to make the search easier on port's side - second improvement
  CHANGELOG.md
  port_ocean/core/integrations/mixins/sync_raw.py
  pyproject.toml
Labels: size/S

#1270 Added a type to items in arrays for default blueprints
  integrations/backstage/.port/resources/blueprints.json
  integrations/backstage/CHANGELOG.md
  integrations/backstage/pyproject.toml
  integrations/datadog/.port/resources/blueprints.json
  integrations/datadog/CHANGELOG.md
  integrations/datadog/pyproject.toml
  integrations/firehydrant/.port/resources/blueprints.json
  integrations/firehydrant/CHANGELOG.md
  integrations/firehydrant/pyproject.toml
  integrations/jira/.port/resources/blueprints.json
  integrations/jira/CHANGELOG.md
  integrations/jira/pyproject.toml
  integrations/kafka/.port/resources/blueprints.json
  integrations/kafka/CHANGELOG.md
  integrations/kafka/pyproject.toml
  integrations/launchdarkly/.port/resources/blueprints.json
  integrations/launchdarkly/CHANGELOG.md
  integrations/launchdarkly/pyproject.toml
  integrations/newrelic/.port/resources/blueprints.json
  integrations/newrelic/CHANGELOG.md
  integrations/newrelic/pyproject.toml
  integrations/pagerduty/.port/resources/blueprints.json
  integrations/pagerduty/CHANGELOG.md
  integrations/pagerduty/pyproject.toml
  integrations/snyk/.port/resources/blueprints.json
  integrations/snyk/CHANGELOG.md
  integrations/snyk/pyproject.toml
  integrations/sonarqube/.port/resources/blueprints.json
  integrations/sonarqube/CHANGELOG.md
  integrations/sonarqube/pyproject.toml
  integrations/terraform-cloud/.port/resources/blueprints.json
  integrations/terraform-cloud/CHANGELOG.md
  integrations/terraform-cloud/pyproject.toml
  integrations/wiz/.port/resources/blueprints.json
  integrations/wiz/CHANGELOG.md
  integrations/wiz/pyproject.toml
Labels: size/M

#1348 [CI] Fix poetry version to use `1.8.3`
  .github/workflows/apply-release.yml
  .github/workflows/upgrade-integrations.yml
Labels: size/XS

#1336 [Core] Reduce port system load by comparing entities and upserting changed entities for all types of integrations
  CHANGELOG.md
  port_ocean/clients/port/mixins/entities.py
  port_ocean/core/integrations/mixins/sync_raw.py
  port_ocean/tests/core/handlers/mixins/test_sync_raw.py
  pyproject.toml
Labels: size/L

#1327 [Integration][Dynatrace] Add Teams Kind and Create Relation Between SLO and Entities
  integrations/dynatrace/.port/resources/blueprints.json
  integrations/dynatrace/.port/resources/port-app-config.yaml
  integrations/dynatrace/.port/spec.yaml
  integrations/dynatrace/CHANGELOG.md
  integrations/dynatrace/client.py
  integrations/dynatrace/integration.py
  integrations/dynatrace/main.py
  integrations/dynatrace/pyproject.toml
Labels: size/M

#1343 [Integration][GItlab] Revert changes made in attempt to resolve race conditions
  integrations/gitlab/CHANGELOG.md
  integrations/gitlab/gitlab_integration/events/event_handler.py
  integrations/gitlab/gitlab_integration/gitlab_service.py
  integrations/gitlab/pyproject.toml
Labels: size/M

#1304 [Integration][GCP] Added Rate Limiting for ProjectsV3GetRequestsPerMinutePerProject Quota
  integrations/gcp/CHANGELOG.md
  integrations/gcp/gcp_core/helpers/ratelimiter/overrides.py
  integrations/gcp/gcp_core/search/resource_searches.py
  integrations/gcp/gcp_core/utils.py
  integrations/gcp/main.py
  integrations/gcp/pyproject.toml
  integrations/gcp/tests/gcp_core/search/test_resource_searches.py
Labels: size/L

#1353 [Core] Raise error if integration gets empty config from port
  CHANGELOG.md
  port_ocean/context/event.py
  port_ocean/core/handlers/port_app_config/api.py
  port_ocean/exceptions/api.py
  port_ocean/tests/core/handlers/port_app_config/test_api.py
  port_ocean/tests/core/handlers/port_app_config/test_base.py
  pyproject.toml
Labels: size/L

#1360 [Core] Entity diff calculation only on resync
  CHANGELOG.md
  port_ocean/core/integrations/mixins/sync_raw.py
  port_ocean/tests/core/handlers/mixins/test_sync_raw.py
  pyproject.toml
Labels: size/L

#1337 [Core] add the abstract class and context function
  port_ocean/context/ocean.py
  port_ocean/core/handlers/queue/__init__.py
  port_ocean/core/handlers/queue/abstract_queue.py
  port_ocean/core/handlers/queue/local_queue.py
  port_ocean/core/handlers/webhook/__init__.py
  port_ocean/core/handlers/webhook/abstract_webhook_processor.py
  port_ocean/core/handlers/webhook/processor_manager.py
  port_ocean/core/handlers/webhook/webhook_event.py
  port_ocean/exceptions/webhook_processor.py
  port_ocean/ocean.py
  port_ocean/tests/core/handlers/queue/test_local_queue.py
  port_ocean/tests/core/handlers/webhook/test_abstract_webhook_processor.py
  port_ocean/tests/core/handlers/webhook/test_processor_manager.py
  port_ocean/tests/core/handlers/webhook/test_webhook_event.py
  port_ocean/utils/signal.py
Labels: size/XL
