Repository port-labs/ocean, pull requests merged in 2025-06, with the labels that each got.

#1714 Improve entity deleteion
  CHANGELOG.md
  integrations/_infra/Dockerfile.Deb
  poetry.lock
  port_ocean/config/dynamic.py
  port_ocean/core/integrations/mixins/sync_raw.py
  port_ocean/exceptions/core.py
  port_ocean/helpers/metric/metric.py
  port_ocean/tests/log/test_handlers.py
  pyproject.toml
Labels: size/XL

#1707 [Integration][Gitlab] deprecate gitlab integration
  .github/workflows/release-integrations.yml
  integrations/gitlab-v2/.port/spec.yaml
  integrations/gitlab-v2/CHANGELOG.md
  integrations/gitlab-v2/pyproject.toml
  integrations/gitlab/CHANGELOG.md
  integrations/gitlab/README.md
  integrations/gitlab/pyproject.toml
  scripts/bump-all.sh
Labels: size/M

#1717 [CI] Fix Docker images scan workflow
  .github/workflows/docker-images-security-scan.yml
Labels: size/XS

#1728 [Core] Port 14266 ocean to use new bulk inserts route
  CHANGELOG.md
  port_ocean/clients/port/mixins/entities.py
  pyproject.toml
Labels: size/XS, Review effort 1/5

#1732 [Integration][ServiceNow] Update integration default for incident blueprint
  integrations/servicenow/.port/resources/blueprints.json
  integrations/servicenow/.port/resources/port-app-config.yaml
  integrations/servicenow/CHANGELOG.md
Labels: size/S, Review effort 2/5

#1739 [Integration][Jira] Update OAuth Detection Logic
  integrations/jira/CHANGELOG.md
  integrations/jira/jira/client.py
  integrations/jira/pyproject.toml
  integrations/jira/tests/test_client.py
Labels: size/M, Review effort 2/5

#1742 [Core] Port 14266 ocean to use new bulk inserts route
  CHANGELOG.md
  port_ocean/clients/port/mixins/entities.py
  port_ocean/config/settings.py
  port_ocean/tests/core/handlers/mixins/test_sync_raw.py
  pyproject.toml
Labels: size/M, Review effort 2/5

#1747 [Core] Fixed core version
  CHANGELOG.md
  pyproject.toml
Labels: size/XS, Review effort 1/5

#1763 [Docs] Added deep wiki badge
  README.md
Labels: size/XS, Review effort 1/5

#1764 [Core] Update is oauth condition
  CHANGELOG.md
  poetry.lock
  port_ocean/clients/auth/oauth_client.py
  pyproject.toml
Labels: size/S, Review effort 2/5

#1766 [Core] report syncing state metrics
  CHANGELOG.md
  port_ocean/core/integrations/mixins/sync_raw.py
  pyproject.toml
Labels: size/XS, Review effort 2/5

#1762 [Integration][Statuspage] Add under_maintenance option to components status property
  integrations/statuspage/.port/resources/blueprints.json
  integrations/statuspage/CHANGELOG.md
  integrations/statuspage/pyproject.toml
Labels: size/XS, Review effort 2/5

#1741 [Integration][Gitlab-V2] Retrieve Jobs from Pipeline Instead of Projects
  integrations/gitlab-v2/CHANGELOG.md
  integrations/gitlab-v2/gitlab/clients/gitlab_client.py
  integrations/gitlab-v2/main.py
  integrations/gitlab-v2/pyproject.toml
  integrations/gitlab-v2/tests/clients/test_gitlab_client.py
Labels: size/M, Review effort 2/5

#1784 [Integration][Gitlab-v2] Added Support For Ingesting Merge Requests In Different States
  integrations/gitlab-v2/CHANGELOG.md
  integrations/gitlab-v2/gitlab/webhook/webhook_processors/merge_request_webhook_processor.py
  integrations/gitlab-v2/integration.py
  integrations/gitlab-v2/main.py
  integrations/gitlab-v2/pyproject.toml
  integrations/gitlab-v2/tests/webhook/webhook_processors/test_merge_request_webhook_processor.py
Labels: size/M, Review effort 2/5

#1637 [Integration][Github] Implement support for workflows
  integrations/github/.port/spec.yaml
  integrations/github/CHANGELOG.md
  integrations/github/github/core/exporters/workflow_runs_exporter.py
  integrations/github/github/core/exporters/workflows_exporter.py
  integrations/github/github/core/options.py
  integrations/github/github/helpers/utils.py
  integrations/github/github/webhook/events.py
  integrations/github/github/webhook/registry.py
  integrations/github/github/webhook/webhook_processors/workflow_run_webhook_processor.py
  integrations/github/github/webhook/webhook_processors/workflow_webhook_processor.py
  integrations/github/main.py
  integrations/github/pyproject.toml
  integrations/github/tests/github/core/exporters/test_workflow_exporter.py
  integrations/github/tests/github/core/exporters/test_workflow_run_exporter.py
  integrations/github/tests/github/webhook/webhook_processors/test_workflow_run_webhook_processor.py
  integrations/github/tests/github/webhook/webhook_processors/test_workflow_webhook_processor.py
Labels: size/XL, Review effort 3/5

#1737 [Core] Updated webhook processor handling
  CHANGELOG.md
  port_ocean/core/handlers/webhook/processor_manager.py
  port_ocean/exceptions/webhook_processor.py
  port_ocean/tests/core/handlers/webhook/test_processor_manager.py
  pyproject.toml
Labels: size/M, Review effort 2/5

#1796 [Integration][SonarQube] Handle 404 errors gracefully
  integrations/sonarqube/CHANGELOG.md
  integrations/sonarqube/client.py
  integrations/sonarqube/pyproject.toml
  integrations/sonarqube/tests/test_client.py
Labels: size/S, Review effort 2/5

#1803 [Core] Update dependencies
  CHANGELOG.md
  poetry.lock
  port_ocean/helpers/async_client.py
  pyproject.toml
Labels: size/L, Review effort 2/5

#1809 [Core] - decrease bulks concurrency to 5 to reduce load on port-api
  port_ocean/clients/port/mixins/entities.py
Labels: size/XS, Review effort 2/5

#1814 Port 15161 decrease bulks concurrency in ocean
  CHANGELOG.md
  port_ocean/clients/port/mixins/entities.py
  pyproject.toml
Labels: size/XS, Review effort 1/5

#1816 [Core] Fixed metrics tracking for raw data processing
  CHANGELOG.md
  port_ocean/core/integrations/mixins/sync_raw.py
  pyproject.toml
Labels: size/XS, Review effort 2/5

#1819 [Core] Add ocean user to docker
  CHANGELOG.md
  integrations/_infra/Dockerfile.Deb
  integrations/_infra/Dockerfile.local
  pyproject.toml
Labels: size/S, Review effort 2/5

#1823 Port 15181 bug cache not working in ocean
  CHANGELOG.md
  port_ocean/cache/disk.py
  pyproject.toml
  scripts/run-smoke-test.sh
Labels: size/XS, Review effort 2/5

#1828 [Integration][Jira] Fixed jira teams pagination bug
  integrations/jira/CHANGELOG.md
  integrations/jira/jira/client.py
  integrations/jira/pyproject.toml
  integrations/jira/tests/test_client.py
Labels: size/M, Review effort 2/5

#1832 [Integration][Github Copilot] Pagination Bug
  integrations/github-copilot/CHANGELOG.md
  integrations/github-copilot/clients/github_client.py
  integrations/github-copilot/pyproject.toml
Labels: size/S

#1835 [Core] Fixed result of sync returned
  CHANGELOG.md
  port_ocean/core/integrations/mixins/sync_raw.py
  port_ocean/tests/core/handlers/mixins/test_sync_raw.py
  pyproject.toml
Labels: size/S

#1838 [Core] Added resource kind to logging context
  CHANGELOG.md
  port_ocean/core/integrations/mixins/sync_raw.py
  pyproject.toml
Labels: size/S

#1698 [Integration][Github] Add support for User and Teams kind
  integrations/github/.port/resources/blueprints.json
  integrations/github/.port/resources/port-app-config.yml
  integrations/github/.port/spec.yaml
  integrations/github/CHANGELOG.md
  integrations/github/github/clients/http/graphql_client.py
  integrations/github/github/core/exporters/team_exporter.py
  integrations/github/github/core/exporters/user_exporter.py
  integrations/github/github/core/options.py
  integrations/github/github/helpers/gql_queries.py
  integrations/github/github/helpers/utils.py
  integrations/github/github/webhook/events.py
  integrations/github/github/webhook/registry.py
  integrations/github/github/webhook/webhook_processors/team_member_webhook_processor.py
  integrations/github/github/webhook/webhook_processors/team_webhook_processor.py
  integrations/github/github/webhook/webhook_processors/user_webhook_processor.py
  integrations/github/integration.py
  integrations/github/main.py
  integrations/github/pyproject.toml
  integrations/github/tests/github/core/exporters/test_team_exporter.py
  integrations/github/tests/github/core/exporters/test_user_exporter.py
  integrations/github/tests/github/webhook/webhook_processors/test_team_member_webhook_processor.py
  integrations/github/tests/github/webhook/webhook_processors/test_team_webhook_processor.py
  integrations/github/tests/github/webhook/webhook_processors/test_user_webhook_processor.py
Labels: size/XXL

#1842 [Integration][Gitlab] deprecation returned
  integrations/gitlab/CHANGELOG.md
  integrations/gitlab/pyproject.toml
Labels: size/XS

#1843 [Integration] feat readd integrations versions tags
  integrations/backstage/CHANGELOG.md
  integrations/backstage/pyproject.toml
  integrations/bitbucket-server/CHANGELOG.md
  integrations/bitbucket-server/pyproject.toml
  integrations/fake-integration/CHANGELOG.md
  integrations/fake-integration/pyproject.toml
  integrations/github/CHANGELOG.md
  integrations/github/pyproject.toml
  integrations/gitlab/CHANGELOG.md
  integrations/jira-server/CHANGELOG.md
  integrations/jira-server/pyproject.toml
Labels: size/M
