Repository port-labs/ocean, pull requests merged in 2025-09, with the labels that each got.

#2071 [Integration][AWS-v3] convert to use organizations strategy by default
  integrations/aws-v3/.port/spec.yaml
  integrations/aws-v3/CHANGELOG.md
  integrations/aws-v3/aws/auth/providers/assume_role_with_web_identity_provider.py
  integrations/aws-v3/aws/auth/session_factory.py
  integrations/aws-v3/aws/auth/strategies/multi_account_strategy.py
  integrations/aws-v3/aws/auth/strategies/organizations_strategy.py
  integrations/aws-v3/aws/auth/utils.py
  integrations/aws-v3/pyproject.toml
  integrations/aws-v3/tests/auth/test_providers.py
  integrations/aws-v3/tests/auth/test_session_factory.py
  integrations/aws-v3/tests/auth/test_strategies.py
  integrations/aws-v3/tests/conftest.py
Labels: size/L

#2075 [Integration][AWS-v3] disable default installation schemas except hosted by port ocean 2
  integrations/aws-v3/.port/spec.yaml
  integrations/aws-v3/CHANGELOG.md
  integrations/aws-v3/pyproject.toml
Labels: size/XS, Review effort 1/5

#2100 [Integration][GitHub] Bump Github Ocean
  integrations/github/pyproject.toml
Labels: size/XS, Review effort 1/5

#2102 [Core] feat: bump version for ocean core
  CHANGELOG.md
  pyproject.toml
Labels: size/XS, Review effort 1/5

#2018 [Integration][Gitlab-v2] Enrich pipeline data with project context during resync
  integrations/gitlab-v2/CHANGELOG.md
  integrations/gitlab-v2/gitlab/helpers/utils.py
  integrations/gitlab-v2/main.py
  integrations/gitlab-v2/pyproject.toml
  integrations/gitlab-v2/tests/helpers/test_utils.py
Labels: size/M, Review effort 2/5

#2099 [Integration][Checkmarx-One] Add Live Events Support for SCA and Containers
  integrations/checkmarx-one/.port/resources/port-app-config.yaml
  integrations/checkmarx-one/CHANGELOG.md
  integrations/checkmarx-one/checkmarx_one/core/exporters/scan_result_exporter.py
  integrations/checkmarx-one/checkmarx_one/webhook/webhook_processors/containers_scan_result_webhook_processor.py
  integrations/checkmarx-one/checkmarx_one/webhook/webhook_processors/sca_scan_result_webhook_processor.py
  integrations/checkmarx-one/main.py
  integrations/checkmarx-one/pyproject.toml
  integrations/checkmarx-one/tests/checkmarx_one/core/exporters/test_scan_results_exporter.py
  integrations/checkmarx-one/tests/checkmarx_one/webhook/webhook_processors/test_containers_scan_result_webhook_processor.py
  integrations/checkmarx-one/tests/checkmarx_one/webhook/webhook_processors/test_sca_scan_result_webhook_processor.py
Labels: size/XL, Review effort 4/5

#2076 [Integration][OpenCost] Handled 404 Errors breaking Integration
  integrations/opencost/CHANGELOG.md
  integrations/opencost/client.py
  integrations/opencost/pyproject.toml
  integrations/opencost/tests/conftest.py
  integrations/opencost/tests/test_client.py
  integrations/opencost/utils.py
Labels: size/L, Review effort 2/5

#2027 [Integration][GCP] `gRPC` Fork Deadlock Prevention
  integrations/gcp/CHANGELOG.md
  integrations/gcp/gcp_core/utils.py
  integrations/gcp/main.py
  integrations/gcp/pyproject.toml
Labels: size/M, Review effort 2/5

#2114 [Integration][AWS-V3] Add Support ForAWS::EC2::Instance Kind
  integrations/aws-v3/.gitignore
  integrations/aws-v3/.port/resources/blueprints.json
  integrations/aws-v3/.port/resources/port-app-config.yml
  integrations/aws-v3/CHANGELOG.md
  integrations/aws-v3/aws/core/exporters/ec2/instance/__init__.py
  integrations/aws-v3/aws/core/exporters/ec2/instance/actions.py
  integrations/aws-v3/aws/core/exporters/ec2/instance/exporter.py
  integrations/aws-v3/aws/core/exporters/ec2/instance/models.py
  integrations/aws-v3/aws/core/helpers/types.py
  integrations/aws-v3/main.py
  integrations/aws-v3/pyproject.toml
  integrations/aws-v3/tests/core/exporters/ec2/__init__.py
  integrations/aws-v3/tests/core/exporters/ec2/instance/test_actions.py
  integrations/aws-v3/tests/core/exporters/ec2/instance/test_exporter.py
  integrations/aws-v3/tests/core/exporters/ec2/instance/test_options_and_models.py
  integrations/aws-v3/tests/core/exporters/s3/bucket/test_s3_bucket_actions.py
  integrations/aws-v3/tests/core/exporters/s3/bucket/test_s3_bucket_exporter.py
  integrations/aws-v3/tests/core/exporters/s3/bucket/test_s3_bucket_options_and_models.py
Labels: size/XL, Review effort 4/5

#2132 [Core] Use spawn for multiprocessing in windows machines
  CHANGELOG.md
  port_ocean/core/integrations/mixins/sync_raw.py
  pyproject.toml
Labels: size/XS, Review effort 2/5

#2063 [Integration][Azure-Devops] Rate Limiting BugFix
  integrations/azure-devops/CHANGELOG.md
  integrations/azure-devops/azure_devops/client/base_client.py
  integrations/azure-devops/azure_devops/client/rate_limiter.py
  integrations/azure-devops/pyproject.toml
  integrations/azure-devops/tests/azure_devops/client/test_rate_limiter.py
Labels: size/L

#2146 [Integration][Dynatrace] Fix: Gracefully handle async errors when enriching SLO
  integrations/dynatrace/CHANGELOG.md
  integrations/dynatrace/client.py
  integrations/dynatrace/pyproject.toml
  integrations/dynatrace/tests/test_client.py
Labels: size/M, Review effort 2/5

#2157 [Core] Add write permissions for the ocean user to /etc/ssl/certs
  CHANGELOG.md
  integrations/_infra/Dockerfile.Deb
  pyproject.toml
Labels: size/XS, Review effort 2/5, Possible security concern

#2147 [Integration][AzureDevOps] Implemented Environments and Deployments Kind
  integrations/azure-devops/CHANGELOG.md
  integrations/azure-devops/azure_devops/client/azure_devops_client.py
  integrations/azure-devops/azure_devops/misc.py
  integrations/azure-devops/examples/example-mappings.yaml
  integrations/azure-devops/main.py
  integrations/azure-devops/pyproject.toml
  integrations/azure-devops/tests/azure_devops/client/test_azure_devops_client.py
Labels: size/L, Review effort 3/5

#2134 [Core] memory optimizations
  CHANGELOG.md
  integrations/_infra/Dockerfile.Deb
  integrations/_infra/Dockerfile.local
  poetry.lock
  port_ocean/core/handlers/entity_processor/jq_entity_processor.py
  port_ocean/core/handlers/entity_processor/jq_input_evaluator.py
  port_ocean/core/handlers/port_app_config/models.py
  port_ocean/core/integrations/mixins/sync_raw.py
  port_ocean/core/integrations/mixins/utils.py
  port_ocean/tests/core/handlers/entity_processor/test_jq_entity_processor.py
  pyproject.toml
Labels: size/XL, Review effort 4/5, Possible security concern

#2170 [Integration][Checkmarx One] Add ResourceConfig to List of Resources in Integration Config File
  integrations/checkmarx-one/CHANGELOG.md
  integrations/checkmarx-one/integration.py
  integrations/checkmarx-one/pyproject.toml
Labels: size/XS, Review effort 2/5

#2165 [Integration][Dynatrace] Don't fetch related entities for SLOs without a filter
  integrations/dynatrace/CHANGELOG.md
  integrations/dynatrace/client.py
  integrations/dynatrace/pyproject.toml
  integrations/dynatrace/tests/test_client.py
Labels: size/M, Review effort 2/5

#2168 [Integration][AWS-v3] add installation docs
  integrations/aws-v3/.port/spec.yaml
  integrations/aws-v3/CHANGELOG.md
  integrations/aws-v3/pyproject.toml
Labels: size/XS, Review effort 1/5

#2139 [Integration][Azure DevOps] Add Support For Build, Pipeline stages and Pipeline runs kind
  integrations/azure-devops/CHANGELOG.md
  integrations/azure-devops/azure_devops/client/azure_devops_client.py
  integrations/azure-devops/azure_devops/misc.py
  integrations/azure-devops/examples/example-mappings.yaml
  integrations/azure-devops/main.py
  integrations/azure-devops/pyproject.toml
  integrations/azure-devops/tests/azure_devops/client/test_azure_devops_client.py
Labels: size/L, Review effort 2/5

#2189 [Integration] Add recommended installation method to selected integrations' spec files
  integrations/aikido/.port/spec.yaml
  integrations/aikido/CHANGELOG.md
  integrations/aikido/pyproject.toml
  integrations/amplication/.port/spec.yaml
  integrations/amplication/CHANGELOG.md
  integrations/amplication/pyproject.toml
  integrations/backstage/.port/spec.yaml
  integrations/backstage/CHANGELOG.md
  integrations/backstage/pyproject.toml
  integrations/checkmarx-one/.port/spec.yaml
  integrations/checkmarx-one/CHANGELOG.md
  integrations/checkmarx-one/pyproject.toml
  integrations/datadog/.port/spec.yaml
  integrations/datadog/CHANGELOG.md
  integrations/datadog/pyproject.toml
  integrations/firehydrant/.port/spec.yaml
  integrations/firehydrant/CHANGELOG.md
  integrations/firehydrant/pyproject.toml
  integrations/github-copilot/.port/spec.yaml
  integrations/github-copilot/CHANGELOG.md
  integrations/github-copilot/pyproject.toml
  integrations/komodor/.port/spec.yaml
  integrations/komodor/CHANGELOG.md
  integrations/komodor/pyproject.toml
  integrations/kubecost/.port/spec.yaml
  integrations/kubecost/CHANGELOG.md
  integrations/kubecost/pyproject.toml
  integrations/launchdarkly/.port/spec.yaml
  integrations/launchdarkly/CHANGELOG.md
  integrations/launchdarkly/pyproject.toml
  integrations/linear/.port/spec.yaml
  integrations/linear/CHANGELOG.md
  integrations/linear/pyproject.toml
  integrations/newrelic/.port/spec.yaml
  integrations/newrelic/CHANGELOG.md
  integrations/newrelic/pyproject.toml
  integrations/octopus/.port/spec.yaml
  integrations/octopus/CHANGELOG.md
  integrations/octopus/pyproject.toml
  integrations/opsgenie/.port/spec.yaml
  integrations/opsgenie/CHANGELOG.md
  integrations/opsgenie/pyproject.toml
  integrations/pagerduty/.port/spec.yaml
  integrations/pagerduty/CHANGELOG.md
  integrations/pagerduty/pyproject.toml
  integrations/sentry/.port/spec.yaml
  integrations/sentry/CHANGELOG.md
  integrations/sentry/pyproject.toml
  integrations/snyk/.port/spec.yaml
  integrations/snyk/CHANGELOG.md
  integrations/snyk/pyproject.toml
  integrations/statuspage/.port/spec.yaml
  integrations/statuspage/CHANGELOG.md
  integrations/statuspage/pyproject.toml
Labels: size/M, Review effort 2/5

#2077 [Integration][Jira] Jira issue kind jql bug fix
  integrations/jira/CHANGELOG.md
  integrations/jira/jira/client.py
  integrations/jira/pyproject.toml
  integrations/jira/tests/test_client.py
Labels: size/M, Review effort 2/5

#2182 [Integration][Azure DevOps] Added support for Iteration kind in Azure DevOps
  integrations/azure-devops/CHANGELOG.md
  integrations/azure-devops/azure_devops/client/azure_devops_client.py
  integrations/azure-devops/azure_devops/misc.py
  integrations/azure-devops/examples/example-blueprints.json
  integrations/azure-devops/examples/example-mappings.yaml
  integrations/azure-devops/main.py
  integrations/azure-devops/pyproject.toml
  integrations/azure-devops/tests/azure_devops/client/test_azure_devops_client.py
Labels: size/L, Review effort 3/5

#2187 [Core] added extractionTimestamp to post_integration_raw_data
  CHANGELOG.md
  port_ocean/clients/port/mixins/integrations.py
  pyproject.toml
Labels: size/XS, Review effort 2/5

#2200 [Integration][ADO] Fix throttling due to header mismatch. Also handle timeouts in pagination scenerios
  integrations/azure-devops/CHANGELOG.md
  integrations/azure-devops/azure_devops/client/azure_devops_client.py
  integrations/azure-devops/azure_devops/client/base_client.py
  integrations/azure-devops/azure_devops/client/rate_limiter.py
  integrations/azure-devops/pyproject.toml
  integrations/azure-devops/tests/azure_devops/client/test_azure_devops_base_client.py
Labels: size/L, Review effort 2/5

#2210 [Core] Change extractionTimestamp from string to int
  CHANGELOG.md
  port_ocean/clients/port/mixins/integrations.py
  pyproject.toml
Labels: size/XS

#2214 [Integration][AWS-V3] Fix Issue With AWS Organization Kind Title
  integrations/aws-v3/.port/resources/port-app-config.yml
  integrations/aws-v3/CHANGELOG.md
  integrations/aws-v3/pyproject.toml
Labels: size/XS

#2218 [Integration][Azure DevOps] Added support in spec file for embed docs feature
  integrations/azure-devops/.port/spec.yaml
  integrations/azure-devops/CHANGELOG.md
  integrations/azure-devops/pyproject.toml
Labels: size/S
